{
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "arrow-parens": ["error", "always"],
    "quote-props": ["error", "consistent"],
    "object-curly-spacing": ["error", "never"],
    "max-len": ["warn", 120]
  }
}
