@import "wireframe-zapdos-cta/src/style.css";

/* start here */

.content-wrapper {
  background-color: transparent;
  margin-bottom: 35px;

  @media (min-width: 992px) {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.section {
  .title {
    font-size: calc(var(--ui-hero-title-size) * 0.5);
    color: var(--ui-subtitle-color);
    font-family: var(--ui-hero-title-font-family);
    font-weight: var(--ui-hero-title-font-weight);

    @media (min-width: 992px) {
      font-size: var(--ui-hero-title-size);
    }
  }

  .description {
    color: var(--ui-subtitle-color);
    font-size: var(--ui-subtitle-size);
    font-family: var(--ui-subtitle-font-family);
    font-weight: var(--ui-subtitle-font-weight);
  }
}

@media (min-width: 992px) {
  .title {
    flex-basis: 50%;
    max-width: 50%;
    text-align: right;
    padding-right: 35px;
    margin-bottom: 0;

    &:only-child {
      flex-basis: 100%;
      max-width: none;
      text-align: center;
      padding-right: 0;
    }
  }

  .title ~ .description {
    max-width: 350px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 1px;
      top: 0;
      left: 50%;
      background-color: var(--ui-hero-title-color);
      opacity: .5;
    }
  }

  .description {
    flex-basis: 50%;
    text-align: left;
    padding-left: 35px;
    max-width: 350px;

    &:nth-child(2) {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:only-child {
      flex-basis: 100%;
      max-width: none;
      text-align: center;
      padding-left: 0;
    }
  }
}
