.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: var(--ui-text-font-family);
  cursor: pointer;
  transition: color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
  width: 100%;
  max-width: 100%;
}

.button--primary {
  background-color: var(--ui-btn-primary-bg);
  color: var(--ui-btn-primary-color);
  border: var(--ui-btn-primary-border-width) var(--ui-btn-primary-border-style) var(--ui-btn-primary-border-color);
  box-shadow: var(--ui-btn-primary-shadow-x) var(--ui-btn-primary-shadow-y) var(--ui-btn-primary-shadow-blur) var(--ui-btn-primary-shadow-spread) var(--ui-btn-primary-shadow-color);
}

.button--primary:hover,
.button--primary:focus {
  background-color: var(--ui-btn-primary-hover-bg);
  color: var(--ui-btn-primary-hover-color);
  border: var(--ui-btn-primary-hover-border-width) var(--ui-btn-primary-hover-border-style) var(--ui-btn-primary-hover-border-color);
  box-shadow: var(--ui-btn-primary-hover-shadow-x) var(--ui-btn-primary-hover-shadow-y) var(--ui-btn-primary-hover-shadow-blur) var(--ui-btn-primary-hover-shadow-spread) var(--ui-btn-primary-hover-shadow-color);
}

.button--primary:active {
  background-color: var(--ui-btn-primary-active-bg);
  color: var(--ui-btn-primary-active-color);
  border: var(--ui-btn-primary-active-border-width) var(--ui-btn-primary-active-border-style) var(--ui-btn-primary-active-border-color);
  box-shadow: var(--ui-btn-primary-active-shadow-x) var(--ui-btn-primary-active-shadow-y) var(--ui-btn-primary-active-shadow-blur) var(--ui-btn-primary-active-shadow-spread) var(--ui-btn-primary-active-shadow-color);
}

.button--primary-alt {
  background-color: var(--ui-alt-btn-primary-bg);
  color: var(--ui-alt-btn-primary-color);
  border: var(--ui-alt-btn-primary-border-width) var(--ui-alt-btn-primary-border-style) var(--ui-alt-btn-primary-border-color);
  box-shadow: var(--ui-alt-btn-primary-shadow-x) var(--ui-alt-btn-primary-shadow-y) var(--ui-alt-btn-primary-shadow-blur) var(--ui-alt-btn-primary-shadow-spread) var(--ui-alt-btn-primary-shadow-color);
}

.button--primary-alt:hover,
.button--primary-alt:focus {
  background-color: var(--ui-alt-btn-primary-hover-bg);
  color: var(--ui-alt-btn-primary-hover-color);
  border: var(--ui-alt-btn-primary-hover-border-width) var(--ui-alt-btn-primary-hover-border-style) var(--ui-alt-btn-primary-hover-border-color);
  box-shadow: var(--ui-alt-btn-primary-hover-shadow-x) var(--ui-alt-btn-primary-hover-shadow-y) var(--ui-alt-btn-primary-hover-shadow-blur) var(--ui-alt-btn-primary-hover-shadow-spread) var(--ui-alt-btn-primary-hover-shadow-color);
}

.button--primary-alt:active {
  background-color: var(--ui-alt-btn-primary-active-bg);
  color: var(--ui-alt-btn-primary-active-color);
  border: var(--ui-alt-btn-primary-active-border-width) var(--ui-alt-btn-primary-active-border-style) var(--ui-alt-btn-primary-active-border-color);
  box-shadow: var(--ui-alt-btn-primary-active-shadow-x) var(--ui-alt-btn-primary-active-shadow-y) var(--ui-alt-btn-primary-active-shadow-blur) var(--ui-alt-btn-primary-active-shadow-spread) var(--ui-alt-btn-primary-active-shadow-color);
}

.button--secondary {
  background-color: var(--ui-btn-secondary-bg);
  color: var(--ui-btn-secondary-color);
  border: var(--ui-btn-secondary-border-width) var(--ui-btn-secondary-border-style) var(--ui-btn-secondary-border-color);
  box-shadow: var(--ui-btn-secondary-shadow-x) var(--ui-btn-secondary-shadow-y) var(--ui-btn-secondary-shadow-blur) var(--ui-btn-secondary-shadow-spread) var(--ui-btn-secondary-shadow-color);
}

.button--secondary:hover,
.button--secondary:focus {
  background-color: var(--ui-btn-secondary-hover-bg);
  color: var(--ui-btn-secondary-hover-color);
  border: var(--ui-btn-secondary-hover-border-width) var(--ui-btn-secondary-hover-border-style) var(--ui-btn-secondary-hover-border-color);
  box-shadow: var(--ui-btn-secondary-hover-shadow-x) var(--ui-btn-secondary-hover-shadow-y) var(--ui-btn-secondary-hover-shadow-blur) var(--ui-btn-secondary-hover-shadow-spread) var(--ui-btn-secondary-hover-shadow-color);
}

.button--secondary:active {
  background-color: var(--ui-btn-secondary-active-bg);
  color: var(--ui-btn-secondary-active-color);
  border: var(--ui-btn-secondary-active-border-width) var(--ui-btn-secondary-active-border-style) var(--ui-btn-secondary-active-border-color);
  box-shadow: var(--ui-btn-secondary-active-shadow-x) var(--ui-btn-secondary-active-shadow-y) var(--ui-btn-secondary-active-shadow-blur) var(--ui-btn-secondary-active-shadow-spread) var(--ui-btn-secondary-active-shadow-color);
}

.button--secondary-alt {
  background-color: var(--ui-alt-btn-secondary-bg);
  color: var(--ui-alt-btn-secondary-color);
  border: var(--ui-alt-btn-secondary-border-width) var(--ui-alt-btn-secondary-border-style) var(--ui-alt-btn-secondary-border-color);
  box-shadow: var(--ui-alt-btn-secondary-shadow-x) var(--ui-alt-btn-secondary-shadow-y) var(--ui-alt-btn-secondary-shadow-blur) var(--ui-alt-btn-secondary-shadow-spread) var(--ui-alt-btn-secondary-shadow-color);
}

.button--secondary-alt:hover,
.button--secondary-alt:focus {
  background-color: var(--ui-alt-btn-secondary-hover-bg);
  color: var(--ui-alt-btn-secondary-hover-color);
  border: var(--ui-alt-btn-secondary-hover-border-width) var(--ui-alt-btn-secondary-hover-border-style) var(--ui-alt-btn-secondary-hover-border-color);
  box-shadow: var(--ui-alt-btn-secondary-hover-shadow-x) var(--ui-alt-btn-secondary-hover-shadow-y) var(--ui-alt-btn-secondary-hover-shadow-blur) var(--ui-alt-btn-secondary-hover-shadow-spread) var(--ui-alt-btn-secondary-hover-shadow-color);
}

.button--secondary-alt:active {
  background-color: var(--ui-alt-btn-secondary-active-bg);
  color: var(--ui-alt-btn-secondary-active-color);
  border: var(--ui-alt-btn-secondary-active-border-width) var(--ui-alt-btn-secondary-active-border-style) var(--ui-alt-btn-secondary-active-border-color);
  box-shadow: var(--ui-alt-btn-secondary-active-shadow-x) var(--ui-alt-btn-secondary-active-shadow-y) var(--ui-alt-btn-secondary-active-shadow-blur) var(--ui-alt-btn-secondary-active-shadow-spread) var(--ui-alt-btn-secondary-active-shadow-color);
}

.button--size-sm {
  padding: var(--ui-btn-sm-padding);
  border-radius: var(--ui-btn-sm-border-radius);
  font-size: var(--ui-btn-sm-size);
}

.button--size-md {
  padding: var(--ui-btn-md-padding);
  border-radius: var(--ui-btn-md-border-radius);
  font-size: var(--ui-btn-md-size);
}

.button--size-lg {
  padding: var(--ui-btn-lg-padding);
  font-size: var(--ui-btn-lg-size);
  border-radius: var(--ui-btn-lg-border-radius);
}

.section {
  min-width: 320px;
  padding: 20px 0;
  font-size: var(--ui-text-size);
  font-family: var(--ui-text-font-family);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 30px 0;
  }
}

@media (min-width: 992px) {
  .section {
    padding: 45px 0;
  }
}

.section__header {
  padding-top: 30px;

  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  width: 100%;
  text-align: center;
  font-family: var(--ui-block-title-font-family);
  font-size: var(--ui-block-title-size);
  font-weight: var(--ui-block-title-font-weight);
  line-height: var(--ui-block-title-line-height);
  color: var(--ui-block-title-color);
}

.subtitle {
  width: 100%;
  max-width: 770px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: var(--ui-subtitle-font-family);
  font-size: var(--ui-subtitle-size);
  font-weight: var(--ui-subtitle-font-weight);
  line-height: var(--ui-subtitle-line-height);
  color: var(--ui-subtitle-color);
}

.articles-wrapper {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 992px) {
  .articles-wrapper {
    justify-content: center;
  }
}

.fake {
  display: none;
  width: 25%;
  height: 0;
  padding: 0 15px;
  flex: 1;
  font-size: 0;
}

@media (min-width: 768px) {
  .fake {
    display: block;
  }
}

.article {
  width: 100%;
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: 768px) {
  .article {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .article {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

@media (min-width: 1200px) {
  .article {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.article:nth-last-of-type(2):first-child ~ .fake {
  display: none;
}

.article:nth-last-of-type(1):first-child ~ .fake {
  display: none;
}

.article:nth-last-of-type(3):first-child ~ .fake {
  display: none;
}

@media (min-width: 768px) {
  .article:nth-last-of-type(1):first-child,
  .article:nth-last-of-type(2):first-child ~ .article,
  .article:nth-last-of-type(3):first-child,
  .article:nth-last-of-type(2):first-child,
  .article:nth-last-of-type(3):first-child ~ .list__item,
  .article:nth-last-of-type(3):first-child ~ .fake {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .article:nth-last-of-type(1):first-child,
  .article:nth-last-of-type(2):first-child ~ .article,
  .article:nth-last-of-type(3):first-child,
  .article:nth-last-of-type(2):first-child,
  .article:nth-last-of-type(3):first-child ~ .list__item,
  .article:nth-last-of-type(3):first-child ~ .fake {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

@media (min-width: 992px) {
  .article:nth-last-of-type(3):first-child,
  .article:nth-last-of-type(3):first-child ~ .article {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

@media (min-width: 768px) {
  .article:nth-last-of-type(1):first-child {
    text-align: center;
  }
}

.article__picture {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 63%;
  background-color: var(--ui-media-bg);
}

.article__picture-wrapper {
  display: block;
  color: var(--ui-text-color);
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.article__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.article__text {
  margin-bottom: 15px;
  font-size: var(--ui-text-size);
  font-family: var(--ui-text-font-family);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);

  &:last-child {
    margin-bottom: 0;
  }
}

.article__link {
  font-size: var(--ui-text-size);
  font-family: var(--ui-text-font-family);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  color: var(--ui-link-color);
  transition: color 0.2s ease-out;
}

.article__link:hover,
.article__link:active,
.article__link:focus {
  color: var(--ui-link-hover-color);
}

.article__title {
  margin-bottom: 14px;
  font-family: var(--ui-heading-font-family);
  font-size: var(--ui-heading-size);
  color: var(--ui-heading-color);
  line-height: var(--ui-heading-line-height);
  font-weight: var(--ui-heading-font-weight);

  &:last-child {
    margin-bottom: 0;
  }
}

.article__title-link {
  text-decoration: none;
  color: inherit;
}

.btns-group {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 480px) {
  .button {
    width: auto;
    margin-right: 30px;
  }
}

.button:last-child {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

@media (min-width: 480px) {
  .button:last-child {
    margin-top: 0;
    margin-right: 0;
  }
}

.top-icon {
  width: 20px;
}
