.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }
}

@media (min-width: 992px) {
  .section {
    padding: 75px 0;
  }
}

.section__header {
  padding-top: 30px;

  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  width: 100%;
  text-align: center;
}

.subtitle {
  width: 100%;
  max-width: 770px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.articles-wrapper {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 992px) {
  .articles-wrapper {
    justify-content: center;
  }
}

.fake {
  display: none;
  width: 25%;
  height: 0;
  padding: 0 15px;
  flex: 1;
  font-size: 0;
}

@media (min-width: 768px) {
  .fake {
    display: block;
  }
}

.article {
  display: flex;
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .article {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .article {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

@media (min-width: 1200px) {
  .article {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.article:nth-last-of-type(2):first-child ~ .fake {
  display: none;
}

.article:nth-last-of-type(1):first-child ~ .fake {
  display: none;
}

.article:nth-last-of-type(3):first-child ~ .fake {
  display: none;
}

@media (min-width: 768px) {
  .article:nth-last-of-type(1):first-child,
  .article:nth-last-of-type(2):first-child ~ .article,
  .article:nth-last-of-type(3):first-child,
  .article:nth-last-of-type(2):first-child,
  .article:nth-last-of-type(3):first-child ~ .list__item,
  .article:nth-last-of-type(3):first-child ~ .fake {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .article:nth-last-of-type(1):first-child,
  .article:nth-last-of-type(2):first-child ~ .article,
  .article:nth-last-of-type(3):first-child,
  .article:nth-last-of-type(2):first-child,
  .article:nth-last-of-type(3):first-child ~ .list__item,
  .article:nth-last-of-type(3):first-child ~ .fake {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

@media (min-width: 992px) {
  .article:nth-last-of-type(3):first-child,
  .article:nth-last-of-type(3):first-child ~ .article {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

@media (min-width: 768px) {
  .article:nth-last-of-type(1):first-child {
    text-align: center;
  }
}

.article__picture {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 63%;
}

.article__picture-wrapper {
  display: block;
  color: var(--ui-text-color);
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.article__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.article__text {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.article__title {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.article__title-link {
  text-decoration: none;
  color: inherit;
}

.article__link {
  margin-top: auto;
  align-self: flex-start;
}

.btns-group {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  .button:last-child {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  @media (min-width: 480px) {
    .button:last-child {
      margin-top: 0;
      margin-right: 0;
    }
  }
}

.button {
  width: 100%;
}

@media (min-width: 480px) {
  .button {
    width: auto;
    margin-right: 30px;
  }
}

.top-icon {
  width: 20px;
}
