@import "wireframe-series-1-partners/src/style.css";

/* start here */
.section__header {
  margin-bottom: 40px;
}

.subtitle {
  margin-top: 50px;
  color: var(--ui-text-color);
}

.item {
  border: 0;
  padding-bottom: 20px;

  &--heading-none {
    .item__picture-wrapper {
      margin-bottom: 40px;

      @media (min-width: 768px) {
        margin-bottom: 10px;
      }
    }
  }

  &--body-none {
    .item__picture-wrapper {
      margin-right: auto;

      @media (min-width: 768px) {
        margin-right: 30px;
      }
    }
  }

  @media (min-width: 768px) {
    padding-left: 60px;

    &&--logo {
      padding-left: 0;

      .item__picture-wrapper {
        margin-bottom: 0;

        &::after {
          display: none;
        }
      }
    }
  }

  &__content {
    max-width: 100%;
    padding-left: 0;

    @media (min-width: 768px) {
      max-width: 80%;
    }
  }

  &__desc {
    position: relative;
    width: 100%;
    font-size: var(--ui-text-size);
  }

  &__title {
    font-size: var(--ui-heading-size);
    width: 100%;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 20px;

    @media (min-width: 768px) {
      width: 80%;
      text-align: left;
      margin: 0;
    }
  }

  &__picture-wrapper {
    position: relative;

    @media (min-width: 768px) {
      margin-right: 60px;
    }

    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 30px;
      background-color: var(--ui-brand-color);
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__image {
    margin-left: auto;
    margin-right: auto;
  }

  &--two-elements {
    padding-left: 20px;
  }

  &--logo {
    margin-bottom: 10px;
  }
}

.btns-group {
  padding-top: 40px;
}
