@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 0;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);

    @media (--ui-medium-devices) {
      min-height: 700px;
      padding: 168px 15px;
    }
  }
}

.map-wrapper {
  position: relative;
  margin: 0 -15px 0;

  @media(--ui-medium-devices) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
  }
}

.map {
  padding-top: 58%;

  @media (--ui-tablet-devices) {
    padding-top: 40%;
  }
}

.map__preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.contacts {
  display: flex;
  margin: 0 -15px;
  padding: 65px 20px 50px;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media(--ui-medium-devices) {
    position: relative;
    width: 460px;
    padding: 65px 80px;
    margin-right: 40px;
    margin-left: auto;
    z-index: 2;
    box-shadow: #000 1px 1px 3px 0;
  }

  &__desc {
    margin-bottom: 10px;

    a {
      transition: color .2s ease-in;
    }
  }

  &-list {
    max-width: 100%;
  }
}

.title {
  max-width: 100%;
  margin-bottom: 15px;
}

.heading {
  max-width: 100%;
  margin-bottom: 5px;
}

.socials {
  max-width: 100%;
  margin: 10px auto 30px;
  font-size: 0;

  li {
    margin: 0 12px 10px;
  }
}

.button {
  width: 100%;

  @media(--ui-phone-devices) {
    width: auto;
  }
}
