@import "wireframe-zapdos-header/src/style.css";

/* start here */
.header {
  padding: 28px 0;

  &__button {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 992px) {
      margin-right: 0;
    }

    @media (min-width: 1200px) {
      margin-left: 130px;
    }
  }
}

.logo {
  margin-top: 4px;
}

.nav-list__item {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 30px;
}

.nav {
  align-items: flex-start;

  @media (min-width: 992px) {
    align-items: center;
  }
}
