@import "wireframe-zapdos-process/src/style.css";

/* start here */

.section {
  &--only-icon {
    .article {
      padding: 30px 15px;

      &__content {
        margin-top: 0;

        &::before {
          position: static;
          width: auto;
        }
      }
    }
  }
}

.title {
  margin-bottom: 0;
}

.subtitle {
  max-width: 770px;
  margin: 0 auto;
  margin-top: 20px;

  @media (min-width: 768px;) {
    font-size: calc(var(--ui-subtitle-size) * 0.8);
  }
}

.articles-wrapper {
  margin-top: 32.5px;
}

.article {
  margin-top: 7.5px;
  padding-top: 0;
  padding-bottom: 35px;
  margin-bottom: 7.5px;

  &:nth-of-type(-n+9) {
    .article__content {
      &::before {
        content: "0"counter(steps)".";
      }
    }
  }

  &__content {
    margin-top: 100px;
    padding-left: 10px;
    text-align: center;

    &::before {
      content: counter(steps)".";
      background-color: transparent;
      font-size: calc(var(--ui-hero-title-size) * 1.38);
      line-height: var(--ui-hero-title-line-height);
      font-family: var(--ui-hero-title-font-family);
      font-weight: 700;
      top: -78px;
      left: 50%;
      transform: translateX(-50%);
      color: inherit;
      opacity: 0.2;
    }

    @media (min-width: 992px) {
      text-align: left;

      &::before {
        left: 0;
        transform: translateX(0);
      }
    }

    &--icon {
      &-none {
        margin-top: 40px;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      left: 50%;
      bottom: -20px;
      color: inherit;
      background-color: currentColor;
      transform: translateX(-50%);

      @media (min-width: 992px) {
        left: 0;
        transform: none;
      }
    }
  }
}

.btns-group {
  margin-top: 52.5px;

  .link {
    color: inherit;
    font-weight: 600;

    @media (min-width: 768px;) {
      font-size: calc(var(--ui-text-size) * 0.78);
    }
  }
}

.link {
  position: relative;
  margin-left: 0;
  margin-top: 0;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -22px;
    display: block;
    width: 12px;
    height: 2px;
    background-color: currentColor;
  }

  @media (min-width: 768px) {
    margin-left: 60px;
  }
}
