@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: left;
}

.subtitle {
  max-width: 970px;
  margin-top: 15px;
}

.articles-wrapper {
  margin-top: 50px;
}

@media (--ui-medium-devices) {
  .articles-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.article {
  display: flex;
  position: relative;
  margin-top: 30px;
  flex-direction: column;
  background-color: #d8d8d8;

  .article__cta {
    width: auto;
    max-width: 50%;

    /* font-size: calc(var(--ui-btn-md-font-size) * 0.875); */

    /* @media (--ui-tablet-devices) {
      font-size: var(--ui-btn-md-font-size);
    } */

    &:only-child {
      max-width: 100%;
    }
  }
}

@media (--ui-tablet-devices) {
  .article {
    flex-direction: row;
  }
}

@media (--ui-medium-devices) {
  .article {
    width: calc(50% - 15px);
    margin-right: 30px;
  }
}

@media (--ui-medium-devices) {
  .article:nth-of-type(even),
  .article:last-of-type {
    margin-right: 0;
  }
}

.article:nth-of-type(1) {
  margin-top: 0;
}

@media (--ui-medium-devices) {
  .article:nth-of-type(2) {
    margin-top: 0;
  }
}

.article__badge {
  position: absolute;
  width: 100%;
  max-width: 82px;
  top: 0;
  left: 20px;
  padding: 15px 7px 15px 6px;
  background-color: #d8d8d8;
  text-align: center;
  z-index: 3;
}

.article__badge::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 0;
  border-style: solid;
  border-width: 20px 41px 0;
  border-color: #d8d8d8 transparent transparent;
}

.article__info {
  display: flex;
  min-height: 211px;
  padding: 10px 19px 10px 20px;
  flex-direction: column;
  order: 2;
}

@media (--ui-tablet-devices) {
  .article__info {
    width: 50%;
  }
}

@media (--ui-medium-devices) {
  .article__info {
    width: 52.5%;
  }
}

.article__top {
  margin-bottom: auto;
}

.article__date,
.article__time {
  display: block;
}

.article__date {

  /* @media (--ui-tablet-devices) {
    font-size: calc(var(--ui-text-size) * 1.25);
  } */
}

/* .article__time {
  font-size: calc(var(--ui-text-size) * 0.875);

  @media (--ui-tablet-devices) {
    font-size: var(--ui-text-size);
  }
} */

.article__title {
  margin-top: 10px;
  margin-bottom: 10px;

  /* font-size: calc(var(--ui-heading-size) * 0.833);
  line-height: calc(var(--ui-heading-line-height) * 0.805);

  @media (--ui-tablet-devices) {
    font-size: var(--ui-heading-size);
    line-height: var(--ui-heading-line-height);
  } */
}

.article__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  line-height: var(--ui-caption-line-height);
}

.article__location {
  max-width: 50%;
}

.article__location:only-child {
  max-width: 100%;
}

.article__picture {
  display: block;
  padding-top: 70%;
  height: 100%;
}

.article__picture-wrapper {
  position: relative;
  min-height: 211px;
  order: 1;
  background-color: #9b9b9b;
}

@media (--ui-tablet-devices) {
  .article__picture-wrapper {
    width: 50%;
    min-height: 270px;
  }
}

@media (--ui-medium-devices) {
  .article__picture-wrapper {
    width: 47.4%;
  }
}

.article__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  text-align: center;
}

.btns-group {
  margin-top: 60px;
  text-align: center;
}

.button {
  width: 100%;
  max-width: 100%;

  @media (--ui-phone-devices) {
    width: auto;
  }
}

.link {
  padding: 0;
}

.top-icon {
  width: 20px;
  height: 20px;
}
