.section {
  min-width: 320px;
  padding: 50px 0;
  text-align: center;
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  word-wrap: break-word;
}

.subtitle {
  max-width: 770px;
  margin: 15px auto 0;
}

.preview-slider {

  @media (min-width: 768px) {
    margin-top: 40px;
  }

  :global {
    .slick-track {
      padding: 10px 0;
    }
  }
}

.testimonial {
  &__text {
    margin-bottom: 10px;
    font-size: calc(var(--ui-heading-size) * 0.6666);

    @media (min-width: 768px) {
      margin-bottom: 10px;
      font-size: var(--ui-heading-size);
    }
  }
}

.items-wrapper {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;

  :global {

    /* styles for default arrows */
    .slick-arrow-default {
      position: absolute;
      width: 23px;
      height: 40px;
      top: 40px;
      padding: 0;
      transform: translateY(0);
      z-index: 1;
      border: 0;
      background-color: transparent;
      color: var(--ui-brand-color);
      cursor: pointer;
      transition: opacity 0.2s ease-in;
    }

    .slick-prev-default {
      left: 0;
    }

    .slick-next-default {
      right: 0;
    }

    /* styles for custom arrows */
    .slick-arrow {
      width: 20px;
      top: 40px;
      transform: translateY(0);
      z-index: 1;
      border: 0;
      background-color: transparent;
      color: var(--ui-brand-color);
    }

    .slick-arrow::before {
      font-size: 0;
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }

    /* styles for distinguish center item */
    .slick-slide {
      opacity: 0.6;
      transition: opacity 0.2s ease-in;
    }

    .slick-center {
      opacity: 1;
    }

    /* stylelint-disable */
    .slick-center .item__picture--global {

      @media (min-width: 768px) {
        transform: scale(1) translateY(0);
      }
    }

    .item__person-info--global {

      @media (min-width: 768px) {
        transform: translateY(-10px);
        transition: transform 0.2s ease-in;
      }
    }

    .slick-center .item__person-info--global {

      @media (min-width: 768px) {
        transform: translateY(0);
      }
    }

    .item__socials--global {
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }

    .slick-center .item__socials--global {
      opacity: 1;
    }
    /* stylelint-enable */
  }
}

.items-wrapper--only-name {
  :global {
    .slick-arrow-default {
      top: 0;
    }
  }
}

.item {
  display: flex;
  padding: 10px 5px;
  outline: none;
  cursor: pointer;

  @media (min-width: 768px) {
    padding: 0 15px;
  }

  &__inner {
    max-width: 100%;
    margin: 0 auto;
    flex: 1;

    @media (min-width: 768px) {
      padding: 0 20px;
    }

    @media (min-width: 992px) {
      padding: 0 30px;
    }
  }

  &__picture-wrapper {
    margin-bottom: 20px;
  }

  &__picture {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    padding-top: 0;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--ui-media-bg);

    @media (min-width: 768px) {
      width: 120px;
      height: 120px;
      transform: scale(0.75) translateY(15px);
      opacity: 0.6;
      transition: transform 0.2s ease-in,
        opacity 0.2s ease-in;
    }
  }

  &__author {
    margin-bottom: 5px;
    font-size: var(--ui-subtitle-size);
    line-height: var(--ui-subtitle-line-height);
    font-weight: var(--ui-subtitle-font-weight);
  }

  &__position {
    margin-bottom: 10px;
  }

  &__socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.btns-group {
  padding-top: 40px;
}

.button {
  width: 100%;

  @media (min-width: 480px) {
    width: auto;
  }
}
