@import "wireframe-zapdos-awards/src/style.css";

/* start here */
.section {

  @media (min-width: 992px) {
    padding-top: 55px;
    padding-bottom: 70px;
  }
}

.item__picture {
  background-color: transparent;

  @media (min-width: 768px) {
    padding-top: 80%;
  }
}

.item__image {
  object-fit: contain;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
