@import "wireframe-zapdos-blog/src/style.css";

/* start here */
.section {

  @media (min-width: 992px) {
    padding-top: 5.98%;
    padding-bottom: 5.98%;
  }
}

.title {
  position: relative;

  @media (min-width: 992px) {
    margin-bottom: 47px;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: var(--ui-brand-color);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16px;
  }
}

.article {
  &__picture-wrapper {

    @media (min-width: 992px) {
      margin-bottom: 22px;
    }
  }

  &__picture {

    @media (min-width: 992px) {
      padding-top: 54%;
    }
  }

  &__meta {

    @media (min-width: 992px) {
      margin-bottom: 11px;
    }
  }

  &__category {
    color: var(--ui-brand-color);

    @media (min-width: 992px) {
      padding-right: 4px;
    }
  }

  &__date {

    @media (min-width: 992px) {
      padding-left: 6px;
    }
  }

  &__title {

    @media (min-width: 992px) {
      margin-bottom: 22px;
    }
  }

  &__text {

    @media (min-width: 992px) {
      margin-bottom: 23px;
    }
  }

  .link {
    text-transform: uppercase;
    padding: 0;

    &:hover {
      text-decoration: none;
    }
  }

  &:last-of-type {
    margin-bottom: 0;

    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
  }
}
