@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }

  &__header {
    text-align: center;
    margin-bottom: 50px;
  }
}

.title {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subtitle {
  max-width: 970px;
  margin: 0 auto;
}

.articles-wrapper {
  margin-bottom: -60px;

  @media (--ui-tablet-devices) {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (--ui-medium-devices) {
    max-width: 770px;
    margin-bottom: -50px;
  }
}

.article {
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: flex-start;
  margin-bottom: 60px;

  @media (--ui-medium-devices) {
    margin-bottom: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    top: 60px;
    left: 33px;
    background-color: #aaa;

    @media (--ui-tablet-devices) {
      width: 6px;
      left: 47px;
    }

    @media (--ui-medium-devices) {
      left: 82px;
    }
  }

  &:last-of-type {
    &::before {
      display: none;
    }
  }

  &__title {

    /* font-size: calc(var(--ui-heading-size) * 0.75); */
    margin-bottom: 5px;

    @media (--ui-tablet-devices) {
      font-size: calc(var(--ui-heading-size) * 0.833);
    }

    @media (--ui-medium-devices) {
      font-size: var(--ui-heading-size);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    word-wrap: break-word;
  }

  &__picture {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    padding-top: 0;
    margin-right: 15px;
    flex-shrink: 0;

    @media (--ui-tablet-devices) {
      width: 100px;
      height: 100px;
      margin-right: 30px;
    }

    @media (--ui-medium-devices) {
      width: 170px;
      height: 170px;
    }
  }

  &__image {
    border-radius: 50%;
    background-color: var(--ui-media-bg);
  }

  &__content {
    display: flex;
    max-width: calc(100% - 86px);
    min-height: 70px;
    flex-direction: column;
    justify-content: center;

    @media (--ui-tablet-devices) {
      max-width: calc(100% - 132px);
      min-height: 100px;
    }

    @media (--ui-medium-devices) {
      max-width: calc(100% - 202px);
      min-height: 170px;
    }
  }
}

.btns-group {
  text-align: center;
  padding-top: 50px;

  @media (--ui-tablet-devices) {
    padding-top: 60px;
  }
}

.button {
  width: 100%;

  @media (--ui-phone-devices) {
    width: auto;
  }
}
