@import "wireframe-zapdos-cover/src/style.css";

/* start here */
.section {
  position: relative;
  min-height: 0;
  color: #fff;
  border: 10px solid transparent;

  &--with-border {
    .section {
      border-color: currentColor;
    }
  }

  @media (min-width: 992px) {
    padding: 412px 0 272px;
  }

  &::after {
    display: block;
    content: "";
    width: 2px;
    height: 28px;
    background-color: currentColor;
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

.title {
  margin-bottom: 18px;
}

.subtitle {
  font-weight: bold;
  font-size: calc(var(--ui-subtitle-size) * 0.8);
}
