@import "wireframe-zapdos-footer/src/style.css";

.footer {
  border-width: 10px;
  border-style: solid;
  border-color: transparent;

  &--with-border {
    border-color: #fff;
  }

  &__bottom {
    position: relative;
    border: 0;

    &::before {
      background-color: #fff;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0.1;
    }
  }

  &__meta {
    font-size: calc(var(--ui-caption-size) * 1.1667);
  }
}

.logo {
  a {
    text-decoration: none;
  }

  &__title {
    font-weight: 600;
  }
}

.nav-list {
  &:first-child {

    @media (min-width: 992px) {
      margin-left: 0;
    }

    .nav-list__item {
      &:first-child {

        @media (min-width: 992px) {
          margin-left: 0;
        }
      }
    }
  }
}

.nav-list__link {
  font-family: var(--ui-block-title-font-family);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: var(--ui-small-size);
  font-weight: 600;
  color: var(--ui-link-color);
  text-decoration: none;
}

@media (min-width: 992px) {
  .nav-list__item {
    margin-left: 3.5714em;
    margin-right: 1.0714em;
    margin-top: 0.7142em;
  }

  .footer__bottom {
    padding-top: 39px;
    margin-top: 39px;
  }
}
