@import "wireframe-zapdos-about/src/style.css";

/* start here */
.section {

  @media (min-width: 768px) {
    padding: 0;
  }

  &--column {
    padding-bottom: 50px;

    @media (min-width: 768px) {
      padding-bottom: 60px;
    }

    @media (min-width: 992px) {
      padding-bottom: 75px;
    }

    .article__picture {
      padding-top: 0;
    }

    .article__content {
      padding-left: 0;
    }
  }

  &__inner {

    @media (min-width: 768px) {
      max-width: none;
      padding: 0;
    }
  }

  &--reverse {
    .article__content {

      @media (min-width: 992px) {
        padding-left: 80px;
      }
    }
  }
}

.article {

  @media (min-width: 768px) {
    align-items: stretch;

    &__tilte,
    &__subtitle,
    &__text {
      max-width: 535px;
    }
  }

  &__picture {
    padding-top: 68%;
    height: 100%;
  }

  &__title {
    position: relative;
    margin-bottom: 45px;
    font-family: var(--ui-block-title-font-family);

    @media (min-width: 992px) {
      font-size: var(--ui-block-title-size);
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 45px;
      height: 2px;
      left: 0;
      bottom: -20px;
      background-color: var(--ui-brand-color);
    }
  }

  &__text {
    font-family: var(--ui-text-font-family);
    font-size: var(--ui-subtitle-size);
    font-weight: var(--ui-text-font-weight);
    line-height: var(--ui-subtitle-line-height);
    margin-bottom: 40px;
  }

  &__content {
    padding-top: 50px;
    padding-bottom: 50px;

    @media (min-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
      max-width: 45.8%;
    }

    @media (min-width: 992px) {
      padding-top: 75px;
      padding-bottom: 75px;
    }
  }
}

