@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }
}

.title {
  text-align: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subtitle {
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
}

.articles-wrapper {
  margin: 0 -15px;

  @media (--ui-medium-devices) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.article {
  display: flex;
  position: relative;
  max-width: none;
  min-height: 300px;
  padding: 65px 20px 75px;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid var(--ui-light-shade-color);

  @media (--ui-medium-devices) {
    border-right: 1px solid var(--ui-light-shade-color);
  }

  &:first-child,
  &:nth-child(2) {

    @media (--ui-medium-devices) {
      margin-top: 0;
    }
  }

  &:first-child {
    border-top: 0;
  }

  &:nth-child(2) {

    @media (--ui-medium-devices) {
      border-top: 0;
    }
  }

  &:nth-child(even),
  &:last-of-type {

    @media (--ui-medium-devices) {
      border-right: 0;
    }
  }
}

@media (--ui-tablet-devices) {
  .article {
    padding-left: 140px;
    padding-right: 140px;
  }
}

@media (--ui-medium-devices) {
  .article {
    max-width: 50%;
    min-height: 480px;
    flex-basis: 50%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.article__picture-wrapper {
  position: static;
}

.article__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.article:only-of-type {
  max-width: 100%;
  flex-basis: 100%;
}

@media (--ui-medium-devices) {
  .article:only-of-type {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.article__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__content {
  position: relative;
  text-align: center;
  z-index: 3;
}

.article__title {
  text-align: center;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.article__subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.article__text {
  text-align: left;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.article__button {
  width: 100%;
  margin-top: 10px;
}

@media (--ui-phone-devices) {
  .article__button {
    width: auto;
  }
}

.btns-group {
  text-align: center;
  padding-top: 40px;

  &__button {
    width: 100%;

    @media (--ui-phone-devices) {
      width: auto;
    }
  }
}

.caption-decorator {
  text-align: center;
}
