@import "wireframe-zapdos-gallery/src/style.css";

/* start here */

.section {
  &__header {
    margin-bottom: 54px;
  }
}

.title {
  font-weight: var(--ui-block-title-font-weight);
  margin-bottom: 37px;
}

.subtitle {
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
}

.item {
  &__picture {
    padding-top: 100%;
    cursor: pointer;
  }

  &__text {
    text-align: center;
    font-size: var(--ui-subtitle-size);
    margin-top: 20px;
    font-weight: var(--ui-subtitle-font-weight);
    padding: 0 40px;
    color: var(--ui-dark-shade-color);
  }
}

.btns-group {
  margin-top: 34px;
}
