.section {
  min-width: 320px;
  padding: 50px 0;
  text-align: center;
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  text-align: center;
}

.subtitle {
  max-width: 620px;
  margin: 30px auto 0;
}

@media (min-width: 768px) {
  .subtitle {
    margin: 25px auto 0;
  }
}

@media (min-width: 992px) {
  .subtitle {
    max-width: 770px;
    margin: 15px auto 0;
  }
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-bottom: -30px;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 768px) {
  .items-wrapper {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .items-wrapper {
    margin-top: 40px;
    justify-content: center;
  }
}

.title + .items-wrapper {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .title + .items-wrapper {
    margin-top: 60px;
  }
}

@media (min-width: 992px) {
  .title + .items-wrapper {
    margin-top: 50px;
  }
}

.item {
  display: flex;
  padding: 0 15px;
  margin-bottom: 30px;
  flex-grow: 0;
  flex-basis: 100%;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .item {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .item {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

.item__inner {
  width: 100%;
  padding: 50px 30px;
  border: 1px solid var(--ui-light-accent-color);
}

@media (min-width: 992px) {
  .item:nth-last-of-type(4):first-child,
  .item:nth-last-of-type(4):first-child ~ .item {
    flex-basis: 33.4%;
    max-width: 33.4%;
  }
}

@media (min-width: 992px) {
  .item:nth-last-of-type(7):first-child ~ .item {
    flex-basis: 33.4%;
    max-width: 33.4%;
  }
}

.item:nth-last-of-type(7):first-child,
.item:nth-last-of-type(7):first-child + .item,
.item:nth-last-of-type(6):nth-child(2) + .item {
  flex-basis: 33.3333333%;
  max-width: 33.3333333%;
}

@media (min-width: 992px) {
  .item:nth-last-of-type(10):first-child ~ .item {
    flex-basis: 33.4%;
    max-width: 33.4%;
  }
}

.item:nth-last-of-type(10):first-child,
.item:nth-last-of-type(10):first-child + .item,
.item:nth-last-of-type(9):nth-child(2) + .item,
.item:nth-last-of-type(8):nth-child(3) + .item,
.item:nth-last-of-type(7):nth-child(4) + .item,
.item:nth-last-of-type(6):nth-child(5) + .item {
  flex-basis: 33.3333333%;
  max-width: 33.3333333%;
}

.item__pic {
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--ui-media-bg);
}

.item__pic-link {
  display: block;
  margin: 0 auto 30px;
  text-decoration: none;
  color: inherit;
}

.item__pic-link:last-child {
  margin-bottom: 0;
}

.item__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__title {
  font-size: var(--ui-heading-size);
}

.item__title-link {
  text-decoration: none;
  color: inherit;
}

.item__position {
  margin-bottom: 20px;
}

.item__position:last-child {
  margin-bottom: 0;
}

.item__desc {
  margin-bottom: 15px;
}

.item__desc:last-child {
  margin-bottom: 0;
}

.item__email {
  max-width: 100%;
  margin-bottom: 15px;
  text-decoration: none;

  a {
    color: inherit;

    &:hover,
    &:active,
    &:focus {
      color: var(--ui-brand-color);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.item .link:last-child {
  margin-bottom: 0;
}

.item .link {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 30px;
  color: var(--ui-link-color);
  padding: 0;
}

.socials {
  justify-content: center;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--ui-link-hover-color);
  text-decoration: none;
}

.button {
  width: 100%;
}

@media (min-width: 480px) {
  .button {
    width: auto;
  }
}

.top-icon {
  width: 20px;
}

.btns-group {
  padding-top: 60px;
}
