@import "wireframe-zapdos-blog/src/style.css";

/* start here */
.subtitle {
  position: relative;
  width: 100%;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  margin-bottom: 32px;
  text-align: center;

  @media (min-width: 992px) {
    margin-bottom: 57px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: var(--ui-brand-color);
  }
}

.top-icon {
  display: flex;
  position: relative;
  margin: 0 auto 30px;
  width: 60px;
  height: 60px;
  padding: 20px;
  color: var(--ui-brand-color);
  border-radius: 50%;
  background-color: var(--ui-light-shade-color);
  box-shadow: 0 2px 20px -6px var(--ui-link-color);

  > svg {
    max-width: 100%;
    max-height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--ui-dark-accent-color);
    opacity: 0.05;
  }
}

.title {
  margin-bottom: 25px;
}

.article {
  margin-bottom: 27px;
  padding-left: 35px;

  &__meta {
    margin-bottom: 5px;
    margin-top: 15px;
  }

  &__title {
    position: relative;
    min-height: 62px;
    margin-bottom: 15px;
    letter-spacing: 1px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 13px;
      left: -20px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--ui-brand-color);
    }
  }

  &__text {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .article:last-of-type:first-child {
    flex-basis: 60%;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

.title + .articles-wrapper {
  margin-top: 0;
}
