@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.section__header {
  margin-bottom: 30px;
}

.title {
  margin-bottom: 15px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.subtitle {
  margin: 0 auto;
  text-align: center;
}

@media (--ui-tablet-devices) {
  .subtitle {
    max-width: 618px;
  }
}

@media (--ui-medium-devices) {
  .subtitle {
    max-width: 770px;
  }
}

.items-wrapper {
  margin: 0 -15px -20px;

  @media (--ui-tablet-devices) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -30px;
  }

  @media (--ui-medium-devices) {
    margin-bottom: -40px;
  }
}

.fake {
  display: none;
  width: 25%;
  height: 0;
  padding: 0 15px;
  flex: 1;
  font-size: 0;
}

@media (--ui-tablet-devices) {
  .fake {
    display: block;
  }
}

.item {
  display: flex;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: stretch;
  color: inherit;
  text-decoration: none;
  outline: none;

  @media (--ui-tablet-devices) {
    margin-bottom: 30px;
  }

  @media (--ui-medium-devices) {
    margin-bottom: 40px;
  }
}

@media (--ui-tablet-devices) {
  .item {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

.item:nth-last-of-type(2):first-child ~ .fake {
  display: none;
}

.item:nth-last-of-type(1):first-child ~ .fake {
  display: none;
}

.item:nth-last-of-type(3):first-child ~ .fake {
  display: none;
}

@media (--ui-tablet-devices) {
  .item:nth-last-of-type(1):first-child,
  .item:nth-last-of-type(2):first-child ~ .item,
  .item:nth-last-of-type(2):first-child,
  .item:nth-last-of-type(4):first-child ~ .item,
  .item:nth-last-of-type(4):first-child {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

@media (--ui-tablet-devices) {
  .item:nth-last-of-type(3):first-child,
  .item:nth-last-of-type(3):first-child ~ .item {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

@media (--ui-medium-devices) {
  .item:nth-last-of-type(1):first-child {
    text-align: center;
  }
}

.item__picture {
  display: block;
  padding-top: 65%;
}

.item__picture-wrapper {
  position: relative;
  cursor: pointer;
}

.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.item__text {
  margin-top: 10px;

  @media (--ui-medium-devices) {
    margin-top: 15px;
  }
}

.btns-group {
  text-align: center;
  padding-top: 10px;
  margin-top: 40px;
  margin-left: -15px;
  margin-right: -15px;
  max-width: calc(100% + 30px);
}

.button {
  width: 100%;
}

@media (--ui-phone-devices) {
  .button {
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
  }
}

.top-icon {
  width: 20px;
}

