@import "wireframe-zapdos-services/src/style.css";

/* start here */
.section {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 992px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: 992px) {
    padding: 60px 0;
  }

  @media (min-width: 1200px) {
    padding: 96px 0;
  }

  &__header {
    padding: 0;
  }

  &__inner {
    max-width: none;
    padding: 0;
  }
}

.title {
  margin-bottom: 20px;
  letter-spacing: -2px;
  padding-left: 15px;
  padding-right: 15px;
}

.articles-wrapper {
  margin: 0;

  @media (min-width: 992px) {
    &:last-child {
      margin-bottom: -54px;
    }
  }
}

.article {
  margin: 30px 0 0;
  padding: 0;
  text-align: center;

  @media (min-width: 768px) {
    margin: 30px 0 54px;
  }

  @media (min-width: 992px) {
    flex-basis: 25%;
    max-width: 25%;
  }

  &__picture {
    padding-top: 100%;
  }

  &__picture-wrapper {
    margin-bottom: 22px;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__text {
    padding: 0 16%;
  }
}

.btns-group {
  padding-top: 40px;

  @media (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.button {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 480px) {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
