@import "wireframe-series-2-cta/src/style.css";

/* start here */

.section {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: 992px) {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  &__inner {
    max-width: 950px;
    background-color: transparent;
    padding: 0 15px;
  }

  &__header {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: -1.6px;
  }

  .title {
    font-weight: 400;

    span {
      display: block;
    }

    @media (min-width: 768px) {
      font-size: calc(var(--ui-block-title-size) * 2.35);
    }
  }

  .subtitle {
    font-size: var(--ui-subtitle-size);
  }

  .form__field {
    color: var(--ui-text-color);
    font-size: var(--ui-text-size);

    &::placeholder {
      color: var(--ui-text-color);
      font-size: var(--ui-text-size);
    }
  }
}

.title {
  margin-bottom: 30px;
}

.subtitle {
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;
}

.form {
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 768px) {
    padding-right: 20%;
    padding-left: 20%;
  }

  &__field input {
    background-color: transparent;
    opacity: 0.7;
    text-align: center;
    border-bottom: 1px solid var(--ui-light-shade-color);
    border-radius: 0;

    &:-moz-ui-invalid:not(output) {
      box-shadow: none;
    }
  }

  &__button {
    margin-top: 30px;
    width: 100%;

    @media (min-width: 768px) {
      width: auto;
    }
  }
}
