.section {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  padding: 121px 0;
  padding-top: 112px;

  @media (max-height: 970px) {
    margin-bottom: -126px;
  }

  /* background-color: var(--ui-block-bg); */
  font-family: var(--ui-text-font-family);
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  word-wrap: break-word;

  &--group {
    min-height: auto;
    padding-bottom: 50px;

    @media (max-height: 970px) {
      margin-bottom: 0;
    }
  }
}

.section__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.section__header {
  margin-bottom: 25px;
}

.section__header + .text {
  margin-top: -5px;
}

.section--left .title,
.section--left .subtitle,
.section--left .heading,
.section--left .subheading,
.section--left .text {
  margin-left: 0;
  text-align: left;
}

.section--right .title,
.section--right .subtitle,
.section--right .heading,
.section--right .subheading,
.section--right .text {
  margin-right: 0;
  text-align: right;
}

.section--state-6 .section__header {
  margin-bottom: 5px;
}

.title {
  max-width: 970px;
  margin: 0 auto 5px;
  font-family: "Rubik", sans-serif;
  font-family: var(--ui-block-title-font-family);
  font-size: var(--ui-block-title-size);
  color: var(--ui-block-title-color);
  line-height: var(--ui-block-title-line-height);
  font-weight: var(--ui-block-title-font-weight);
}

.title:last-child {
  margin-bottom: -5px;
}

.subtitle {
  max-width: 570px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-size: var(--ui-subtitle-size);
  color: var(--ui-subtitle-color);
  line-height: var(--ui-subtitle-line-height);
  font-weight: var(--ui-subtitle-font-weight);
}

.heading {
  max-width: 970px;
  margin: 0 auto 10px;
  font-family: "Rubik", sans-serif;
  font-size: var(--ui-heading-size);
  color: var(--ui-heading-color);
  line-height: var(--ui-heading-line-height);
  font-weight: var(--ui-heading-font-weight);
}

.subheading {
  max-width: 770px;
  margin: 0 auto 20px;
  font-family: "Rubik", sans-serif;
  font-size: var(--ui-subheading-size);
  color: var(--ui-subheading-color);
  line-height: var(--ui-subheading-line-height);
  font-weight: var(--ui-subheading-font-weight);
}

.text {
  font-size: 19px;
  line-height: 1.47;
  color: #999;
  margin-bottom: 25px;

  &--italic {
    font-style: italic;
  }

  &--list {
    margin-bottom: 0;
    color: var(--ui-subheading-color);
  }

  &--title {
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 30px;
    color: #fff;
  }
}

.wrapper {
  margin-bottom: 65px;
}

.section__header {
  margin-bottom: 0;
}

.title,
.heading,
.subtitle {
  display: none;
}

.subheading {
  max-width: initial;
  text-align: left;
  font-size: 21px;
  line-height: 1.52;
  font-family: "Rubik", sans-serif;
}

.button-home {
  color: var(--ui-brand-color);
  position: fixed;
  z-index: 999;
  right: 40px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  bottom: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid var(--ui-brand-color);
  font-size: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    width: 30px;
    height: 30px;
    fill: currentColor;
  }

  &:hover {
    .button-home__label {
      opacity: 1;
    }
  }

  &__label {
    display: none;
    position: absolute;
    bottom: -19px;
    width: 100px;
    left: -15px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  @media (min-width: 768px) {
    right: 100px;
    padding: 0;
    bottom: 134px;
  }
}

.list {
  position: relative;
  list-style: decimal;
  max-width: 300px;
  text-align: left;
  margin: 0 auto;
  min-height: 150px;
  font-family: "Rubik", sans-serif;
  font-style: 19px;
  margin-bottom: 50px;

  @media (min-width: 480px) {
    max-width: 383px;
  }

  @media (min-width: 768px) {
    margin-bottom: 350px;
  }

  @media (max-height: 970px) {
    margin-bottom: 50px;
  }

  &__item {
    display: list-item;
    position: relative;
    align-items: center;
    font-size: 19px;
    list-style-position: inside;
    justify-content: space-between;
    color: var(--ui-subheading-color);

    &:not(:last-child) {
      margin-bottom: 33px;
    }

    &-inner {
      display: inline-block;
      padding-left: 10px;
    }
  }

  &__spinner {
    position: fixed;
    list-style: decimal;
    display: flex;
    align-items: center;
    z-index: 99;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__link {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    border-radius: 50%;
    height: 30px;
    color: #3a5998;
    align-items: center;
    justify-content: center;
    border: solid 1px #fff;
    transition: border-color 0.2s ease-out;

    svg {
      max-width: 100%;
      max-height: 100%;
      fill: #3a5998;
      width: 16px;
      height: 18px;
    }

    &:hover {
      border-color: var(--ui-brand-color);
    }
  }
}

.list-title {
  font-size: 36px;
  margin-bottom: 65px;
  font-weight: 500;
  padding-top: 120px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  color: #fff;

  @media (min-width: 480px) {
    font-size: 40px;
  }
}
