@import "wireframe-zapdos-text/src/style.css";

.section {

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__header {

    @media (min-width: 992px) {
      margin-bottom: 32px;
    }
  }
}

.text {
  text-align: center;

  @media (min-width: 768px) {
    max-width: 870px;
  }
}