@import "wireframe-zapdos-process/src/style.css";

/* start here */
.section {
  position: relative;

  @media (min-width: 992px) {
    padding: 60px 0;
  }

  @media (min-width: 1200px) {
    padding: 94px 0;
  }
}

.title {
  position: relative;
  padding-bottom: 28px;

  &::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--ui-brand-color);
  }
}

.subtitle {
  max-width: 580px;
  margin: 21px auto 0;
  padding: 0;
}

.articles-wrapper {
  margin-top: 50px;
}

.article {
  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    min-height: 80px;
  }

  &__content {
    padding-left: 90px;

    &::before {
      height: 60px;
      min-width: 60px;
      top: 4px;
      padding: 0;
      border-radius: 0;
      border: 2px solid transparent;
      background-color: transparent;
      color: var(--ui-brand-color);
      font-family: var(--ui-heading-font-family);
      font-size: 36px;
      line-height: 56px;
    }

    &::after {
      content: "";
      display: flex;
      position: absolute;
      left: 0;
      align-items: center;
      justify-content: center;
      font-weight: var(--ui-text-font-weight);
      height: 60px;
      min-width: 60px;
      top: 4px;
      border: 2px solid currentColor;
      color: inherit;
      font-family: var(--ui-heading-font-family);
      font-size: 36px;
      line-height: 56px;
    }
  }

  &__title {
    margin-bottom: 18px;
  }
}

.btns-group {
  margin-top: 45px;
}
