@import "wireframe-zapdos-projects/src/style.css";

/* start here */
.section {
  padding: 0;

  &__header {
    margin-bottom: 0;
  }

  &__inner {
    max-width: none;
    padding: 0;
  }
}

.article {
  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0;
    min-height: 0;

    @media (min-width: 768px) {
      min-height: 0;
    }

    &-wrapper {
      order: 2;
      min-height: 200px;

      @media (min-width: 768px) {
        min-height: 360px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;

    @media (min-width: 992px) {
      padding-left: 115px;
      padding-top: 130px;
      padding-bottom: 130px;
      padding-right: 115px;
    }
  }

  .article__title {
    margin-bottom: 50px;
    position: relative;
    font-family: var(--ui-block-title-font-family);
    font-weight: var(--ui-block-title-font-weight);

    @media (min-width: 992px) {
      font-size: var(--ui-heading-lg-size);
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -20px;
      left: 0;
      height: 2px;
      width: 45px;
      background-color: var(--ui-brand-color);
    }
  }

  &__text {
    padding-right: 0;
    margin-bottom: 40px;

    @media (min-width: 992px) {
      font-size: var(--ui-heading-size);
    }
  }

  .link {
    text-decoration: none;
    font-weight: 600;

    @media (min-width: 992px) {
      font-size: calc(var(--ui-text-size) * 1.125);
    }

    &:hover {
      color: var(--ui-link-hover-color);
    }
  }

  &:nth-child(even) {
    .article {
      &__picture-wrapper {

        @media (min-width: 992px) {
          order: 1;
        }
      }

      &__content {
        padding-bottom: 30px;

        @media (min-width: 992px) {
          order: 2;
          padding-bottom: 130px;
        }
      }
    }

    .link {
      &:hover {
        color: var(--ui-link-hover-color);
      }
    }
  }

  &:last-of-type {
    .article__content {
      padding-bottom: 30px;

      @media (min-width: 992px) {
        padding-bottom: 130px;
      }
    }
  }
}
