@import "wireframe-zapdos-pricing/src/style.css";

/* start here */

.section {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 110px;
  }

  @media (min-width: 992px) {
    padding-top: 75px;
    padding-bottom: 125px;
  }
}

.title {
  font-weight: var(--ui-block-title-font-weight);

  &::after {
    content: "";
    display: block;
    margin: 16px auto;
    background-color: var(--ui-brand-color);
    height: 2px;
    width: 45px;
  }
}

@media (min-width: 768px) {
  .plans-wrapper {
    margin-top: 110px;
  }
}

.price-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 45px 0 10px;
  background-color: var(--ui-block-title-color);
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: var(--ui-light-shade-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
  padding-bottom: 0;

  &__price-count {
    display: inline-block;
    font-size: calc(var(--ui-heading-size) * 1.5);
    font-weight: var(--ui-heading-font-weight);
    margin-right: 8px;
    text-transform: uppercase;
    color: var(--ui-light-shade-color);
  }

  &__list {
    width: 100%;
    margin-bottom: 0;

    @media (min-width: 768px) {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__list-item {
    padding: 18px 15px;
    line-height: calc(var(--ui-sub-heading-size) * 3);
    margin-bottom: 0;

    &:nth-of-type(even) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--ui-dark-shade-color);
        opacity: 0.05;
      }
    }
  }

  &__price {
    order: 1;
    margin-bottom: 10px;
  }

  &__price-count,
  &__price-text {
    color: var(--ui-light-shade-color);
  }

  &__price-text {
    &::before {
      content: "/";
      margin-right: 3px;
    }
  }

  &__title {
    order: 2;
    color: var(--ui-light-shade-color);
    text-transform: uppercase;
    font-size: calc(var(--ui-heading-size)-6);
  }

  &__button {
    width: calc(100% - 30px);
    margin-top: 20px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      width: 75%;
      margin-top: auto;
      margin-bottom: 50px;
    }

    @media (min-width: 992px) {
      width: 60%;
    }
  }
}

.plan--main {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;

  .price-wrapper {
    background-color: var(--ui-brand-color);
  }

  .plan__list {
    margin-bottom: 0;

    @media (min-width: 768px) {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .plan__button {
    margin-top: 20px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-top: auto;
      margin-bottom: 50px;
    }
  }

  @media (min-width: 768px) {
    margin-top: -60px;
    margin-bottom: -60px;
  }
}

@media (min-width: 768px) {
  .plan {
    max-width: 29.9145%;
    flex-basis: 29.9145%;

    &--main {
      max-width: 31.6239%;
      flex-basis: 31.6239%;
    }
  }
}
