@import "wireframe-zapdos-about/src/style.css";

/* start here */
.section {

  @media (min-width: 992px) {
    padding: 100px 0;
  }
}

.article {
  &__picture-wrapper {

    @media (min-width: 992px) {
      max-width: 30%;
      flex-basis: 30%;
    }
  }

  &__picture {
    padding-top: 119%;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__subtitle {
    max-width: 560px;
    margin-bottom: 30px;
  }

  &__content {

    @media (min-width: 992px) {
      padding-left: 50px;
      max-width: 70%;
      flex-basis: 70%;
    }
  }
}
