@import "wireframe-zapdos-about/src/style.css";

/* start here */
.section {

  @media (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__inner {
    max-width: none;
    padding: 0;
  }

  &--reverse {
    .article__content {

      @media (min-width: 768px) {
        padding-left: 10%;
      }

      @media (min-width: 1200px) {
        padding-left: 25%;
      }
    }
  }

  &--reverse.section--column {
    .article__content {

      @media (min-width: 768px) {
        padding-left: 0;
      }

      @media (min-width: 1200px) {
        padding-left: 0;
      }
    }
  }

  &--column {
    .article {
      display: block;

      &__picture-wrapper + .article__content {
        padding-bottom: 30px;
      }

      &__content {
        padding-right: 0;
      }

      .btns-group {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.article {

  @media (min-width: 768px) {
    align-items: stretch;
  }

  &__picture {
    height: 100%;
    padding-top: 79%;
  }

  &__content {

    padding-top: 35px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
      padding-left: 40px;
    }

    &:only-child {
      flex: 1 1 auto;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;

      @media (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }

  &__title {
    font-size: calc(var(--ui-heading-lg-size)* 0.97);
    font-weight: 600;
    letter-spacing: -0.01em;

    @media (min-width: 768px) {
      max-width: 410px;
      margin-bottom: 35px;
    }
  }

  &__text,
  &__additional-text {
    font-size: calc(var(--ui-text-size) * 0.875);
    line-height: calc(var(--ui-text-line-height) * 1.19);
    font-weight: 300;

    @media (min-width: 768px) {
      max-width: 410px;
    }
  }

  &__additional-text {
    margin-bottom: 0;
  }
}

.btns-group {
  margin-right: 0;

  @media (min-width: 768px) {
    max-width: 410px;
  }

  &:only-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.button,
.link {
  text-transform: uppercase;
  word-break: break-word;
}

.link {
  width: 400px;
  word-break: break-word;
}
