@import "media.css";

.section {
  display: flex;
  min-width: 320px;
  padding: 10vh 0;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
}

.section--center {
  text-align: center;
}

@media (--ui-tablet-devices) {
  .section {
    min-height: 700px;
  }

  .section--center .title,
  .section--center .subtitle,
  .section--center .btns-group {
    padding: 0;
  }
}

.section--right {
  text-align: right;
}

.section__inner {
  width: 100%;
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  margin-bottom: 14px;
  word-wrap: break-word;
}

@media (--ui-tablet-devices) {
  .title {
    padding: 0 100px;
  }
}

@media (--ui-tablet-devices) {
  .subtitle {
    padding: 0 100px;
    font-size: calc(var(--ui-subtitle-size) * 1.6);
    line-height: calc(var(--ui-subtitle-line-height) * 0.8125);
  }
}

.btns-group {
  max-width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 35px;
}

@media (--ui-tablet-devices) {
  .btns-group {
    padding: 0 100px;
  }
}

.button {
  width: 100%;
  max-width: calc(100% - 30px);
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (--ui-phone-devices) {
  .button {
    width: auto;
  }
}

.caption-decorator {
  color: var(--ui-brand-color);
}
