@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }

  &__inner {
    width: 100%;
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }

  &__header {
    margin-bottom: 50px;
  }

  &--state-4 {
    .item {
      margin-bottom: 40px;

      &__inner {
        min-height: 80px;
        padding-top: 16px;
        padding-bottom: 16px;
        justify-content: flex-start;

        @media (--ui-tablet-devices) {
          min-height: 104px;
        }
      }

      &__desc-wrapper {
        min-height: auto;
      }

      &__numbers {
        bottom: 50%;
        transform: translateY(50%);
      }
    }

    .btns-group {
      padding-top: 20px;

      @media (--ui-tablet-devices) {
        padding-top: 60px;
      }
    }
  }
}

.title {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subtitle {
  max-width: 970px;
}

.picture-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.items-wrapper {
  margin-bottom: -40px;

  @media (--ui-tablet-devices) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
  }
}

.item {
  display: flex;
  position: relative;
  padding-left: 30px;
  margin-bottom: 40px;

  @media (--ui-tablet-devices) {
    width: calc(50% - 30px);
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 52px;
    margin-bottom: 30px;
  }

  @media (--ui-medium-devices) {
    width: calc(33.33333% - 30px);
    margin-right: 15px;
    margin-left: 15px;
  }

  &:nth-last-of-type(4):first-child,
  &:nth-last-of-type(4):first-child ~ & {

    @media (--ui-medium-devices) {
      width: 40%;
    }
  }

  &__inner {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 270px;
    padding: 30px 10px 30px 60px;
    flex-direction: column;
    justify-content: flex-end;

    @media (--ui-tablet-devices) {
      min-height: 320px;
      padding: 50px 20px 50px 80px;
    }
  }

  &__pic {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__desc {
    max-width: 100%;

    /* font-size: calc(var(--ui-text-size) * .875); */

    /* @media (--ui-tablet-devices) {
      font-size: var(--ui-text-size);
    } */

    &-wrapper {
      display: flex;
      position: relative;
      min-height: 63px;
      align-items: center;
      z-index: 1;
    }
  }

  &__numbers {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    &-bg {
      position: absolute;
      width: 80px;
      height: 80px;
      bottom: 20px;
      left: 0;
      border-radius: 50%;

      @media (--ui-tablet-devices) {
        width: 104px;
        height: 104px;
        bottom: 30px;
      }
    }
  }
}

.btns-group {
  text-align: center;
  padding-top: 60px;
}

.button {
  width: 100%;

  @media (--ui-phone-devices) {
    width: auto;
  }
}
