@import "wireframe-zapdos-blog/src/style.css";

/* start here */
.section {

  @media (min-width: 992px) {
    padding: 60px 0;
  }

  @media (min-width: 1200px) {
    padding: 72px 0;
  }
}

.title {
  font-weight: 500;
  margin-bottom: 20px;
}

.subtitle {
  text-align: center;
  font-size: calc(var(--ui-subtitle-size) * 0.8);
  max-width: 770px;
  margin: 0 auto 40px;
}

.articles-wrapper {

  @media (min-width: 768px) {
    justify-content: center;
  }
}

.article {

  @media (min-width: 992px) {
    margin-bottom: 24px;
  }

  &__picture-wrapper {
    margin-bottom: 30px;
  }

  &__picture {
    padding-top: 65%;
  }

  &__meta {
    margin-bottom: 2px;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
  }

  .link {
    font-size: calc(var(--ui-text-size) * 0.78);
    font-weight: 700;
  }
}

.link {
  position: relative;
  text-decoration: none;
  padding-right: 27px;
  transition: color 0.2s ease-in;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 2px;
    background-color: currentColor;
  }

  &:only-child {
    padding-left: 30px;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: -3px;
      transform: translateY(-50%);
      width: 12px;
      height: 2px;
      background-color: currentColor;
    }
  }
}

.btns-group {
  .link {
    font-weight: 700;
  }
}

.title + .articles-wrapper {
  margin-top: 0;
}
