@import "wireframe-zapdos-cta/src/style.css";

/* start here */

.section {
  position: relative;

  @media (min-width: 992px) {
    padding: 60px 0;
  }

  @media (min-width: 1200px) {
    padding: 94px 0;
  }

  &__inner {
    position: relative;
    z-index: 2;
  }
}

.title {
  margin-bottom: 12px;
}

.description {
  max-width: 570px;
  margin: 0 auto;
  font-size: calc(var(--ui-text-size) * 1.125);
  line-height: calc(var(--ui-text-line-height) * 1.185);

  &:nth-child(2) {
    margin-top: 0;
  }
}

.button {
  margin-top: 34px;
}
