@import "wireframe-series-2-footer/src/style.css";

/* start here */

.logo {
  picture {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.footer {
  &__bottom {
    .footer__meta {
      font-size: var(--ui-small-size);
      font-weight: var(--ui-text-font-weight);
    }
  }
}

.nav {
  &-list {
    &__item {
      padding-right: 10px;
      padding-left: 5px;
      margin-bottom: 21px;
    }

    &__link {
      text-decoration: none;
      font-size: var(--ui-small-size);
      font-weight: var(--ui-heading-font-weight);
    }
  }
}

.socials {
  &__title {
    font-weight: 300;
    margin-left: 5px;
  }

  @media (min-width: 992px) {
    text-align: left;
    align-items: flex-start;
  }

  &__icons {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .footer {
    &__bottom {
      padding-top: 105px;
    }

    &__part {
      &--center {
        max-width: 60%;
        flex-basis: 60%;
      }

      &--last {
        max-width: 15%;
        flex-basis: 15%;
      }
    }
  }
}

@media (min-width: 768px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;

    &__meta {
      font-size: var(--ui-small-size);
    }
  }
}
