@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  margin: 5px 0 10px;
  text-align: center;

  @media (--ui-tablet-devices) {
    max-width: 620px;
    margin: 5px auto 10px;
  }
}

.preview-slider {
  display: none;

  @media (--ui-tablet-devices) {
    display: block;
  }

  @media (--ui-medium-devices) {
    .item__picture {
      padding-top: 56%;
    }
  }

  :global {
    .slick-slider {

      @media (--ui-tablet-devices) {
        padding: 20px 0;
      }
    }
  }
}

.items-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 -15px;

  :global {

    /* styles for default arrows */
    .slick-arrow-default {
      position: absolute;
      width: 29px;
      height: 46px;
      top: 50%;
      padding: 0;
      transform: translateY(-50%);
      z-index: 1;
      border: 0;
      background-color: transparent;
      color: var(--ui-brand-color);
      cursor: pointer;
      transition: opacity .2s ease-in;
    }

    .slick-arrow-default.slick-prev-default {
      left: 20px;

      @media (--ui-tablet-devices) {
        left: -45px;
      }

      @media (--ui-medium-devices) {
        left: -100px;
      }
    }

    .slick-arrow-default.slick-next-default {
      right: 20px;

      @media (--ui-tablet-devices) {
        right: -45px;
      }

      @media (--ui-medium-devices) {
        right: -100px;
      }
    }

    /* styles for custom arrows */
    .slick-arrow {
      width: 17px;
      transform: translateY(-50%);
      color: var(--ui-brand-color);
    }

    .slick-arrow.slick-prev {
      left: 20px;

      @media (--ui-tablet-devices) {
        left: -45px;
      }

      @media (--ui-medium-devices) {
        left: -100px;
      }
    }

    .slick-arrow.slick-next {
      right: 20px;

      @media (--ui-tablet-devices) {
        right: -45px;
      }

      @media (--ui-medium-devices) {
        right: -100px;
      }
    }
  }

  @media (--ui-tablet-devices) {
    margin: 0 45px;
  }

  @media (--ui-medium-devices) {
    margin: 0 100px;

    .item__picture {
      padding-top: 79%;
    }
  }

  .item {
    cursor: pointer;

    @media (--ui-tablet-devices) {
      padding: 10px 12px;
    }
  }
}

.item {
  width: 100%;

  &__picture {
    padding-top: 44%;
    background-color: var(--ui-media-bg);

    @media (--ui-tablet-devices) {
      padding-top: 50%;
    }
  }
}

.btns-group {
  padding-top: 20px;
  text-align: center;
}

.button--view-default {
  width: 100%;

  @media (--ui-phone-devices) {
    width: auto;
  }
}
