@import "wireframe-zapdos-about/src/style.css";

/* start here */
.article {
  &__picture {
    min-height: 100px;
    padding-top: 54%;

    &-wrapper {
      order: 2;

      @media (min-width: 768px) {
        max-width: 85%;
        margin-left: -12%;
        flex-basis: 85%;
        padding-top: 100px;
      }

      @media (min-width: 992px) {
        margin-left: -26%;
      }
    }

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__content {
    order: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 2;

    @media (min-width: 768px) {
      margin-top: 100px;
      margin-bottom: 80px;
    }

    @media (min-width: 992px) {
      margin-top: 158px;
      margin-bottom: 328px;
    }
  }

  &__title {
    margin-bottom: 0;

    @media (min-width: 768px) {
      font-size: calc(var(--ui-block-title-size) * 2.1875);
    }
  }

  .article__subtitle {
    margin-top: 0;
    color: var(--ui-block-title-color);
  }
}

.section--column .article__picture {
  padding-top: 54%;
}

.section--column .article__picture-wrapper {
  margin-left: 0;
}
