:root {
  --logoSize: 90px;
  --titleSize: 165px;
  --logoOffsetSize: 30px;
  --titleOffsetSize: 30px;
  --itemSideOffsets: 15px;

  @media (min-width: 992px) {
    --logoSize: 130px;
    --logoOffsetSize: 50px;
    --titleOffsetSize: 50px;
  }
}

.section {
  padding: 50px 0;
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }

  &__inner {
    max-width: var(--ui-content-container);
    padding: var(--ui-content-gutter);
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 40px;

    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
  }
}

.title {
  margin-bottom: 15px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.subtitle {
  max-width: 1000px;
  margin: 0 auto;

  /* font-size: calc(var(--ui-subtitle-size) * .8); */
  text-align: center;

  /* @media (min-width: 992px) {
    font-size: var(--ui-subtitle-size);
  } */
}

.items-wrapper {
  margin: 0 calc(var(--itemSideOffsets) * -1);

  &--column {

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--center {
    justify-content: center;
  }

  &--only-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* &:last-child {

      @media (min-width: 768px) {
        margin-bottom: -30px;
      }

      @media (min-width: 992px) {
        margin-bottom: -50px;
      }
    } */

    .item--logo {
      max-width: 50%;
      flex-basis: 34%;
      margin: 0;
      border: 0;
      padding: 0 15px 30px;

      @media (min-width: 768px) {
        max-width: 25%;
        flex-basis: auto;
        padding: 15px;

        &:first-child {
          padding-top: 15px;
        }

        &:last-child {
          padding-bottom: 15px;
        }
      }

      @media (min-width: 992px) {
        padding: 15px 30px;
      }
    }
  }
}

.item {
  padding: 30px 20px;
  border-bottom: 1px solid rgba(151, 151, 151, .25);

  &:first-child {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    margin-left: var(--itemSideOffsets);
    margin-right: var(--itemSideOffsets);
    padding: 30px 0 15px;
  }

  @media (min-width: 992px) {
    padding: 30px 0 30px 20px;
  }

  &__picture {
    display: block;
    position: relative;
    padding-top: 60%;

    &-wrapper {
      width: var(--logoSize);
      margin: 0 auto 10px;

      @media (min-width: 768px) {
        margin: 0 var(--logoOffsetSize) 0 0;
        flex-shrink: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 5px;
    text-align: center;

    /* font-size: calc(var(--ui-heading-size) * 0.833); */

    @media (min-width: 768px) {
      text-align: left;
      margin: 0 var(--titleOffsetSize) 0 0;
      width: var(--titleSize);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content {
    text-align: center;
    font-size: 0;

    @media (min-width: 768px) {
      text-align: left;
      max-width: calc(100% - (var(--logoSize) + var(--titleSize) + var(--logoOffsetSize) + var(--titleOffsetSize)));
    }
  }

  &__desc {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .item__link {

    /* font-size: var(--ui-btn-md-font-size); */
  }

  .link {
    padding-left: 0;
  }

  &--body-none {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 30px;

    @media (min-width: 768px) {
      align-items: center;
    }

    @media (min-width: 992px) {
      max-width: calc(50% - (var(--itemSideOffsets) * 2));
      padding-right: 20px;
      margin-left: var(--itemSideOffsets);
      margin-right: var(--itemSideOffsets);
    }

    &:nth-last-of-type(2):nth-child(odd) {

      @media (min-width: 992px) {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &--two-elements {

    @media (min-width: 768px) {
      max-width: 310px;
      align-items: center;
      margin-bottom: 30px;
      padding-top: 0;
      margin-left: var(--itemSideOffsets);
      margin-right: var(--itemSideOffsets);
    }

    @media (min-width: 992px) {
      max-width: 372px;
    }

    &:nth-last-of-type(2):nth-child(odd) {

      @media (min-width: 768px) {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .item__title {

      @media (min-width: 768px) {
        width: calc(var(--titleSize) + 30px);
        margin-right: 0;
      }
    }
  }

  &--heading-none {
    .item__content {

      @media (min-width: 768px) {
        max-width: calc(100% - (var(--logoSize) + var(--logoOffsetSize)));
      }
    }
  }

  &--logo {
    max-width: 50%;
    flex-basis: 50%;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      max-width: 25%;
      padding: 0;
      margin-bottom: 30px;
      border-bottom: 0;
      flex-basis: 25%;
    }

    @media (min-width: 992px) {
      margin-bottom: 50px;
      margin-left: 25px;
      margin-right: 25px;
    }

    .logo {
      margin: 0 auto;
      text-decoration: none;
    }
  }
}

.btns-group {
  padding-top: 50px;
  text-align: center;

  &--offset-sm {

    @media (min-width: 768px) {
      padding-top: 30px;
    }

    @media (min-width: 992px) {
      padding-top: 10px;
    }
  }
}

.button {
  width: 100%;

  @media (min-width: 480px) {
    width: auto;
  }
}

.logo {
  display: block;
  width: var(--logoSize);
  margin: 0 auto 10px;
  text-decoration: none;
  text-align: center;

  @media (min-width: 768px) {
    margin: 0 var(--logoOffsetSize) 0 0;
    flex-shrink: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.logo__image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.top-icon {
  width: 20px;
  height: 20px;
}
