@import "wireframe-zapdos-blog/src/style.css";

/* start here */

.section {
  padding-top: 30px;
}

.title {
  margin-bottom: 25px;
}

.article {
  margin-top: 20px;
  margin-bottom: 20px;

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 22px;
  }

  &__picture-wrapper {
    margin-bottom: 25px;
  }

  &__picture {
    padding-top: 77%;
  }

  &__meta {
    font-size: var(--ui-small-size);
    margin-bottom: 16px;
  }
}

.link {
  text-decoration: none;
  font-size: var(--ui-small-size);
  font-family: var(--ui-small-font-family);
}
