@import "wireframe-zapdos-faq/src/style.css";

/* start here */

.title {
  font-family: var(--ui-heading-lg-font-family);
  font-weight: var(--ui-heading-lg-font-weight);
}

.subtitle {
  color: var(--ui-subtitle-color);
  font-family: var(--ui-subtitle-font-family);
  font-weight: var(--ui-subtitle-font-weight);
  font-size: calc(var(--ui-subtitle-size) * 0.8);
  letter-spacing: 1.2px;
  max-width: 770px;
  margin-top: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  max-width: 770px;
  margin: auto;
}

.item {
  text-align: center;
  border-bottom: var(--ui-light-shade-color) 2px solid;
  margin-top: 0;
  padding-bottom: 20px;
  width: 100%;

  &__button {
    outline: none;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    font-family: var(--ui-heading-lg-font-family);
    font-weight: var(--ui-hero-title-font-weight);
    padding: 34px 20px 0;
    border-bottom: 0;

    @media (min-width: 992px) {
      font-size: var(--ui-heading-size);
    }
  }

  &__content {
    font-family: var(--ui-text-font-family);
    font-size: var(--ui-text-size);
    padding: 10px 0 20px;
  }
}

.link {
  position: relative;
  text-transform: uppercase;
  color: var(--ui-heading-color);
  font-size: var(--ui-small-size);
  font-weight: var(--ui-heading-font-weight);
  letter-spacing: 3.2px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 12px;
    height: 2px;
    background-color: var(--ui-heading-color);
    transform: translateY(-50%);
  }

  &::before {
    left: -22px;
  }

  &::after {
    right: -22px;
  }
}
