@import "media.css";

.footer {
  min-width: 320px;
  padding: 40px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 30px 0;
  }
}

.footer__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);

  @media (--ui-tablet-devices) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__part--first {

  @media (--ui-tablet-devices) {
    max-width: 100%;
    flex-basis: 100%;
  }

  @media (--ui-medium-devices) {
    max-width: 25%;
    padding-right: 30px;
    flex-basis: 25%;
  }
}

.footer__part--second {

  @media (--ui-tablet-devices) {
    max-width: 40%;
    flex-basis: 40%;
    padding-left: 0;
  }

  @media (--ui-medium-devices) {
    max-width: 33%;
    flex-basis: 33%;
  }

  &:first-child {

    @media (--ui-tablet-devices) {
      max-width: 100%;
      flex: 100%;
      padding-left: 0;
    }
  }
}

.footer__part--second:first-child .nav-list {

  @media (--ui-tablet-devices) {
    max-width: 67%;
    margin: 0 auto;
  }
}

.footer__part--third {

  @media (--ui-tablet-devices) {
    max-width: 25%;
    padding-right: 20px;
    flex-basis: 25%;
  }

  @media (--ui-medium-devices) {
    max-width: 17%;
    flex-basis: 17%;
    padding-right: 15px;
  }
}

.footer__part--last {

  @media (--ui-tablet-devices) {
    max-width: 35%;
    margin-bottom: auto;
    flex-basis: 35%;
    align-items: flex-start;
  }

  @media (--ui-medium-devices) {
    max-width: 25%;
    flex-basis: 25%;
  }
}

.footer__text {
  margin-bottom: 30px;
  text-align: center;

  @media (--ui-tablet-devices) {
    max-width: 475px;
    margin-bottom: 20px;
    text-align: left;
  }

  @media (--ui-medium-devices) {
    margin-bottom: 0;
  }
}

.footer__bottom {
  padding-top: 50px;

  @media (--ui-tablet-devices) {
    display: flex;
    max-width: 100%;
    flex-basis: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (--ui-medium-devices) {
    padding-top: 40px;
  }
}

.footer__meta {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  text-align: center;
  flex-shrink: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--ui-tablet-devices) {
    margin-bottom: 0;
    flex-basis: 100%;
  }

  @media (--ui-medium-devices) {
    text-align: left;
    flex-basis: auto;

    &:last-cild {
      margin-left: auto;
    }
  }
}

.logo {
  display: block;
  max-width: 270px;
  margin: 0 auto 30px;
  text-align: center;

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  @media (--ui-tablet-devices) {
    text-align: left;
    margin-left: 0;
  }

  @media (--ui-medium-devices) {
    margin-right: 30px;
  }
}

.logo__title {
  max-width: 100%;
  margin: 0 auto;
  font-size: inherit;

  @media (--ui-tablet-devices) {
    margin: 0;
  }
}

.nav-list {
  position: relative;
  width: 100%;
  text-align: center;

  @media (--ui-tablet-devices) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 10px;
    font-size: var(--ui-text-size);
    line-height: var(--ui-text-line-height);
    font-family: var(--ui-text-font-family);
    font-weight: var(--ui-text-font-weight);

    @media (--ui-tablet-devices) {
      max-width: 50%;
      padding-right: 10px;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__link {
    max-width: 100%;
    text-decoration: none;
    transition: color .2s ease-in;
    text-align: left;
  }
}

.socials {
  display: flex;
  max-width: 100%;
  margin: 40px 0;
  flex-direction: column;
  align-items: center;

  @media (--ui-tablet-devices) {
    margin-top: 0;
    margin-bottom: 34px;
  }

  @media (--ui-medium-devices) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__title {
    max-width: 100%;
    margin-bottom: 10px;
  }

  &__icons {
    max-width: calc(100% + 15px);
    justify-content: center;
    text-align: center;
  }
}

.form {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;

  &__item {
    width: 100%;
    text-align: center;
  }

  &__desc {
    display: block;
  }

  &__field {
    display: block;
    width: 100%;
    padding: var(--ui-btn-md-padding);
    margin-top: 20px;
    border: 0;
    background: #d8d8d8;
    font-size: var(--ui-btn-md-font-size);
    border-radius: var(--ui-btn-md-border-radius);
    line-height: var(--ui-btn-md-line-height);
    font-weight: var(--ui-btn-primary-font-weight);
  }

  &__button {
    width: 100%;
    margin-top: 10px;
  }
}

.footer--state-1 {
  .footer__part--last {

    @media (--ui-tablet-devices) {
      margin-left: auto;
    }
  }

  .footer__part--second {

    @media (--ui-medium-devices) {
      max-width: 50%;
      flex-basis: 50%;
    }
  }

  .nav-list {

    @media (--ui-medium-devices) {
      padding-left: 30px;
    }
  }

  .nav-list__item {

    @media (--ui-medium-devices) {
      max-width: 33%;
      flex-basis: 33%;
    }
  }
}

.footer--state-2 {
  .footer__part--third {

    @media (--ui-tablet-devices) {
      margin-left: auto;
    }
  }

  .footer__part--second {

    @media (--ui-tablet-devices) {
      max-width: 60%;
      flex-basis: 60%;
    }

    @media (--ui-medium-devices) {
      max-width: 50%;
      flex-basis: 50%;
    }
  }

  .nav-list {

    @media (--ui-medium-devices) {
      padding-left: 30px;
    }
  }

  .nav-list__item {

    @media (--ui-tablet-devices) {
      max-width: 33%;
      flex-basis: 33%;
    }
  }
}

.footer--state-3 {
  .footer__part--second {

    @media (--ui-tablet-devices) {
      max-width: 100%;
      flex-basis: 100%;
    }

    @media (--ui-medium-devices) {
      max-width: 75%;
      flex-basis: 75%;
    }
  }

  .nav-list {

    @media (--ui-medium-devices) {
      padding-left: 30px;
    }
  }

  .nav-list__item {

    @media (--ui-tablet-devices) {
      max-width: 25%;
      flex-basis: 25%;
    }

    @media (--ui-medium-devices) {
      max-width: 20%;
      flex-basis: 20%;
    }
  }
}

.footer--state-5 {
  .footer__part--second {

    @media (--ui-medium-devices) {
      max-width: 50%;
      margin-right: auto;
      flex-basis: 50%;
    }

    .nav-list {
      max-width: 100%;
      padding-left: 0;
    }
  }

  .nav-list__item {

    @media (--ui-tablet-devices) {
      max-width: 33%;
      flex-basis: 33%;
    }
  }
}

.footer--state-4 {
  .footer__part--second {

    @media (--ui-medium-devices) {
      max-width: 60%;
      flex-basis: 60%;
    }

    .nav-list {
      max-width: 100%;
    }
  }

  .nav-list__item {

    @media (--ui-tablet-devices) {
      max-width: 25%;
      flex-basis: 25%;
    }
  }
}
