.header {
  position: relative;
  min-width: 320px;
  text-align: center;
  word-wrap: break-word;

  &--nav-open {

    @media (max-width: 991px) {
      display: flex;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding-bottom: 0;
      z-index: 99999;
      flex-direction: column;

      .header__main {
        display: flex;
        padding: 30px 0;
        flex-direction: column;
        flex: 1;

        &-inner {
          width: 100%;
          flex-direction: column;
        }
      }

      .nav {
        display: block;
        padding-bottom: 20px;
        flex: 1;
        overflow-y: auto;

        &__item {
          line-height: var(--ui-text-line-height);
        }
      }

      .logo {
        display: block;
      }

      .nav-button__line {
        &:first-child {
          transform: translateY(6px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: translateY(-6px) rotate(-45deg);
        }
      }
    }
  }

  &__top-line {
    padding: 7px 20px;

    &-inner {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (min-width: 768px) {
        flex-wrap: nowrap;
        align-items: center;
      }

      @media (min-width: 992px) {
        max-width: var(--ui-content-container);
      }
    }
  }

  &__text {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: calc(var(--ui-text-size) * 0.62);

    a {
      text-decoration: none;
    }

    @media (min-width: 768px) {
      width: auto;
      max-width: calc(100% - 370px);
      margin-bottom: 0;
      text-align: left;
    }

    @media (min-width: 992px) {
      font-size: var(--ui-text-size);
    }
  }

  &__main {
    position: relative;
    padding: 30px 60px;
    background-color: #f2f2f2;

    @media (min-width: 992px) {
      padding: 30px 20px;
    }

    &-inner {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;

      @media (min-width: 992px) {
        max-width: var(--ui-content-container);
      }
    }
  }

  &__main--logo-hidden {
    .nav {
      width: 100%;
      max-width: 100%;

      &__list--left {
        margin-left: 0;

        .nav__item:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &__socials {
    width: 100%;
    text-align: center;

    @media (min-width: 768px) {
      width: auto;
      max-width: 350px;
      text-align: right;
    }
  }
}

.nav {
  display: none;
  padding: 40px 20px 50px;

  @media (min-width: 768px) {
    padding-top: 13px;
  }

  @media (min-width: 992px) {
    display: flex;
    position: relative;
    padding: 0;
    align-items: center;

    &--right {
      margin-left: auto;

      .nav__list {
        justify-content: flex-end;
      }
    }

    &--center {
      margin: 0 auto;

      .nav__list {
        justify-content: center;
      }
    }

    &--left {
      margin-left: 30px;
      margin-right: auto;

      .nav__list {
        justify-content: flex-start;
      }
    }

    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 10px;
    }
  }

  &__item {
    display: block;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: 992px) {
      margin-top: 10px;
      margin-left: 30px;
      margin-bottom: 0;
      text-align: right;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-family: var(--ui-text-font-family);
    font-size: var(--ui-text-size);
    text-decoration: none;
  }
}

.nav-button {
  position: absolute;
  width: 30px;
  height: 25px;
  top: 33px;
  left: 20px;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  color: var(--ui-text-color);
  border: 0;
  transition: color .2s ease-in-out;

  @media (min-width: 768px) {
    top: 45px;
  }

  &:hover,
  &:active,
  :global .focus-visible {
    color: var(--ui-brand-color);
  }

  &__line {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 5px;
    background-color: currentColor;
    transform-origin: 50% 50%;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;

    &:first-child {
      top: 5px;
    }

    &:nth-child(2) {
      top: 11px;
    }

    &:last-child {
      bottom: 6px;
    }
  }

  @media (min-width: 768px) {
    left: 17px;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.logo {
  min-width: 160px;
  max-width: 325px;
  margin: 0 auto;
  flex-shrink: 0;
  text-decoration: none;

  @media (min-width: 992px) {
    margin: 0;
  }

  &__title {
    max-width: 100%;
    font-size: calc(var(--ui-block-title-size) * 0.62);
    line-height: var(--ui-block-title-line-height);
    font-weight: var(--ui-block-title-font-weight);
    color: var(--ui-block-title-color);
    font-family: var(--ui-block-title-font-family);

    @media (min-width: 992px) {
      text-align: left;
    }
  }
}

.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    justify-content: flex-end;
  }

  a {
    padding: 2.5px;

    /* Tech debt: need remove `position: absolute` in SocialIcons component */
    div {
      position: relative !important; /* stylelint-disable-line declaration-no-important */
    }
  }
}
