@import "wireframe-zapdos-pricing/src/style.css";

/* start here */

.plans-wrapper {
  &:first-child,
  &:only-child {
    margin-top: 0;
  }
}

.plan {
  &__icon-wrapper::after {
    content: "";
    width: 30px;
    height: 3px;
    background: var(--ui-brand-color);
    position: absolute;
    left: 25px;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    bottom: -20px;
  }

  &__title {
    font-size: calc(var(--ui-heading-size) * 0.769);
    margin-bottom: 40px;
    margin-top: 25px;
  }

  &__price {
    margin-bottom: 19px;
  }

  &__price-count {
    font-weight: 400;
  }

  &__list-item {
    margin-bottom: 10px;
  }

  &__list-item-text {
    color: inherit;
  }

  &__price > span {
    text-transform: uppercase;
  }

  &__icon-wrapper {
    position: relative;
    padding: 0;
    margin-bottom: 35px;
    color: var(--ui-light-shade-color);
  }

  &__icon-wrapper + &__list {
    margin-top: 55px;
  }

  &__icon-wrapper + &__button {
    margin-top: 25px;
  }

  &--main {
    box-shadow: none;

    .plan__title {
      margin-bottom: 35px;
      margin-top: 45px;
    }

    .plan__price {
      margin-bottom: 10px;
    }

    .plan__icon-wrapper {
      padding: 15px;
    }

    .plan__icon-wrapper::after {
      background-color: var(--ui-light-shade-color);
      left: 30px;
    }
  }
}

.title {
  margin-bottom: 45px;
}

