.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;
  
  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }

  &--center {
    text-align: center;
    
    .article {
      margin: 0 auto;

      &__title,
      &__heading {
        text-align: center;
      }
    }

    .socials-wrapper {
      justify-content: center;
    }
  }

  &--right {
    text-align: right;
    
    .article {
      margin: 0 0 0 auto;

      &__title,
      &__heading {
        text-align: right;
      }
    }

    .socials-wrapper {
      justify-content: flex-end;
    }
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.article {

  @media (min-width: 768px) {
    padding: 0 100px;
  }

  @media (min-width: 992px) {
    max-width: 854px;
  }
}

.article__title {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  
  &:last-child {
    margin-bottom: 0;
  }

  + .article__subtitle {
    margin-top: 5px;
  }

  + .btns-group {
    margin-top: 0;
  }

}

@media (min-width: 768px) {
  .article__title {
    text-align: left;
  }
}

.article__heading {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.article__subheading {
  width: 100%;
  margin-bottom: 10px;
  
  + .socials {
    margin-top: 10px;
  }
}

.article__subtitle--socials {
  margin-bottom: 0;
  margin-top: 0;
}

.article__text {
  margin-bottom: 30px;
  
  + .btns-group {
    margin-top: 0;
  }
}

.article__title + .socials {
  margin-top: 20px;
}

.socials-wrapper {
  display: flex;
}

.socials {
  display: flex;

  li {
    flex: 0 1 auto;
  }
}

.btns-group {
  margin: 30px -15px -10px;
}

.button {
  width: calc(100% - 30px);
}

.button,
.link {
  margin: 10px 15px;
}

@media (min-width: 480px) {
  .button {
    width: auto;
  }
}