@import "wireframe-series-2-cta/src/style.css";

/* start here */
.section {

  @media (min-width: 992px) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  &__inner {
    padding: 40px;

    @media (min-width: 768px) {
      max-width: 570px;
      border-radius: 0;
      padding: 88px 50px;
    }
  }

  &__header {
    padding: 0;
    margin-bottom: 16px;
  }

  .title {
    margin-bottom: 20px;
    letter-spacing: -1px;

    @media (min-width: 768px) {
      margin-bottom: 36px;
    }
  }

  .subtitle {
    color: var(--ui-dark-shade-color );
    opacity: 0.6;

    @media (min-width: 768px) {
      font-size: var(--ui-subtitle-size);
    }
  }
}

.form {
  max-width: 370px;
  margin: 0 auto;

  @media (min-width: 480px) {
    padding: 0 0 16px;
  }

  &__field input {
    background-color: transparent;
    text-align: center;
    border-radius: 0;
    opacity: 0.8;
    border-bottom: 1px solid var(--ui-dark-shade-color);

    &::placeholder {
      color: currentColor;
    }
  }

  &__button {
    border: 0;
    margin-top: 24px;
    width: auto;
  }
}
