@import "wireframe-zapdos-about/src/style.css";

/* start here */
.section {

  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.article {

  @media (min-width: 768px) {
    align-items: center;
  }

  @media (min-width: 992px) {
    align-items: flex-start;
  }

  &__content {
    justify-content: flex-start;
    padding-top: 32px;

    @media (min-width: 768px) {
      padding-left: 50px;
      padding-top: 0;
    }
  }

  &__title {
    position: relative;
    line-height: calc(var(--ui-block-title-line-height) * 1.41);
    letter-spacing: 1px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 170px;
      height: 2px;
      background-color: var(--ui-brand-color);
    }
  }

  &__subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
    letter-spacing: 0.9px;
  }

  &__text {
    margin-bottom: 15px;
    letter-spacing: 0.8px;
  }

  &__picture {
    background-color: var(--ui-light-shade-color);
    border-radius: 11px;

    @media (min-width: 768px) {
      padding-top: 150%;
    }

    @media (min-width: 992px) {
      padding-top: 123%;
    }
  }
}

.article .article__subtitle ~ .btns-group {
  margin-top: 30px;
}

.social {
  &-title {
    display: none;
  }
}
