@import "wireframe-zapdos-why/src/style.css";

.section {
  padding: 50px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }
}

.subtitle {
  max-width: 835px;
  margin-top: 52px;
}

.items-wrapper {
  margin-top: 60px;

  &:first-child {
    margin-top: 0;
  }
}

.item {
  margin-top: 0;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }

  &__title {
    font-size: var(--ui-subtitle-size);
    margin-top: 45px;
  }

  &__top-element {
    margin-bottom: 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      display: block;
      width: 30px;
      height: 3px;
      background-color: var(--ui-brand-color);
      left: calc(50% - 15px);
    }
  }
}

.button-2 {
  margin-top: 56px;
}
