@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);

    @media (--ui-tablet-devices) {
      padding: 0 75px;
    }

    @media (--ui-medium-devices) {
      padding: var(--ui-content-gutter);
    }
  }

  &__header {
    margin-bottom: 40px;
  }
}

.title {
  margin-bottom: 15px;
  text-align: center;

  @media (--ui-tablet-devices) {
    text-align: left;
  }
}

.subtitle {
  text-align: center;

  @media (--ui-tablet-devices) {
    text-align: left;
  }
}

.items-wrapper {
  margin: -10px;
  padding: 10px 0;

  @media (--ui-medium-devices) {
    display: flex;
    margin: -25px;
    flex-wrap: wrap;
  }
}

.item {
  padding: 10px;
  text-align: center;
  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (--ui-tablet-devices) {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (--ui-medium-devices) {
    max-width: calc(50% - 50px);
    margin: 25px;
    flex-basis: calc(50% - 50px);
  }

  &--icon-hidden {
    .item__text {

      @media (--ui-tablet-devices) {
        max-width: 100%;
        flex-basis: 100%;
      }

      @media (--ui-tablet-devices) {
        max-width: calc(100% - 50px);
        flex-basis: calc(100% - 50px);
      }
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;

    @media (--ui-tablet-devices) {
      width: 100px;
      height: 100px;
      margin-right: 30px;
    }
  }

  &__text {

    @media (--ui-tablet-devices) {
      max-width: calc(100% - 130px);
      flex-basis: calc(100% - 130px);
      text-align: left;
    }
  }

  &__heading {
    margin-bottom: 5px;

    @media (--ui-tablet-devices) {
      margin-bottom: 0;
    }
  }

  &__description {
    margin-bottom: 10px;
  }
}

.button {
  width: 100%;

  @media (--ui-phone-devices) {
    width: auto;
  }
}

.btns-group {
  margin-top: 30px;
  margin-bottom: -15px;

  @media (--ui-phone-devices) {
    max-width: calc(100% + 30px);
    margin: -5px -15px -15px;
  }

  @media (--ui-medium-devices) {
    margin-top: 35px;
  }

  &__button {
    margin: 15px 0;

    @media (--ui-phone-devices) {
      max-width: calc(100% - 30px);
      margin: 15px;
    }
  }
}
