@import "wireframe-zapdos-text/src/style.css";

.section__header {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 20px;
}

.subtitle {
  max-width: 770px;
  font-size: calc(var(--ui-subtitle-size) * 0.8);
}

.heading {
  margin-bottom: 20px;
}

.subheading {
  font-size: calc(var(--ui-sub-heading-size) * 0.889);
  margin-bottom: 10px;
}

.text {
  max-width: 770px;
  text-align: center;
}
