@import "wireframe-zapdos-projects/src/style.css";

/* start here */
.section {
  padding-bottom: 120px;
}

.title {
  margin-top: 30px;
}

.top-icon {
  display: flex;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--ui-light-shade-color);
  box-shadow: 0 2px 20px -6px var(--ui-link-color);
}

.article {
  box-shadow: 0 2px 20px -6px var(--ui-link-color);

  @media (min-width: 992px) {
    border-radius: 3px;
  }

  &:last-of-type {
    .article {
      &__content {
        padding-bottom: 30px;

        @media (min-width: 992px) {
          padding-bottom: 115px;
        }
      }
    }
  }

  &:nth-of-type(even) {
    .article {
      &__content {
        padding-bottom: 30px;

        @media (min-width: 992px) {
          padding-right: 100px;
          padding-left: 115px;
          padding-top: 115px;
          padding-bottom: 115px;
          border-bottom-right-radius: 3px;
        }
      }

      &__picture-wrapper {

        @media (min-width: 992px) {
          order: 1;
          border-bottom-left-radius: 3px;
        }
      }

      &__picture img {

        @media (min-width: 992px) {
          border-bottom-left-radius: 3px;
        }
      }
    }
  }

  &__content {

    @media (min-width: 992px) {
      padding-right: 115px;
      padding-left: 100px;
      padding-top: 115px;
      padding-bottom: 115px;
      border-top-left-radius: 3px;
    }
  }

  &__picture-wrapper {
    min-height: 200px;

    @media (min-width: 992px) {
      order: 2;
      border-top-right-radius: 3px;
    }
  }

  &__picture {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 0;

    @media (min-width: 992px) {
      border-top-right-radius: 3px;
    }
  }

  &__image {

    @media (min-width: 992px) {
      border-top-right-radius: 3px;
    }
  }

  &__text {
    max-width: 100%;
    padding-right: 0;
    font-size: calc(var(--ui-small-text-size) * 1.167);

    @media (min-width: 992px) {
      max-width: 370px;
    }
  }

  .link {
    text-decoration: none;
    font-size: calc(var(--ui-small-text-size) * 1.25);
    color: var(--ui-brand-color);

    &:hover {
      text-decoration: underline;
    }
  }
}
