.header {
  position: relative;
  min-width: 320px;
  text-align: center;
  word-wrap: break-word;

  @media (min-width: 992px) {
    max-width: var(--ui-content-container);
    margin: 0 auto;
  }

  &--hide-all-modifications {
    .nav-button {
      top: 20px;
    }
  }

  &--nav-open {

    @media (max-width: 991px) {
      display: flex;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding-bottom: 0;
      z-index: 99999;
      flex-direction: column;
      overflow-y: auto;

      .header__main {
        display: flex;
        min-height: 1px;
        flex-direction: column;
        align-items: center;
        flex: 1;
      }

      .nav {
        display: block;
        width: 100%;
        min-height: 1px;
        padding-bottom: 20px;
        flex: 1;

        &__list {
          padding-bottom: 20px;
        }

        &__item {
          line-height: var(--ui-text-line-height);
        }
      }

      .logo {
        &-wrapper {
          display: block;
          flex-shrink: 0;
        }
      }

      .nav-button__line {
        &:first-child {
          transform: translateY(6px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: translateY(-6px) rotate(-45deg);
        }
      }
    }
  }

  &__top-line {
    padding: 7px 20px;

    &-inner {
      display: flex;
      margin: 0 auto;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }

  &__text {
    max-width: 100%;
    margin-bottom: 10px;

    /* font-size: calc(var(--ui-text-size) * 0.75); */

    a {
      text-decoration: none;
      color: var(--ui-link-color);

      &:hover {
        color: var(--ui-link-hover-color);
      }
    }

    @media (min-width: 768px) {
      width: 0;
      max-width: calc(100% - 350px);
      margin-bottom: 0;
      text-align: left;
      flex: 1;
    }

    /* @media (min-width: 992px) {
      font-size: var(--ui-text-size);
    } */
  }

  &__main {
    display: flex;
    position: relative;
    padding: 30px 0;
    flex: 1;

    @media (min-width: 992px) {
      margin: 0 auto;
      padding: 30px 20px;
    }
  }

  &__main--logo-hidden {
    .nav {
      max-width: 100%;

      &--left {
        margin-left: 0;

        .nav__item:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &__socials {
    max-width: 100%;

    @media (min-width: 768px) {
      display: flex;
      max-width: 350px;
      flex-basis: 350px;
      margin-left: auto;
      text-align: right;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }
}

.header--nav-open ~ [data-node="background"] {

  @media (max-width: 991px) {
    position: fixed;
    z-index: 99998;
  }
}

.nav {
  display: none;
  padding: 40px 20px 50px;

  @media (min-width: 768px) {
    padding-top: 13px;
  }

  @media (min-width: 992px) {
    display: flex;
    position: relative;
    padding: 0;
    flex: 1;
    align-items: center;

    &--right {
      margin-left: auto;
      justify-content: flex-end;

      .nav__list {
        justify-content: flex-end;
      }
    }

    &--center {
      margin: 0 auto;
      justify-content: center;

      .nav__list {
        justify-content: flex-start;
      }
    }

    &--left {
      margin-left: 30px;
      margin-right: auto;
      justify-content: flex-start;

      .nav__list {
        justify-content: flex-start;
      }

      .nav__item {

        @media (min-width: 992px) {
          margin-left: 0;
          margin-right: 30px;
        }
      }
    }

    &__list {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: block;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: 992px) {
      margin-top: 10px;
      margin-left: 30px;
      margin-bottom: 0;
      text-align: right;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-family: var(--ui-text-font-family);
    font-size: var(--ui-text-size);
    text-decoration: none;
  }
}

.nav-button {
  position: absolute;
  width: 30px;
  height: 25px;
  top: 32px;
  left: 20px;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  color: var(--ui-text-color);
  border: 0;
  transition: color .2s ease-in-out;

  @media (min-width: 768px) {
    top: 40px;
  }

  &:hover,
  &:active,
  :global .focus-visible {
    color: var(--ui-brand-color);
  }

  &__line {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 5px;
    background-color: currentColor;
    transform-origin: 50% 50%;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;

    &:first-child {
      top: 5px;
    }

    &:nth-child(2) {
      top: 11px;
    }

    &:last-child {
      bottom: 6px;
    }
  }

  @media (min-width: 768px) {
    left: 17px;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.logo {
  display: block;
  max-width: 100%;
  text-decoration: none;

  &-wrapper {
    display: block;
    max-width: calc(100% - 120px);
    margin: 0 auto;

    @media (min-width: 480px) {
      min-width: 200px;
      max-width: 325px;
    }

    @media (min-width: 992px) {
      margin: 0;
      flex: 1;
      text-align: left;
    }
  }

  &__title {
    color: var(--ui-block-title-color);
    font-size: calc(var(--ui-block-title-size) * 0.625);

    @media (min-width: 992px) {
      text-align: left;
    }
  }

  img {
    max-width: 100%;
  }
}

.socials {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    justify-content: flex-end;
  }

  a {
    padding: 2.5px;
  }
}
