@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }

  &__header {
    margin: 0 auto 50px;

    @media (--ui-phone-devices) {
      max-width: 400px;
    }
  }

  &--left {
    .section__header,
    .socials-wrapper {

      @media (--ui-tablet-devices) {
        margin-right: auto;
        margin-left: 0;
      }
    }

    .title,
    .subtitle {

      @media (--ui-tablet-devices) {
        text-align: left;
      }
    }

    .socials-wrapper {

      @media (--ui-tablet-devices) {
        justify-content: flex-start;
        text-align: left;
      }
    }
  }

  &--right {
    .section__header,
    .socials-wrapper {

      @media (--ui-tablet-devices) {
        margin-right: 0;
        margin-left: auto;
      }
    }

    .title,
    .subtitle {

      @media (--ui-tablet-devices) {
        text-align: right;
      }
    }

    .socials-wrapper {

      @media (--ui-tablet-devices) {
        justify-content: flex-end;
        text-align: right;
      }
    }
  }
}

.title {
  text-align: center;
}

.subtitle {
  margin-top: 15px;
  text-align: center;
}

.socials-wrapper {
  display: flex;
  max-width: 200px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
