@import "wireframe-zapdos-process/src/style.css";

/* start here */

.title {
  margin-bottom: 21px;
}

.subtitle {
  font-size: calc(var(--ui-subtitle-size) * 0.8);
  max-width: 770px;
  margin: 0 auto;
}

.article {
  margin-top: 0;

  &:nth-of-type(-n+9) {
    .article__content {
      &::before {
        content: "0"counter(steps)".";
      }
    }
  }

  &__content {
    margin-top: 170px;
    padding-left: 10px;
    text-align: center;

    &::before {
      content: counter(steps)".";
      background-color: transparent;
      font-size: calc(var(--ui-hero-title-size) * 1.38);
      line-height: var(--ui-hero-title-line-height);
      font-family: var(--ui-hero-title-font-family);
      font-weight: 700;
      top: -78px;
      left: 50%;
      transform: translateX(-50%);
      color: inherit;
      opacity: 0.2;
    }

    @media (min-width: 992px) {
      text-align: left;

      &::before {
        left: 0;
        transform: translateX(0);
      }
    }

    &--icon {
      &-none {
        margin-top: 40px;
      }
    }
  }

  &__title {
    font-size: var(--ui-heading-size);
    font-family: var(--ui-heading-font-family);
    margin-bottom: 17px;
  }

  &__text {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      left: 50%;
      bottom: -20px;
      background-color: var(--ui-block-title-color);
      transform: translateX(-50%);

      @media (min-width: 992px) {
        left: 0;
        transform: none;
      }
    }
  }
}

.btns-group {
  margin-top: 75px;

  .link {
    color: var(--ui-block-title-color);
    font-weight: 600;
    font-size: calc(var(--ui-text-size) * 0.78);
  }
}

.link {
  position: relative;
  margin-left: 0;
  margin-top: 40px;
  color: var(--ui-block-title-color);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -22px;
    display: block;
    width: 12px;
    height: 2px;
    background-color: currentColor;
  }

  @media (min-width: 768px) {
    margin-left: 60px;
  }
}
