@import "wireframe-series-3-cta/src/style.css";

/* start here */
.section {

  @media (min-width: 992px) {
    padding-top: 145px;
    padding-bottom: 125px;
  }
}

.title {
  font-weight: 300;
  margin-bottom: 25px;
}

.form {

  @media (min-width: 768px) {
    max-width: 430px;
  }

  &__field {
    font-style: italic;
    font-weight: 300;
    font-size: calc(var(--ui-btn-lg-font-size) * 0.875);
  }
}

