@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);

    @media (--ui-medium-devices) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__header {
    margin-bottom: 50px;

    @media (--ui-medium-devices) {
      width: 270px;
      margin-right: 30px;
      margin-bottom: 0;
      flex-shrink: 0;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subtitle {
  width: 100%;
  max-width: 490px;
  margin: 0 auto;
  text-align: center;
}

.items-wrapper {
  margin-bottom: -40px;

  @media (--ui-phone-devices) {
    display: flex;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (--ui-medium-devices) {
    max-width: none;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: center;
  }

  &:first-child {

    @media (--ui-medium-devices) {
      max-width: 880px;
    }
  }
}

.item {
  margin-bottom: 20px;

  @media (--ui-phone-devices) {
    width: 220px;
    padding: 0 10px;
  }

  @media (--ui-medium-devices) {
    margin-bottom: 20px;
  }

  &:nth-last-of-type(5):first-child,
  &:nth-last-of-type(5):first-child ~ &,
  &:nth-last-of-type(6):first-child,
  &:nth-last-of-type(6):first-child ~ &,
  &:nth-last-of-type(9):first-child,
  &:nth-last-of-type(9):first-child ~ & {

    @media (--ui-medium-devices) {
      width: 225px;
    }
  }

  &__picture {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 65%;
  }

  &__image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__title {
    margin-top: 20px;
    text-align: center;

    @media (--ui-medium-devices) {
      margin-bottom: 20px;
    }
  }
}