@import "wireframe-zapdos-header/src/style.css";

/* start here */
.header {
  padding: 0;
  border: 10px solid transparent;
  border-bottom: 0;

  &--with-border {
    .header {
      border: 10px solid #fff;
      border-bottom: 0;
    }
  }

  @media (min-width: 992px) {
    padding-top: 36px;
    padding-bottom: 20px;
  }

  &__inner {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 76px;

    @media (min-width: 992px) {
      padding-top: 0;
      padding-bottom: 59px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        opacity: 0.1;
      }
    }
  }

  .header__button {

    @media (min-width: 992px) {
      margin-left: 30px;
    }
  }
}

.logo__title {
  font-size: calc(var(--ui-block-title-size) * .5);
  font-weight: 600;
  text-align: left;

  &:hover {
    text-decoration: none;
  }
}

.nav {

  @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;

    &:first-child {
      .nav-list {
        justify-content: flex-start;
      }
    }
  }
}

.nav-button {
  color: var(--ui-light-accent-color);
}

.nav-list {
  width: 100%;

  @media (min-width: 992px) {
    justify-content: center;
  }

  &__item {

    @media (min-width: 992px) {
      margin-left: 17px;
      margin-right: 17px;

      &:first-of-type {
        margin-left: 17px;
      }

      &:last-of-type {
        margin-right: 17px;
      }
    }
  }

  &__link {
    text-transform: uppercase;
    font-weight: var(--ui-caption-font-weight);
    font-family: var(--ui-caption-font-family);
    font-size: var(--ui-caption-size);
    letter-spacing: 2.4px;
    line-height: var(--ui-caption-line-height);
  }
}

.logo {
  &:hover {
    text-decoration: none;
  }
}
