@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  text-align: center;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.section__header {
  margin-bottom: 25px;
}

.section__header + .text {
  margin-top: -5px;
}

.section--left .title,
.section--left .subtitle,
.section--left .heading,
.section--left .subheading,
.section--left .text {
  margin-left: 0;
  text-align: left;
}

.section--right .title,
.section--right .subtitle,
.section--right .heading,
.section--right .subheading,
.section--right .text {
  margin-right: 0;
  text-align: right;
}

.section--state-6 .section__header {
  margin-bottom: 5px;
}

.title {
  max-width: 970px;
  margin: 0 auto 5px;
}

.title:last-child {
  margin-bottom: -5px;
}

.subtitle {
  max-width: 570px;
  margin: 0 auto;
}

.heading {
  max-width: 970px;
  margin: 0 auto 10px;
}

.heading + .text {
  margin-top: 15px;
}

.subheading {
  max-width: 770px;
  margin: 0 auto 20px;
}

.text {
  max-width: 970px;
  margin: 0 auto;
  text-align: left;
}

.top-icon {
  width: 20px;
}

.button {
  width: 100%;

  @media (--ui-phone-devices) {
    width: auto;
  }
}