@import "wireframe-zapdos-services/src/style.css";

.section {

  @media (min-width: 1200px) {
    padding-top: 75px;
    padding-bottom: 60px;
  }
}

.subtitle {

  @media (min-width: 1200px) {
    max-width: 970px;
    margin-top: 35px;
    margin-bottom: 20px;
    word-break: keep-all;
  }
}

.article {

  @media (min-width: 1200px) {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  &__title {

    @media (min-width: 1200px) {
      margin-bottom: 7px;
    }
  }

  &__text {

    @media (min-width: 1200px) {
      font-size: var(--ui-small-size);
    }
  }
}
