@import "wireframe-zapdos-pricing/src/style.css";

/* start here */

.section {

  @media (min-width: 992px) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.subtitle {
  max-width: 880px;
}

.plans-wrapper {

  @media (min-width: 768px) {
    margin-top: 80px;
    margin-bottom: 30px;

    &:first-child {
      margin-top: 30px;
    }
  }
}

.plan {
  font-size: var(--ui-text-size);
  line-height: var(--ui-text-line-height);
  font-family: var(--ui-text-font-family);

  &__price-count {
    font-size: var(--ui-hero-title-size);
    font-family: var(--ui-hero-title-font-family);
    font-weight: var(--ui-hero-title-font-weight);
  }

  &__list-item {
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  &--main {
    padding-top: 70px;

    .plan__title {
      font-weight: var(--ui-heading-font-weight);
    }

    .plan__button {
      margin-top: 0;
    }
  }
}
