@import "wireframe-zapdos-gallery/src/style.css";

/* start here */

.section__inner {

  @media (min-width: 768px) {
    max-width: 100%;
  }
}

.items-wrapper {
  margin-bottom: 0;

  @media (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.item {
  margin-bottom: 0;
  min-width: 0;
  padding: 0;

  @media (min-width: 480px) {
    padding: 0;
    flex-basis: 50%;
    max-width: none;
  }

  @media (min-width: 768px) {
    flex-basis: 33.3333%;
    max-width: none;
    margin-bottom: 0;
  }

  @media (min-width: 992px) {
    max-width: none;

    &:nth-last-of-type(4):first-child,
    &:nth-last-of-type(4):first-child ~ .item {
      flex-basis: 25%;
    }

    &:nth-last-of-type(5):first-child,
    &:nth-last-of-type(5):first-child ~ .item {
      flex-basis: 20%;
    }

    &:nth-last-of-type(6):first-child,
    &:nth-last-of-type(6):first-child ~ .item {
      flex-basis: 16.6666%;
    }
  }

  &__picture {

    @media (min-width: 768px) {
      padding-top: 100%;
    }
  }

  &__image {
    background-size: cover;
  }
}
