@import "wireframe-zapdos-about/src/style.css";

/* start here */
.section {
  padding: 100px 0;
}

.article {
  &__picture-wrapper {

    @media (min-width: 992px) {
      max-width: 30%;
      flex-basis: 30%;
    }
  }

  &__title {
    margin-bottom: 50px;
  }

  &__subtitle {
    max-width: 560px;
    margin-bottom: 30px;
    font-size: var(--ui-heading-size);
    line-height: var(--ui-heading-line-height);
  }

  &__content {

    @media (min-width: 992px) {
      padding-left: 50px;
      max-width: 70%;
      flex-basis: 70%;
    }
  }

  &__text {

    @media (min-width: 992px) {
      span {
        column-count: 2;
        column-gap: 40px;
      }
    }
  }
}

.button {
  text-transform: uppercase;
}
