@import "wireframe-zapdos-text/src/style.css";

/* start here */

.section {
  &__header {
    margin-bottom: 25px;
  }
}

.top-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  padding: 20px;
  color: var(--ui-brand-color);

  > svg {
    max-width: 20px;
    max-height: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--ui-dark-accent-color);
    opacity: 0.05;
  }
}

.text {
  text-align: center;
  max-width: 770px;
  position: relative;
  margin-bottom: 31px;
  font-size: calc(var(--ui-text-size) * 0.875);

  &::after {
    display: block;
    content: "";
    width: 80px;
    height: 2px;
    background-color: var(--ui-brand-color);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    margin-top: 31px;
  }
}
