.section {
  min-width: 320px;
  padding: 50px 20px;

  @media (min-width: 768px) {
    padding: 60px 40px;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }

  &__inner {
    padding: var(--ui-content-gutter);
  }

  &__header {
    max-width: var(--ui-content-container);
    margin: 0 auto;
  }
}

.title {
  margin-bottom: 15px;
  text-align: center;
}

.subtitle {
  margin: 0 auto 25px;

  /* font-size: calc(var(--ui-subtitle-size) * 0.8); */
  text-align: center;

  @media (min-width: 992px) {
    max-width: 770px;

    /* font-size: var(--ui-subtitle-size); */
  }
}

.items-wrapper {
  margin: 0 -20px;
  padding-top: 5px;
  text-align: center;

  @media (min-width: 768px) {
    margin: 0 -40px;
    padding-top: 25px;
  }

  @media (min-width: 992px) {
    margin: 0;
  }
}

.item {
  padding: 30px 25px;
  background-color: #d8d8d8;

  @media (min-width: 768px) {
    padding: 20px 25px;
    align-items: center;
  }

  &:nth-of-type(even) {
    background-color: #fbfbfb;
  }

  &__inner {
    display: flex;
    justify-content: flex-start;

    @media (min-width: 992px) {
      max-width: 1120px;
      margin: 0 auto;
    }
  }

  &__icon-wrapper {
    display: flex;
    width: 80px;
    height: 80px;
    padding: 12px;
    margin-right: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__icon {
    width: 100%;
  }

  &__title {
    margin-bottom: 4px;
    font-size: calc(var(--ui-heading-size) * .8333);
    text-align: left;
  }

  &__content {
    max-width: calc(100% - 100px);
    flex-direction: column;
    text-align: left;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__info {
    margin-bottom: 40px;

    @media (min-width: 768px) {
      max-width: calc(100% - 220px);
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  &__text {
    margin-bottom: 6px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__link {
    text-align: left;

    @media (min-width: 768px) {
      max-width: 200px;
      margin-right: 10px;
    }

    @media (min-width: 992px) {
      &:only-child {
        margin-right: 25px;
      }
    }
  }

  @media (min-width: 768px) {
    .article__picture + .article__content {
      margin-left: 49px;
    }
  }

  @media (min-width: 992px) {
    .article__picture + .article__content {
      margin-left: 0;
    }
  }
}

.btns-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  @media (min-width: 768px) {
    margin-top: 50px;
  }

  @media (min-width: 992px) {
    margin-top: 60px;
  }

  .button {
    width: 100%;

    @media(min-width: 480px) {
      width: auto;
    }
  }
}

.caption-decorator {
  text-align: center;
}
