@import "wireframe-zapdos-faq/src/style.css";

/* start here */

.title {
  margin-bottom: 0;
}

.subtitle {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 51px;
  margin-bottom: 0;
}

.items {
  margin-top: 32px;
}

.item {
  position: relative;
  max-width: 810px;
  margin: auto;
  padding: 20px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    color: inherit;
    background-color: currentColor;
    opacity: 0.075;
  }

  &__title {
    padding-right: 70px;
    border-bottom: 0;
  }

  &__icon {
    transition: none;
    width: auto;
    height: auto;
    color: var(--ui-brand-color);
  }

  &--active .item__icon {
    transform: translateY(-50%) rotate(-45deg);
    color: inherit;
  }
}

.btns-group {
  margin-top: 40px;
}