@import "wireframe-zapdos-events/src/style.css";

/* start here */

.title {
  text-align: center;
  margin-bottom: 40px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    background-color: var(--ui-brand-color);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.subtitle {
  margin: 0 auto;
  text-align: center;
  font-weight: calc(var(--ui-subtitle-font-weight) * 0.8);

  @media (min-width: 992px) {
    max-width: 55%;
  }
}

.article {
  background-color: transparent;

  &__picture-wrapper {
    min-height: 0;
  }

  &__picture {
    padding-top: 89%;
  }

  &__badge {
    padding: 10px 14px;
    max-width: 120px;
    top: 10px;
    left: 10px;
    z-index: 3;
    background-color: transparent;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      background-color: var(--ui-dark-shade-color);
      z-index: -1;
      opacity: 0.5;
    }
  }

  &__info {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--ui-light-shade-color);
      opacity: 0.05;
      z-index: -1;
    }
  }

  &__date {
    font-size: var(--ui-text-size);
  }

  &__title {
    line-height: var(--ui-heading-line-height);
  }

  &__time {

    @media (min-width: 768px) {
      font-size: calc(var(--ui-text-size) * 0.875);
    }
  }
}
