@import "wireframe-zapdos-pricing/src/style.css";

/* start here */

.section__inner {
  text-align: center;
}

.title {
  position: relative;
  width: auto;
  display: inline-block;
}

.subtitle {
  font-size: calc(var(--ui-subtitle-size) * 0.8);
}

.plan--main {
  margin: 0;
  box-shadow: none;

  .plan__title {
    font-weight: var(--ui-hero-title-font-weight);
  }

  .plan__button {
    margin-top: 0;
  }
}

.plans-wrapper {
  justify-content: space-around;
  margin-top: 40px;
}

.plan {
  flex-basis: 31%;
  max-width: 31%;

  &__title {
    font-weight: var(--ui-hero-title-font-weight);
  }

  &__price {
    margin-bottom: 40px;

    &-count {
      font-weight: var(--ui-hero-title-font-weight);
      font-family: var(--ui-heading-font-family);
      font-size: var(--ui-heading-lg-size);
      margin-bottom: 7px;
    }
  }

  &__list {
    &-item {
      margin-bottom: 0;
      font-size: var(--ui-text-size);
    }
  }
}

@media (min-width: 992px) {
  .subtitle {
    max-width: 697px;
  }
}

@media (max-width: 767px) {
  .plan {
    flex-basis: 90%;
    max-width: 90%;
    margin-bottom: 25px;
  }
}

.btns-group .link {
  position: relative;
  text-decoration: none;
  padding-right: 27px;
  transition: color 0.2s ease-in;
  color: var(--ui-block-title-color);
  font-weight: 600;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 2px;
    background-color: currentColor;
  }

  &:only-child {
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      width: 12px;
      height: 2px;
      background-color: currentColor;
    }
  }
}