.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }
}

.title {
  text-align: center;
  margin-bottom: 15px;

  &:only-child {
    margin-bottom: 0;
  }
}

.subtitle {
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
}

.articles-wrapper {
  display: flex;
  margin: 0 -15px -50px;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    width: 39%;
  }

  @media (min-width: 992px) {
    width: 33.333%;
  }

  &:first-child:last-of-type {

    @media (min-width: 768px) {
      width: 100%;
      max-width: 570px;
    }

    .article__picture {

      @media (min-width: 480px) {
        padding-top: 46.5%;
      }
    }
  }

  &:nth-last-of-type(2):first-child,
  &:nth-last-of-type(2):first-child ~ &,
  &:nth-last-of-type(4):first-child,
  &:nth-last-of-type(4):first-child ~ & {

    @media (min-width: 992px) {
      width: 39%;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &__title {
    margin-bottom: 15px;
    text-align: center;

    + .article__text {
      margin-top: -10px;
    }
  }

  &__picture {
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding-top: 100%;
    background-color: var(--ui-media-bg);

    @media (min-width: 480px) {
      padding-top: 65%;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__text {
    text-align: center;

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.btns-group {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -10px;

  @media (min-width: 480px) {
    max-width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }

  @media (min-width: 768px) {
    margin-top: 50px;
  }
}

.button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: 480px) {
    width: auto;
    max-width: calc(100% - 30px);
    margin-right: 15px;
    margin-left: 15px;
  }
}

.caption-decorator {
  text-align: center;
}
