.section {
  min-width: 320px;
  text-align: center;
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}

@media (min-width: 992px) {
  .section {
    padding: 75px 0;
  }
}

.section__header {
  padding: 40px 20px 0;
  margin-bottom: 25px;
  
  &:empty {
    margin-bottom: 0;
  }
}

@media (min-width: 480px) {
  .section__header {
    padding: 7.2727% 14% 0;
  }
}

.section__inner {
  margin: 0 auto;
  background-color: var(--ui-light-shade-color);
}

@media (min-width: 768px) {
  .section__inner {
    max-width: 550px;
    border-radius: 3px;
  }
}

.form {
  padding: 0 20px 50px;
}

@media (min-width: 480px) {
  .form {
    padding: 0 16.3636% 9.0909%;
  }
}

.form__item {
  display: block;
  margin-bottom: 20px;
  text-align: left;
}

.form__field {
  display: block;
  width: 100%;
  height: 46px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  text-overflow: ellipsis;
  background-color: rgba(103, 103, 103, .2);
}

@media (min-width: 992px) {
  .form__field {
    margin-top: 10px;
  }
}

.form__button {
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .form__button {
    margin-top: 15px;
  }
}

.title {
  margin-bottom: 15px;
  font-family: var(--ui-block-title-font-family);
  font-size: var(--ui-block-title-size);
  color: var(--ui-block-title-color);
  line-height: var(--ui-block-title-line-height);
  font-weight: var(--ui-block-title-font-weight);
}

.subtitle {
  margin-bottom: 10px;
  font-family: var(--ui-subtitle-font-family);
  font-size: calc(var(--ui-subtitle-size) * .8);
  color: var(--ui-subtitle-color);
  line-height: var(--ui-subtitle-line-height);
  font-weight: var(--ui-subtitle-font-weight);
}

.message {
  padding: 40px 20px 50px;
}

@media (min-width: 480px) {
  .message {
    padding: 12.7272% 15.4545% 14.5454%;
  }
}

.message__header {
  margin-bottom: 40px;
}

.message__header:last-child {
  margin-bottom: 0;
}

.social-wrapper {
  margin-top: 40px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  margin-right: 15px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: inline-flex;
  width: 30px;
  height: 30px;
  padding: 7px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--ui-icon-color);
}

.socials__link:hover,
.socials__link:active,
.socials__link:focus {
  background-color: var(--ui-link-hover-color);
}

.socials__icon {
  max-width: 100%;
  max-height: 100%;
  fill: var(--ui-light-shade-color);
}

.link {
  color: var(--ui-link-color);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--ui-link-hover-color);
  text-decoration: none;
}