.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;
  
  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }

  &__header {
    margin-bottom: 50px;
  }

  &--state-5 {
    .articles-wrapper {
      max-width: 880px;
      margin: 0 auto;
    }

    .article {
      align-items: center;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 15px;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.subtitle {
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}

.articles-wrapper {
  margin-bottom: -50px;
  
  @media (min-width: 768px) {
    display: flex;
    padding: 0 45px;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: 992px) {
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: flex-start;
    
  }
}

.article {
  margin-bottom: 50px;
  
  @media (min-width: 768px) {
    width: 50%;
    padding: 0 15px;
  }

  @media (min-width: 992px) {
    display: flex;
    align-items: flex-start;
  }

  &__title {
    text-align: center;
    margin-bottom: 5px;
    
    &:last-child {
      margin-bottom: 0;
    }
  
    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    
    @media (min-width: 768px) {
      margin-left: 0;
    }
    
    @media (min-width: 992px) {
      margin-right: 30px;
      margin-left: 0;
      margin-bottom: 0;
      flex-shrink: 0;
    }
  }

  &__content {
    &:first-child {

      @media (min-width: 992px) {
        padding-left: 60px;
        padding-right: 60px;
      }
    }
  }

  &__text {
    word-wrap: break-word;
  }
}

.btns-group {
  text-align: center;
  padding-top: 38px;
  margin-bottom: -12px;
  
  @media (min-width: 480px) {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  @media (min-width: 768px) {
    padding-top: 48px;
  }
}

.button {
  width: 100%;
  margin: 12px 0;
  
  @media (min-width: 480px) {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.link {
  margin: 12px 0;

  @media (min-width: 480px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}