@import "wireframe-zapdos-gallery/src/style.css";

/* start here */

.section {
  min-width: auto;

  @media (min-width: 992px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.item {
  margin: 0;

  @media (min-width: 480px) {
    padding: 10px;
  }

  @media (min-width: 768px) {
    max-width: 30.333%;
    flex-basis: 30.333%;
  }

  &__picture {
    padding-top: 85%;
  }
}
