@import "wireframe-zapdos-careers/src/style.css";

/* start here */
.section {

  @media (min-width: 992px) {
    padding: 60px 0;
  }

  @media (min-width: 1200px) {
    padding: 75px 0;
  }
}

.top-icon {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 18px 20px;
  border-radius: 50%;
  margin-bottom: 30px;
  color: var(--ui-brand-color);

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--ui-dark-accent-color);
    opacity: 0.05;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.subtitle {
  margin-top: 24px;
}

.content {
  padding-top: 62px;

  &__main {
    justify-content: flex-start;
  }

  &__text {
    font-size: calc(var(--ui-text-size) * 0.875);
    margin-bottom: 46px;
    text-align: left;
  }
}

.media-wrap {

  @media (min-width: 992px) {
    flex-basis: 40.2%;
    max-width: 40.2%;
    margin-right: 70px;
  }
}

.media {
  padding-top: 0;

  @__picture {
    width: 100%;
  }

  @media (min-width: 992px) {
    min-height: 0;
  }
}

.list {

  @media (min-width: 992px) {
    margin-left: 6px;
  }

  &__item {
    max-width: 310px;
    margin-top: 20px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 992px) {
      max-width: none;
      justify-content: flex-start;
    }
  }

  &__item-icon {
    width: 48px;
    height: 48px;
    padding: 0;
    margin-bottom: 0;
    margin-right: 30px;
    color: var(--ui-brand-color);
    background: none;

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__item-text {
    font-size: calc(var(--ui-text-size) * 0.875);
  }
}
