@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }
}

@media (--ui-tablet-devices) {
  .section--no-icon .plan--main .plan__title {
    margin-bottom: 35px;
  }

  .section--no-icon .plan--main .plan__button {
    margin-top: 50px;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.subtitle {
  max-width: 688px;
  margin: 0 auto;
  text-align: center;
}

@media (--ui-medium-devices) {
  .subtitle {
    max-width: 770px;
  }
}

.plans-wrapper {
  display: flex;
  margin-top: 60px;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (--ui-medium-devices) {
  .plans-wrapper {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.plan {
  padding: 50px 20px;
  flex-basis: 100%;
  width: 100%;
  text-align: center;
}

@media (--ui-tablet-devices) {
  .plan {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }
}

@media (--ui-medium-devices) {
  .plan {
    padding: 50px;
  }
}

.plan__title {
  margin-bottom: 25px;
}

.plan__icon-wrapper {
  width: 75px;
  height: 75px;
  margin: 0 auto 20px;
  color: var(--ui-icon-color);
}

.plan__price {
  margin-bottom: 30px;
}

.plan__price-count {
  display: block;
}

.plan__list {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.plan__list-item {
  margin-bottom: 15px;
}

.plan__list-item:last-of-type {
  margin-bottom: 0;
}

.plan__list-item-text {
  color: inherit;
}

.plan__button {
  width: 100%;
}

@media (--ui-phone-devices) {
  .plan__button {
    width: auto;
  }
}

.plan--main {
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

@media (--ui-tablet-devices) {
  .plan--main {
    margin-top: -20px;
    margin-bottom: -30px;
  }
}

.plan--main .plan__title {
  font-weight: 500;
}

.plan--main .plan__icon-wrapper {
  width: 90px;
  height: 90px;
}

.plan--main .plan__list {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.plan--main .plan__button {
  margin-top: 15px;
}

.btns-group {
  margin-top: 30px;
  text-align: center;
}

@media (--ui-tablet-devices) {
  .btns-group {
    margin-top: 90px;
  }
}

.btns-group .button {
  width: 100%;
}

@media (--ui-phone-devices) {
  .btns-group .button {
    width: auto;
    margin-right: 30px;
  }
}

.btns-group .button:last-child {
  margin-right: 0;
}

.link {
  transition: color 0.2s ease-out;
}

.top-icon {
  width: 20px;
}

.price-wrapper {
  background-color: var(--ui-brand-color);
}
