@import "wireframe-zapdos-footer/src/style.css";

/* start here */
.footer {
  .logo {
    &__title {
      line-height: var(--ui-heading-line-height);
      font-family: var(--ui-caption-font-family);
      font-weight: 700;
    }
  }

  .nav-list__link {
    font-size: var(--ui-small-size);
    font-family: var(--ui-small-font-family);
    font-weight: var(--ui-small-font-weight);
    text-transform: uppercase;

    &:hover {
      border-bottom: 1px solid var(--ui-text-color);
      color: var(--ui-text-color);
    }
  }

  .footer {
    &__meta {
      font-size: var(--ui-caption-size);
      font-family: var(--ui-caption-font-family);
      font-weight: var(---ui-caption-font-weight);
      text-transform: uppercase;
    }
  }
}

.logo a {
  text-decoration: none;
}

.nav-list {
  margin-top: -10px;

  &__link {
    opacity: 0.8;
    transition: all 0.3s;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;

    &:hover {
      opacity: 1;
    }
  }
}

.footer__bottom {
  position: relative;
  margin-top: 24px;
  padding: 28px 0 22px;

  &::before {
    background-color: var(--ui-light-shade-color);
    opacity: 0.6;
  }
}
