@import "wireframe-zapdos-team/src/style.css";

/* start here */
.title {
  padding-bottom: 20px;
  position: relative;

  &::after {
    content: "";
    width: 45px;
    height: 3px;
    background-color: var(--ui-brand-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.subtitle {
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);

  @media (min-width: 992px) {
    margin-top: 15px;
    padding-left: 95px;
    padding-right: 95px;
  }
}

.items-wrapper {

  @media (min-width: 992px) {
    margin-top: 55px;
    justify-content: space-around;
  }
}

.item {
  position: relative;
  border: 2px solid #ececec;

  @media (min-width: 992px) {
    flex-basis: 30%;
    max-width: 30%;
    text-align: left;
  }

  &:hover,
  &:active,
  &:focus {
    border: 2px solid var(--ui-brand-color);
  }

  &__inner {
    padding-top: 26px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 30px;
    border: 0;
    z-index: 1;
  }

  &__pic {
    width: 140px;
    height: 140px;

    &-link {
      margin-bottom: 14px;
    }
  }

  &__title {
    text-align: center;
  }

  &__position {
    font-style: italic;
    font-size: var(--ui-text-size);
    line-height: var(--ui-text-line-height);
    opacity: 0.8;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 7px;
    text-align: center;

    &::after {
      content: "";
      width: 25px;
      height: 2px;
      background-color: var(--ui-brand-color);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__desc {
    font-size: var(--ui-caption-size);
    line-height: var(--ui-caption-line-height);
    margin-bottom: 20px;
    text-align: center;
    height: 120px;
    overflow: hidden;
  }

  &__contacts {
    flex-wrap: wrap;
  }

  &__email {
    margin-right: auto;

    &:only-child {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__socials {
    &:only-child {
      margin-right: auto;
      margin-left: auto;
    }
  }

  a {
    text-decoration: none;
    transition: color .2s ease-in;
  }
}

.item .link {
  margin-bottom: 42px;
  color: var(--ui-brand-color);
  width: 100%;
  font-weight: bold;
}
