@import "wireframe-zapdos-footer/src/style.css";

/* start here */

.footer {
  padding: 85px 0 0;

  &__main {
    &:only-child {
      padding-bottom: 85px;
    }
  }

  &__bottom {
    position: relative;
    margin-top: 38px;
    opacity: 0.5;
    padding: 84px 0 46px;
    display: flex;

    &::before {
      background-color: var(--ui-text-color);
      opacity: 0.5;
    }
  }

  &__meta {
    color: var(--ui-text-color);

    @media (min-width: 992px) {
      width: 50%;

      &--copyright {
        text-align: left;
      }

      &--additional {
        text-align: right;
      }

      &:only-child {
        width: 100%;
        max-width: none;
      }
    }
  }
}

.logo {
  a {
    text-decoration: none;
  }

  &__title {
    font-size: calc(var(--ui-subheading-size) * 1.05);
    font-family: var(--ui-subheading-font-family);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--ui-subheading-color);
    display: flex;

    @media (max-width: 991px) {
      align-items: center;
      justify-content: center;
    }
  }

  &__subtitle {
    font-size: calc(var(--ui-small-text-size) / 1.2);
    color: var(--ui-small-color);
    text-transform: uppercase;
  }
}

.nav-list {
  font-size: var(--ui-text-size);
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
  color: var(--ui-link-color);
  margin-right: 0;
  margin-left: 0;

  &:first-child {
    margin-left: -17px;
  }
}
