.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.article {
  text-align: center;
}

.article__picture {
  display: block;
  position: relative;
  margin-bottom: 50px;
  padding-top: 28%;
}

.article__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.article__content {

  @media (min-width: 992px) {
    max-width: 770px;
    margin: 0 auto;
  }
}

.article__title {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  + .article__subtitle {
    margin-top: 5px;
  }

  + .btns-group {
    margin-top: 0;
  }

}

.article__heading {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.article__subheading {
  width: 100%;
  margin-bottom: 10px;

  + .socials {
    margin-top: 10px;
  }
}

.article__subtitle--socials {
  margin-bottom: 0;
  margin-top: 0;
}

.article__text {
  margin-bottom: 30px;

  + .btns-group {
    margin-top: 0;
  }
}

.article__title + .socials {
  margin-top: 20px;
}

.socials-wrapper {
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    flex: 0 1 auto;
  }
}

.btns-group {
  margin: 30px -15px -10px;
}

.button,
.link {
  max-width: calc(100% - 30px);
  margin: 10px 15px;
}

@media (min-width: 480px) {
  .button {
    width: auto;
    max-width: calc(100% - 30px);
  }
}
