@import "wireframe-zapdos-projects/src/style.css";

/* start here */

.section__header {
  margin-bottom: 40px;
}

.title {
  font-size: var(--ui-subtitle-size);
}

.subtitle {
  font-size: calc( var(--ui-subtitle-size) * 0.7);
}

.article {
  &__content {
    padding-bottom: 0;
  }

  &__caption {
    margin-bottom: 9px;
  }

  &__picture {
    background-color: transparent;
  }

  &__text {
    margin-bottom: 18px;
  }

  .link {
    position: relative;
    padding-right: 22px;
    text-decoration: none;
    font-weight: 600;
    color: var(--ui-block-title-color);

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: calc(50% - 2px);
      width: 12px;
      height: 2px;
      background-color: currentColor;
    }
  }
}

.btns-group {
  margin-top: 41px;

  .link {
    position: relative;
    padding-right: 22px;
    padding-left: 22px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--ui-block-title-color);

    &:hover {
      text-decoration: underline;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      width: 12px;
      height: 2px;
      background-color: currentColor;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }
}

@media (min-width: 480px) {
  .title {
    font-size: var(--ui-block-title-size);
  }

  .subtitle {
    font-size: calc( var(--ui-subtitle-size) * 0.8);
  }

  .article {
    &__caption {
      font-size: var(--ui-small-size);
    }

    &__title {
      font-size: var(--ui-heading-size);
    }
  }
}

@media (min-width: 992px) {
  .section {
    padding: 70px 0;
  }

  .subtitle {
    margin-top: 22px;
  }

  .article {
    justify-content: space-between;
    margin-bottom: 10px;

    &__content,
    &__picture-wrapper {
      flex-basis: calc(50% - 15px);
      max-width: calc(50% - 15px);
    }

    &__picture {
      padding-top: 0;
      background-color: transparent;
    }

    &__content {
      justify-content: flex-start;
      padding: 60px 30px;
    }

    &:nth-child(even) {
      .article__content {
        padding: 60px 40px 60px 30px;
      }
    }

    &__title {
      margin-bottom: 30px;
    }
  }
}
