@import "media.css";

.footer {
  min-width: 320px;
  padding: 20px 0;
  word-wrap: break-word;
}

@media (--ui-medium-devices) {
  .footer {
    padding: 25px 0;
  }
}

.footer__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
}

@media (--ui-medium-devices) {
  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__main {
  justify-content: space-between;
  align-items: center;

  @media (--ui-medium-devices) {
    display: flex;
  }
}

.footer__bottom {
  display: flex;
  position: relative;
  padding: 20px 0 0;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--ui-light-accent-color);
}

@media (--ui-medium-devices) {
  .footer__bottom {
    padding: 20px 0 5px;
    flex-direction: row;
    flex: 0 0 100%;
    justify-content: space-between;
  }
}

.footer__meta {
  text-align: center;
  margin-bottom: 10px;

  @media (--ui-medium-devices) {
    width: 50%;
    margin-bottom: 0;

    &--copyright {
      text-align: left;
    }

    &--additional {
      text-align: right;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:only-child {
      width: 100%;
      max-width: none;
    }
  }
}

.logo {
  display: flex;
  max-width: 270px;
  margin: 0 auto 30px;
  flex-direction: column;
  text-align: center;

  a {
    text-decoration: none;
  }

  &__inner {
    min-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    margin: 0 auto;

    @media (--ui-medium-devices) {
      margin: 0;
    }
  }
}

@media (--ui-medium-devices) {
  .logo {
    margin: 0;
    text-align: left;
  }
}

.logo__title {

  /* color: var(--ui-block-title-color);
  line-height: var(--ui-block-title-line-height);
  font-family: var(--ui-block-title-font-family);
  font-weight: var(--ui-block-title-font-weight);
  font-size: calc(var(--ui-block-title-size) * 0.75); */
}

.logo__pic {
  width: 100%;
}

.nav {
  display: flex;
  min-height: 54px;
  flex-direction: column;
  align-items: center;
  font-family: var(--ui-text-font-family);

  &-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (--ui-medium-devices) {
  .nav {
    flex-direction: row;
    max-width: 100%;
  }

  .logo + .nav-wrapper {
    justify-content: flex-end;
  }
}

.nav-list {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  list-style: none;

  @media (--ui-medium-devices) {
    padding-left: 30px;
  }

  &:first-child {

    @media (--ui-medium-devices) {
      padding-left: 0;
    }
  }
}

@media (--ui-medium-devices) {
  .nav-list {
    width: auto;
    padding-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -17px;
    margin-right: -17px;
  }

  .logo + .nav-wrapper .nav-list {
    justify-content: flex-end;
  }
}

.nav-list__item {
  margin-bottom: 22px;
}

@media (--ui-medium-devices) {
  .nav-list__item {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (--ui-medium-devices) {
  .nav-list__item {
    margin-left: 17px;
    margin-right: 17px;
  }
}

.nav-list__link {
  transition: color 0.2s ease-in;
}
