@import "wireframe-zapdos-gallery/src/style.css";

/* start here */
.section {
  position: relative;
  padding-bottom: 0;

  &__inner {
    max-width: none;
  }

  &__header {
    margin-bottom: 58px;
  }

  @media (min-width: 992px) {
    padding-top: 90px;
    padding-bottom: 0;
  }
}

.items-wrapper {
  margin: 0 -15px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}

.title {
  margin-bottom: 35px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: var(--ui-brand-color);
    bottom: -18px;
    left: 50%;
    width: 45px;
    height: 2px;
    transform: translateX(-50%);
  }
}

.subtitle {
  position: relative;

  @media (min-width: 992px) {
    max-width: 611px;
  }
}

.item {
  padding: 0;
  position: relative;
  margin-bottom: 0;
  transition: 0.3s linear;
  align-items: center;
  justify-content: center;

  @media (min-width: 992px) {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: var(--ui-brand-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* transition: 0.3s linear; */

    display: none;
  }

  /* &:hover {
    .item__caption {
      opacity: 1;
    }

    .item__text {
      opacity: 1;
    }

    &::after {
      opacity: 0.8;
    }
  } */

  &__picture {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 52%;

    &-wrapper {
      width: 100%;
    }
  }

  &__caption {
    z-index: 9;
    opacity: 0;
    font-family: var(--ui-text-font-family);
    /* font-style: italic; */
    /* transition: 0.3s linear; */
    display: none;

    @media (min-width: 768px) {
      margin-top: 10px;
    }

    @media (min-width: 992px) {
      font-size: var(--ui-text-size);
    }
  }

  &__text {
    z-index: 9;
    opacity: 0;
    font-family: var(--ui-heading-font-family);
    font-weight: var(--ui-heading-font-weight);
    /* transition: 0.3s linear; */
    font-size: var(--ui-sub-heading-size);
    margin-top: 0;
    display: none;

    @media (min-width: 480px) {
      font-size: var(--ui-heading-size);
    }

    @media (min-width: 768px) {
      font-size: var(--ui-text-size);
    }

    @media (min-width: 992px) {
      font-size: var(--ui-subtitle-size);
    }

    @media (min-width: 1200px) {
      font-size: var(--ui-heading-size);
    }
  }
}
