@import "wireframe-zapdos-services/src/style.css";

/* start here */

.section__header {
  padding-top: 0;
  margin-bottom: 30px;
}

.subtitle {
  margin-top: 24px;
}

.top-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  padding: 20px;
  color: var(--ui-brand-color);

  > svg {
    max-width: 100%;
    max-height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--ui-dark-accent-color);
    opacity: 0.05;
  }
}

.article {
  display: flex;
  flex-direction: column;

  &__picture {
    padding-top: 67%;
  }

  &__picture-wrapper {
    margin-bottom: 33px;
  }

  &__text {
    margin-bottom: 19px;

    @media (min-width: 768px) {
      font-size: calc(var(--ui-text-size) * 0.875);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    margin-top: auto;

    &.button {
      margin-top: auto;
    }
  }

  .link {
    text-align: left;
    color: var(--ui-brand-color);
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;

    @media (min-width: 768px) {
      font-size: calc(var(--ui-text-size) * 0.9375);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
