@import "wireframe-lucario-cover/src/style.css";

.items-wrapper {
  max-width: inherit;

  :global {
    .slick-arrow {
      width: 23px;
      color: var(--ui-light-shade-color);
      transition: color ease-in 0.2s;

      &:hover,
      &:focus,
      &:active {
        color: var(--ui-light-accent-color);
        opacity: 1;
      }
    }

    .slick-prev {
      transform: translateX(-200%);

      @media (min-width: 992px) {
        left: calc(12% - 20px);
      }
    }

    .slick-next {
      transform: translateY(200%);

      @media (min-width: 992px) {
        right: auto;
        left: calc(52% + 100px);
      }

      @media (min-width: 1200px) {
        right: auto;
        left: calc(52% - 20px);
      }
    }

    .slick-prev,
    .slick-next {

      @media (min-width: 768px) {
        transform: none;
      }
    }
  }
}

.item {
  &__inner {

    @media (min-width: 992px) {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 12.1%;
      padding-right: 0;
      max-width: 60%;
      margin-left: 0;
      margin-right: auto;
    }

    @media (min-width: 1200px) {
      max-width: 50%;
    }
  }

  &__title {
    font-style: italic;

    @media(min-width: 748px) {
      margin-bottom: 20px;
    }
  }
}

.slider-dots {

  @media (min-width: 992px) {
    padding-left: calc(12.1% + 15px);
    max-width: 60%;
    margin-right: auto;
    margin-left: 0;
  }

  @media (min-width: 1200px) {
    max-width: 50%;
  }

  /* stylelint-disable */
  :global {
    li button {
      width: 15px;
      height: 15px;
    }
  }
  /* stylelint-enable */
}

.btns-group {

  @media(min-width: 748px) {
    margin-top: 22px;
  }
}