.header {
  min-width: 320px;
  padding: 15px 0;
  word-wrap: break-word;
}

.header__inner {
  display: flex;
  width: 100%;
  max-width: var(--ui-content-container);
  min-height: 50px;
  margin: 0 auto;
  padding: var(--ui-content-gutter);
  flex-direction: column;
  flex: 1;
}

@media (min-width: 992px) {
  .header__inner {
    min-height: 65px;
    flex-direction: row;
    align-items: center;
  }
}

.header .header__button {
  width: 100%;
  margin-top: auto;
  flex-shrink: 0;
}

@media (min-width: 480px) {
  .header .header__button {
    max-width: 270px;
  }
}

@media (min-width: 992px) {
  .header .header__button {
    width: auto;
    max-width: 270px;
    margin-left: 34px;
    margin-top: 0;
  }
}

.header--nav-open {

  @media (max-width: 991px) {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    z-index: 5000;
    width: 100%;
    height: 100%;
  }
}

.header--nav-open .nav {
  position: static;
  visibility: visible;
  height: 100%;
}

.header--nav-open .logo {
  z-index: 999999;
}

.header--nav-open .logo__title {
  color: var(--ui-light-shade-color);
}

.header--nav-open .nav-button__line:nth-child(2) {
  opacity: 0;
}

.header--nav-open .nav-button__line:first-child {
  transform: translateY(7px) rotate(45deg);
}

.header--nav-open .nav-button__line:last-child {
  transform: translateY(-7px) rotate(-45deg);
}

.logo {
  display: flex;
  min-width: 200px;
  max-width: 325px;
  min-height: 46px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  margin-right: 30px;
  
  @media (min-width: 992px) {
    margin-right: 0;
  }
}

.logo__title {
  font-size: calc(var(--ui-block-title-size) * .5);
  line-height: var(--ui-block-title-line-height);
  font-weight: var(--ui-block-title-font-weight);
  color: var(--ui-block-title-color);
  font-family: var(--ui-block-title-font-family);
}

.nav {
  display: flex;
  position: absolute;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  flex: 1;
  visibility: hidden;
  transition: opacity .2s ease-in;
}

@media (min-width: 992px) {
  .nav {
    position: static;
    width: auto;
    padding-left: 10px;
    margin-top: 0;
    visibility: visible;
    justify-content: flex-end;
    flex-direction: row;
    z-index: auto;
  }
}

@media (min-width: 992px) {
  .nav:first-child .nav-list:only-child {
    width: 100%;
    justify-content: flex-start;
  }

  .nav:first-child .nav-list:only-child .nav-list__item {
    margin-right: 34px;
    margin-left: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--ui-dark-shade-color);
}

@media (min-width: 992px) {
  .nav::before {
    display: none;
  }
}

.nav-list {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  font-size: var(--ui-text-size);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  color: var(--ui-text-color);
  font-family: var(--ui-text-font-family);
  
  @media (min-width: 992px) {
    overflow: visible;
  }
}

@media (min-width: 992px) {
  .nav-list {
    width: auto;
    padding-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }
}

.nav-list__item {
  max-width: 100%;
  margin-bottom: 22px;
}

@media (min-width: 992px) {
  .nav-list__item {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 992px) {
  .nav-list__item {
    margin-left: 34px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.nav-list__link {
  color: inherit;
  text-decoration: none;
  transition: color .2s ease-in;
}

.nav-list__link:hover {
  color: var(--ui-link-hover-color);
}

.nav-button {
  position: absolute;
  width: 20px;
  height: 16px;
  right: 15px;
  top: 32px;
  padding: 0;
  z-index: 999999;
  background-color: transparent;
  color: var(--ui-brand-color);
  border: 0;
  outline: none;
  cursor: pointer;
}

@media (min-width: 992px) {
  .nav-button {
    display: none;
  }
}

.nav-button__line {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: currentColor;
  transform-origin: 50% 50%;
  transition: transform .2s ease-in, opacity .2s ease-in;
}

.nav-button__line:first-child {
  top: 0;
}

.nav-button__line:nth-child(2) {
  top: 7px;
}

.nav-button__line:last-child {
  bottom: 0;
}
