@import "wireframe-zapdos-header/src/style.css";

/* start here */
.header {
  .logo {
    &__title {
      font-family: var(--ui-caption-font-family);
      font-weight: var(--ui-block-title-font-weight);
      color: var(--ui-light-shade-color);
    }
  }

  .nav-list__link {
    color: var(--ui-link-color);
    font-family: var(--ui-caption-font-family);
    font-size: var(--ui-caption-size);
    font-weight: 400;

    &:hover {
      color: var(--ui-link-color);
      opacity: 1;
    }
  }
}

.nav-list {
  &__link {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0.8;

    &:hover::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 1px;
      background: var(--ui-link-color);
      left: 50%;
      transform: translateX(-50%);
      bottom: -2px;
    }
  }
}
