@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  text-align: center;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  margin-bottom: 30px;
}

.description {
  margin-bottom: 30px;

  &:nth-child(2) {
    margin-top: -15px;
  }
}

.content-wrapper {
  background-color: var(--ui-brand-color);
}

.section__picture {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 57%;
  background-color: var(--ui-media-bg);
}

.section__picture-wrapper {
  display: block;
  color: inherit;
  margin-bottom: 20px;
}

.section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.button {
  width: 100%;

  @media (--ui-phone-devices) {
    width: auto;
  }
}
