@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }
}

.title,
.subtitle {
  text-align: center;

  @media (--ui-tablet-devices) {
    text-align: left;
  }
}

.title {
  margin-bottom: 10px;
}

.subtitle {

  @media (--ui-medium-devices) {
    max-width: 970px;
  }
}

.items-wrapper {
  margin: 0 -15px;
  padding: 0 15px;
}

.picture-wrapper {
  margin: 0 -15px 20px;

  @media (--ui-tablet-devices) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  @media (--ui-medium-devices) {
    max-width: 66%;
    margin-top: -15px;
    margin-right: 20px;
    margin-bottom: -15px;
    margin-left: -15px;
    justify-content: space-between;
    flex-basis: 66%;
  }
}

.item {
  margin: 0 -15px 20px;
  padding: 0 15px 15px;

  @media (--ui-tablet-devices) {
    padding: 15px;
  }

  @media (--ui-medium-devices) {
    display: flex;
  }

  &__picture {
    height: 200px;
    padding-top: 0;

    @media (--ui-tablet-devices) {
      height: 300px;
    }

    @media (--ui-medium-devices) {
      height: 100%;
      min-height: 200px;
    }
  }

  &__picture-wrapper {

    @media (--ui-tablet-devices) {
      max-width: calc(50% - 30px);
      margin: 15px;
      flex-basis: calc(50% - 30px);
    }

    @media (--ui-medium-devices) {
      height: calc(100% - 30px);
    }

    &:only-of-type {
      max-width: 100%;
      flex-basis: 100%;

      @media (--ui-medium-devices) {
        min-height: 300px;
      }
    }

    &--2-items {

      @media (--ui-medium-devices) {
        min-height: 300px;
      }
    }

    &--3-items {

      @media (--ui-tablet-devices) {
        max-width: calc(33.3333% - 30px);
        flex-basis: calc(33.3333% - 30px);
      }
    }

    &--5-items {

      @media (--ui-tablet-devices) {
        height: calc(50% - 30px);
        min-width: calc(33.3333% - 30px);
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
      }
    }

    &--4-items {
      height: calc(50% - 30px);
    }

    &--6-items {
      height: calc(33.3333% - 30px);
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    @media (--ui-medium-devices) {
      display: block;
      max-width: calc(34% - 30px);
    }
  }

  &__list {
    max-width: 100%;
    margin-bottom: 20px;
    flex-basis: 100%;

    @media (--ui-tablet-devices) {
      max-width: 50%;
      padding-right: 15px;
      flex-basis: 50%;
    }

    @media (--ui-medium-devices) {
      max-width: 100%;
      padding-right: 0;
    }
  }

  &__body {
    max-width: 100%;
    margin-bottom: 20px;

    @media (--ui-tablet-devices) {
      max-width: 50%;
      padding-left: 15px;
      flex-basis: 50%;
    }

    @media (--ui-medium-devices) {
      max-width: 100%;
      padding-left: 0;
    }
  }

  &__button {
    min-width: 1px;

    @media (--ui-tablet-devices) {
      margin: 0;
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: auto;
    }
  }

  &--list-hidden,
  &--body-hidden {
    .item__content {
      max-width: 100%;
      align-self: flex-start;
      flex-basis: 100%;

      @media (--ui-medium-devices) {
        max-width: calc(34% - 30px);
        flex-basis: calc(34% - 30px);
      }
    }

    .item__list {

      @media (--ui-tablet-devices) {
        max-width: 100%;
        padding-right: 0;
        flex-basis: 100%;
      }
    }

    .item__body {
      max-width: 100%;
      padding-left: 0;
      flex-basis: 100%;
    }
  }

  &--content-hidden {

    @media (--ui-medium-devices) {
      flex-wrap: wrap;
    }

    .picture-wrapper {

      @media (--ui-medium-devices) {
        max-width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
        flex-basis: calc(100% + 30px);
      }
    }

    .item__content {

      @media (--ui-medium-devices) {
        max-width: 100%;
        margin: 30px auto 0;
        flex-basis: 100%;
        text-align: center;
      }
    }
  }

  &--two-rows {
    .item__content {
      align-self: center;
    }
  }
}

.brief {
  display: flex;
  max-width: 100%;
  margin-bottom: 10px;

  &__title {
    max-width: 100px;
    flex-basis: 100px;
    margin-right: 15px;
    font-size: 18px;
  }

  &__desc {
    max-width: calc(100% - 115px);
    font-size: 18px;
  }
}

.btns-group {
  text-align: center;
}

.button {
  width: 100%;

  @media (--ui-phone-devices) {
    width: auto;
  }
}