.footer {
  min-width: 320px;
  padding: 40px 0 0;
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .footer {
    padding: 50px 0 0;
  }
}

.footer__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

@media (min-width: 768px) {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .footer__part {
    max-width: 33.333%;
    flex: 33.333%;
  }
}

@media (min-width: 992px) {
  .footer__part {
    max-width: 25%;
    flex: 25%;
  }
}

@media (min-width: 768px) {
  .footer__part--center {
    max-width: 66.666%;
    flex: 66.666%;
    padding-left: 60px;
  }
}

@media (min-width: 992px) {
  .footer__part--center {
    max-width: 50%;
    flex: 50%;
    padding-left: 100px;
  }
}

@media (min-width: 768px) {
  .footer__part--center:first-child {
    max-width: 100%;
    flex: 100%;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .footer__part--center:first-child {
    max-width: 75%;
    flex: 75%;
  }
}

@media (min-width: 768px) {
  .footer__part--center:first-child .nav-list {
    max-width: 67%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .footer__part--center:first-child .nav-list {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .footer__part--last {
    max-width: 100%;
    flex: 100%;
  }
}

@media (min-width: 992px) {
  .footer__part--last {
    display: flex;
    max-width: 25%;
    margin-left: auto;
    justify-content: flex-end;
    flex: 25%;
  }
}

.footer__text {
  margin-bottom: 30px;
  font-size: calc(var(--ui-text-size) * 0.875);
  text-align: center;
}

@media (min-width: 768px) {
  .footer__text {
    max-width: 100%;
    margin-bottom: 0;
    text-align: left;
  }
}

.footer__bottom {
  padding: 10px 0;
}

@media (min-width: 768px) {
  .footer__bottom {
    display: flex;
    max-width: 100%;
    flex-basis: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .footer__bottom {
    padding-top: 40px;
  }
}

.footer__meta {
  display: block;
  max-width: 100%;
  font-size: calc(var(--ui-caption-size) * 0.8571);
  line-height: calc(var(--ui-caption-line-height) * 1.4117);
  text-align: center;
}

@media (min-width: 768px) {
  .footer__meta {
    font-size: var(--ui-caption-size);
  }
}

.logo {
  display: block;
  max-width: 270px;
  margin: 0 auto 18px;
  text-align: center;

  a {
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .logo {
    text-align: left;
    margin-left: 0;
  }
}

.logo__title {
  font-size: calc(var(--ui-block-title-size) * 0.75);
  color: var(--ui-block-title-color);
}

.logo__subtitle {
  font-size: calc(var(--ui-subtitle-size) * 0.8);
  color: var(--ui-subtitle-color);
}

.logo__pic {
  width: 100%;
}

.nav-list {
  position: relative;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .nav-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.nav-list__item {
  margin-bottom: 7px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .nav-list__item {
    display: flex;
    max-width: 33.333%;
    flex: 33.333%;
  }
}

.nav-list__link {
  max-width: 100%;
  color: var(--ui-text-color);
  text-decoration: none;
  transition: color .2s ease-in;
  text-align: left;
}

.nav-list__link:focus,
.nav-list__link:active,
.nav-list__link:hover {
  outline: none;
  color: var(--ui-link-hover-color);
}

.socials {
  display: flex;
  max-width: 100%;
  margin-top: 43px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .socials {
    margin-top: 23px;
    margin-bottom: 34px;
  }
}

@media (min-width: 992px) {
  .socials {
    margin-top: 0;
    margin-bottom: 0;
    align-items: flex-end;
  }
}

.socials__title {
  margin-bottom: 14px;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__item {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.socials-list__item:last-child {
  margin-right: 0;
}

.socials-list__link {
  display: inline-block;
  height: 100%;
  color: inherit;
  text-decoration: none;
  outline: none;
  transition: color .2s ease-in;
}

.socials-list__link:hover,
.socials-list__link:active,
.socials-list__link:focus {
  color: var(--ui-brand-color);
}

.socials-list__icons {
  max-width: 100%;
  max-height: 100%;
}
