@import "wireframe-zapdos-why/src/style.css";

/* start here */

.title {
  margin-bottom: 20px;
}

.subtitle {

  @media (min-width: 768px) {
    font-size: calc(var(--ui-subtitle-size) * 0.8);
  }
}

.item {

  @media (min-width: 992px) {
    position: relative;
    margin-top: 45px;

    &:nth-last-of-type(4):first-child,
    &:nth-last-of-type(4):first-child ~ .item {
      &:nth-of-type(4n) {
        &::after {
          content: none;
        }
      }

      &:nth-of-type(3n) {
        &::after {
          content: "";
        }
      }
    }

    &:nth-last-of-type(7):first-child,
    &:nth-last-of-type(7):first-child ~ .item {
      &:nth-of-type(3n) {
        &::after {
          content: "";
        }
      }

      &:nth-of-type(4n) {
        &::after {
          content: none;
        }
      }
    }

    &:last-of-type,
    &:nth-of-type(3n) {
      &::after {
        content: none;
      }
    }

    &::after {
      content: "";
      width: 58px;
      height: 2px;
      background-color: var(--ui-brand-color);
      position: absolute;
      top: 85px;
      right: -27px;
      z-index: 2;
      opacity: 0.1;
    }
  }

  &__title {
    font-weight: 500;
    position: relative;
    margin-bottom: 42px;

    &:after {
      width: 24px;
      height: 2px;
      display: block;
      content: "";
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: currentColor;
      opacity: .1;
    }
  }

  &__top-element {
    width: 147.2px;
    height: 166.6px;
  }

  &__icon-picture {
    width: 147.2px;
    height: 166.6px;
    padding-top: 0;
    min-height: 0;
    background-color: transparent;

    > div {
      -webkit-clip-path: polygon(47.5% 0.35%, 50% 0%, 52.5% 0.35%, 97% 23%, 98.5% 25%, 99% 27%, 99% 73%, 98.5% 75%, 97% 77%, 52.5% 99.65%, 50% 100%, 47.5% 99.65%, 3% 77%, 1% 75%, 0% 73%, 0% 27%, 1% 25%, 3% 23%);
      clip-path: polygon(47.5% 0.35%, 50% 0%, 52.5% 0.35%, 97% 23%, 98.5% 25%, 99% 27%, 99% 73%, 98.5% 75%, 97% 77%, 52.5% 99.65%, 50% 100%, 47.5% 99.65%, 3% 77%, 1% 75%, 0% 73%, 0% 27%, 1% 25%, 3% 23%);
    }
  }
}

.link {
  position: relative;
  text-decoration: none;
  padding-right: 27px;
  transition: color 0.2s ease-in;
  color: var(--ui-block-title-color);

  @media (min-width: 768px) {
    margin-left: 70px;
  }

  &::after {
    display: none;

    @media (min-width: 768px) {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 12px;
      height: 2px;
      background-color: currentColor;
    }
  }

  &:only-child {
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      width: 12px;
      height: 2px;
      background-color: currentColor;
    }
  }
}

.btns-group {
  .link {
    color: var(--ui-block-title-color);
    font-weight: 700;
    font-size: calc(var(--ui-text-size) * 0.78);
    margin-top: 40px;
    width: 100%;
    padding-right: 0;

    @media (min-width: 768px) {
      margin-top: 0;
      width: auto;
      padding-right: 27px;
    }
  }
}

.section--no-icon {
  .item {
    &::after {
      display: none;
    }
  }
}
