.section {
  min-width: 320px;
  padding: 50px 0;
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
  word-wrap: break-word;
  
  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }
}

.section__inner {
  width: 100%;
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.blockquote {
  display: block;
  position: relative;
  max-width: 622px;
  margin: 0 auto;
  padding-top: 15px;
  font-size: calc(var(--ui-quote-size) * 0.7273);
  color: var(--ui-quote-color);
  line-height: var(--ui-quote-line-height);
  font-family: var(--ui-quote-font-family);
  font-weight: var(--ui-quote-font-weight);
  text-align: center;
}

@media (min-width: 992px) {
  .blockquote {
    padding-top: 25px;
    font-size: var(--ui-quote-size);
  }
}

.blockquote::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: var(--ui-quote-color);
}

@media (min-width: 768px) {
  .blockquote::before {
    width: calc(100% - 8px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.blockquote__line {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  color: var(--ui-quote-color);
}

@media (min-width: 768px) {
  .blockquote__line {
    width: calc(100% - 8px);
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .blockquote__line {
    margin-top: 39px;
  }
}

.blockquote__line::before,
.blockquote__line::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: currentColor;
}

.blockquote__line::before {
  width: 42%;
  left: 0;
}

.blockquote__line::after {
  width: 42%;
  right: 0;
}

.blockquote__icon {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
}

@media (min-width: 768px) {
  .blockquote__icon {
    width: 17px;
    height: 12px;
  }
}

@media (min-width: 992px) {
  .blockquote__icon {
    width: 25px;
    height: 18px;
  }
}

.blockquote__icon svg {
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;
}

.author {
  display: block;
  max-width: 622px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: center;
}

@media (min-width: 768px) {
  .author {
    margin-top: 18px;
    font-size: calc(var(--ui-text-size) * 0.875);
  }
}

@media (min-width: 992px) {
  .author {
    margin-top: 25px;
    font-size: var(--ui-text-size);
  }
}