@import "wireframe-zapdos-projects/src/style.css";

.section {
  padding: 0;
}

.section__header {
  padding-top: 50px;

  @media (min-width: 768px) {
    padding-top: 60px;
  }

  @media (min-width: 992px) {
    padding-top: 75px;
  }
}

.article {
  &__title {
    line-height: var(--ui-hero-title-line-height);
  }

  &___text {
    line-height: var(--ui-text-line-height);
    font-weight: var(--ui-text-font-weight);
    color: var(--ui-small-color);
  }

  &__link {
    font-family: var(--ui-text-font-family);
  }
}

.btns-group {
  padding-bottom: 50px;

  @media (min-width: 768px) {
    padding-bottom: 60px;
  }

  @media (min-width: 992px) {
    padding-bottom: 75px;
  }
}

.button {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .article {
    position: relative;
    margin: 0 auto;
    overflow: visible;
    width: 100%;
    min-height: 575px;

    &__title {
      font-size: var(--ui-hero-title-size);
      color: var(--ui-light-shade-color);
    }

    &__text {
      padding-right: 0;
      max-width: 85%;
      padding-left: 7px;
    }

    &__link {
      font-size: calc(var(--ui-text-size) * 0.675);
      color: var(--ui-light-shade-color);
      text-decoration: none;
      text-transform: uppercase;
      padding-left: 7px;
    }

    &__content {
      position: relative;
      z-index: 2;
      width: 50%;
      max-width: inherit;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-top: 0;
      left: 50%;
      text-align: left;
      margin-top: 175px;
      margin-bottom: 175px;
      display: flex;
      align-items: flex-start;
    }

    &:last-of-type {
      .article__content {
        padding-bottom: 0;
      }
    }

    &:nth-of-type(2n) .article__content {
      padding-left: 0;
      padding-right: 0;
      transform: translateX(-100%);
      text-align: right;
      align-items: flex-end;
    }

    &:nth-of-type(2n) .article__text,
    &:nth-of-type(2n) .article__link {
      padding-right: 7px;
      padding-left: 0;
    }
  }

  .article__picture {
    padding-top: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &-wrapper {
      width: 100%;
      height: 100%;
      max-width: 100%;
      flex-basis: 100%;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      width: 100%;
      object-fit: cover;
      position: inherit;
    }
  }

  .section__inner {
    max-width: inherit;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .article {
    &__text {
      max-width: 400px;
    }

    &__content {
      padding-left: 115px;
      padding-right: 0;
    }

    &:nth-of-type(2n) .article__content {
      padding-left: 0;
      padding-right: 115px;
      transform: translateX(-100%);
    }
  }
}
