@import "wireframe-zapdos-why/src/style.css";

/* start here */

.section {
  padding: 0;
}

.section__inner {
  max-width: 100%;
  padding: 0;
}

.item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0;
  flex-grow: 1;
  min-width: 0;

  &:first-of-type {
    padding-top: 50px;
  }

  &:last-of-type {
    padding-bottom: 50px;
  }

  @media (min-width: 768px) {
    max-width: none;
    padding-top: 100px;
    padding-bottom: 100px;

    &:first-of-type {
      padding-top: 100px;
    }

    &:last-of-type {
      padding-bottom: 100px;
    }
  }

  @media (min-width: 992px) {
    max-width: none;

    &:nth-last-of-type(4):first-child,
    &:nth-last-of-type(4):first-child ~ & {
      max-width: none;
    }

    &:nth-last-of-type(7):first-child,
    &:nth-last-of-type(7):first-child ~ & {
      max-width: none;
    }
  }

  &__icon {
    margin-bottom: 0;
  }

  &__top-element {
    width: 50px;
    height: 50px;

    @media (min-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }

  &__title {
    font-size: var(--ui-heading-lg-size);
    position: relative;
    margin-bottom: 42px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -23px;
      transform: translateX(-50%);
      height: 2px;
      width: 30px;
      background-color: var(--ui-light-shade-color);
    }
  }

  &__desc {
    font-size: calc(var(--ui-text-size) * 1.125);
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
  }
}
