@import "wireframe-zapdos-careers/src/style.css";

.subtitle {
  margin-top: 20px;
}

.media-wrap {
  margin-right: 0;
  margin-left: 0;

  @media (min-width: 992px) {
    margin-right: 60px;
  }
}

.media {
  padding-top: 0;

  @media (min-width: 992px) {
    min-height: 270px;
    margin-right: 70px;
  }

  &__picture {

    @media (min-width: 992px) {
      min-height: 270px;
      padding-top: 85%;
    }
  }
}

.content {
  &__main {
    &:nth-last-child(1):first-child {
      .content__text {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__text {
    line-height: 28px;
    max-width: inherit;
    text-align: center;

    @media (min-width: 992px) {
      max-width: 540px;
      text-align: left;
    }
  }
}

.list {
  margin-top: 24px;

  &__item {
    min-height: 0;
    margin-top: 9px;
  }

  &__item-icon {
    width: 60px;
    height: 60px;
    margin-right: 0;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      margin-right: 40px;
    }

    &--counter-none {
      &::before {
        content: none;
      }
    }
  }

  .list__item-text {
    font-weight: 400;
    font-size: calc(var(--ui-heading-size) * 0.5834);
  }
}

.btns-group {
  .link {
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    color: inherit;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 2px;
      background-color: currentColor;
    }

    &::after {
      right: -22px;
    }

    &::before {
      left: -22px;
    }
  }
}
