@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);

    @media (--ui-tablet-devices) {
      padding: 0 75px;
    }

    @media (--ui-medium-devices) {
      padding: var(--ui-content-gutter);
    }
  }

  &__header {
    margin-bottom: 50px;
  }
}

.title {
  margin-bottom: 15px;
  text-align: center;
}

.subtitle {
  text-align: center;

  @media (--ui-medium-devices) {
    max-width: 970px;
    margin: 0 auto;
  }
}

.items-wrapper {
  max-width: 100%;

  @media (--ui-tablet-devices) {
    display: flex;
    max-width: calc(100% + 30px);
    margin: -15px;
    flex-wrap: wrap;
  }

  @media (--ui-medium-devices) {
    justify-content: center;
  }

  &--shrinked {

    @media (--ui-medium-devices) {
      max-width: 900px;
      margin: 0 auto;
    }

    .item {

      @media (--ui-medium-devices) {
        max-width: calc(33% - 30px);
        flex-basis: calc(33% - 30px);
      }
    }
  }
}

.item {
  padding: 30px 20px 35px;
  margin-bottom: 30px;

  @media (--ui-phone-devices) {
    max-width: 350px;
    margin: 0 auto 30px;
  }

  @media (--ui-tablet-devices) {
    max-width: calc(50% - 30px);
    margin: 15px;
    flex-basis: calc(50% - 30px);
  }

  @media (--ui-medium-devices) {
    max-width: calc(25% - 30px);
    flex-basis: calc(25% - 30px);
  }

  &:only-child,
  &:nth-last-of-type(2):first-of-type,
  &:nth-last-of-type(2):first-of-type ~ .item {

    @media (--ui-medium-devices) {
      max-width: 370px;
      flex-basis: 370px;
    }
  }

  &__title {
    position: relative;
    text-align: center;
    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 2px;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--ui-brand-color);
    }
  }
}

.schedule {
  &__item {
    display: flex;
  }

  &__time {
    max-width: 20%;
    flex-basis: 20%;
    margin-right: 10px;

    @media (--ui-tablet-devices) {
      max-width: 70px;
      flex-basis: 70px;
    }
  }

  &__event {
    max-width: calc(80% - 10px);

    @media (--ui-tablet-devices) {
      max-width: calc(100% - 80px);
    }
  }
}

.btns-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;

  @media (--ui-tablet-devices) {
    margin-top: 60px;
  }
}

.button {
  width: 100%;
  min-width: 1px;
  max-width: calc(100% - 20px);
  margin: 10px;

  @media (min-width: 480px) {
    width: auto;
  }
}
