@import "wireframe-series-1-quote/src/style.css";

.section {
  border-width: 0 10px;
  border-style: solid;
  border-color: transparent;

  &--with-border {
    .section {
      border-color: #fff;
    }
  }

  @media (min-width: 992px) {
    padding: 154px 0 176px;
  }
}

.blockquote {
  max-width: 770px;
  font-style: italic;

  &::before {
    content: none;
  }

  &__line {
    &::before,
    &::after {
      content: none;
    }
  }

  &__icon {
    display: none;
  }
}

.author {
  font-size: calc(var(--ui-text-size) * 0.8572);
  margin-top: 15px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 1.5%;
    left: 49.5%;
    height: 2px;
    bottom: 50px;
    background-color: currentColor;
  }
}
