.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }
}

.section__header {
  margin-bottom: 50px;
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  text-align: center;
}

.subtitle {
  max-width: 770px;
  margin: 20px auto 0;
  text-align: center;
}

@media (min-width: 992px) {
  .subtitle {
    margin-top: 15px;
  }
}

.article {
  display: flex;
  width: 100%;
  margin-bottom: 27px;
  align-items: stretch;
  flex-direction: column;
}

@media (min-width: 992px) {
  .article:nth-child(even) .article__picture-wrapper {
    order: 2;
  }
}

@media (min-width: 992px) {
  .article:nth-child(even) .article__content {
    order: 1;
  }
}

.article:last-of-type {
  margin-bottom: 0;
}

.article:last-of-type .article__content {
  padding-bottom: 0;
}

@media (min-width: 992px) {
  .article {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.article__picture {
  display: block;
  min-height: 200px;
  padding-top: 62%;
  position: static;
  background-color: var(--ui-media-bg);
}

@media (min-width: 768px) {
  .article__picture {
    min-height: 360px;
  }
}

@media (min-width: 992px) {
  .article__picture {
    min-height: 200px;
  }
}

.article__content {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 992px) {
  .article__content {
    padding-left: 30px;
    flex-basis: 50%;
    max-width: 50%;
  }
}

.article__picture-wrapper {
  position: relative;
}

@media (min-width: 992px) {
  .article__picture-wrapper {
    max-width: 50%;
    flex-basis: 50%;
  }
}

.article__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.article__caption {
  max-width: 100%;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.article__title {
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
}

.article__title:last-child {
  margin-bottom: 0;
}

.article__link {
  max-width: 100%;
}

.link {
  padding: 0;
}

.article__text {
  max-width: 100%;
  margin-bottom: 15px;
  padding-right: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.btns-group {
  text-align: center;
  margin-top: 60px;
}

.button {
  width: 100%;
}

@media (min-width: 480px) {
  .button {
    width: auto;
  }
}

.top-icon {
  width: 20px;
}
