@import "wireframe-zapdos-contacts/src/style.css";

/* start here */
.title {
  position: relative;
  margin-bottom: 57px;

  @media (min-width: 768px) {
    text-align: left;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: var(--ui-brand-color);
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    margin-top: 20px;

    @media (min-width: 768px) {
      transform: translateX(0);
      left: 0;
    }
  }
}

.section {
  padding: 0;

  @media (min-width: 768px) {
    &__inner {
      padding-right: 0;
      max-width: 100%;
      padding-left: 5%;
    }

    &__main {
      flex-direction: row-reverse;
      align-items: stretch;
      justify-content: space-between;
    }
  }
}

.logo {
  background-color: transparent;
}

.contacts {

  @media (min-width: 768px) {
    justify-content: center;
    padding: 110px 0;
  }
}

.contacts-list {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }

  @media (min-width: 992px) {
    margin-top: 0;
  }
}

.contacts-list__item {
  margin-bottom: 35px;

  &:first-child {

    @media (min-width: 768px) {
      max-width: 220px;
    }
  }
}

.contacts__title {
  margin-bottom: 15px;
}

.contacts__desc {
  font-size: var(--ui-text-size);
}

.map-wrapper {

  @media (min-width: 768px) {
    width: 62.4%;
  }

  @media (min-width: 992px) {
    width: 73%;
  }
}
