.section {
  min-width: 320px;
  padding: 50px 0;
  text-align: center;
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }

  &__header {
    margin-bottom: 40px;
  }
}

.title {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subtitle {
  max-width: 770px;
  margin: 0 auto;
}

.items-wrapper {
  margin: 0 -15px;

  @media (min-width: 768px) {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.item {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: 768px) {
    display: flex;
    max-width: calc(50% - 30px);
    margin: 15px;
  }

  @media (min-width: 992px) {
    max-width: calc(33.333333% - 30px);
  }

  &__inner {
    display: flex;
    width: 100%;
    min-height: 420px;
    margin: 0 auto;
    padding: 40px 10px;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) {
      padding: 40px 48px;
    }

    @media (min-width: 992px) {
      padding: 40px 30px;
    }
  }

  &__title {
    word-wrap: break-word;
  }

  &__position {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__desc {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__time {
    display: inline-block;
    max-width: 100%;
    margin: 0 auto 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.btns-group {
  margin-top: 50px;

  @media (min-width: 768px) {
    margin-top: 60px;
  }
}

.button {
  width: 100%;

  @media (min-width: 480px) {
    width: auto;
  }
}

.caption-decorator {
  text-align: center;
}
