.header {
  min-width: 320px;
  padding-top: 15px;
  padding-bottom: 15px;
  word-wrap: break-word;
}

.header__inner {
  display: flex;
  align-items: center;
  max-width: var(--ui-content-container);
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: var(--ui-content-gutter);

  @media (min-width: 992px) {
    min-height: 65px;
  }
}

.header__inner--fixed {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: normal;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: opacity 200ms ease;

  .header:not(.header--opened) & {
    opacity: 0;
    pointer-events: none;
  }

  .logo {
    align-self: flex-start;
  }

  .nav {
    width: 100%;

    &-list {
      min-width: 1px;
    }
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.header__button {
  width: 100%;
  max-width: 100%;
  margin-top: auto;
  flex-grow: 0;

  @media (min-width: 480px) {
    width: auto;
    max-width: 270px;
  }

  @media (min-width: 992px) {
    max-width: 270px;
    margin-left: 34px;
    margin-top: 0;
  }
}

.logo {
  display: flex;
  min-width: 200px;
  max-width: 325px;
  min-height: 46px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  margin-right: 30px;

  @media (min-width: 992px) {
    margin-right: 0;
  }

  img {
    max-width: 100%;
    display: block;
  }
}

.nav {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;

  @media (min-width: 992px) {
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 10px;

    &:first-child .nav-list:only-child {
      width: 100%;
      justify-content: flex-start;
    }

    &:first-child .nav-list:only-child .nav-list__item {
      margin-right: 34px;
      margin-left: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
    margin-top: 30px;
    overflow-y: auto;

    .header__inner:not(.header__inner--fixed) & {
      display: none;
    }
  }
}

.nav-list {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  font-size: var(--ui-text-size);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  font-family: var(--ui-text-font-family);

  @media (min-width: 992px) {
    overflow: visible;
    width: auto;
    padding-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }

  &__item {
    max-width: 100%;
    margin-bottom: 22px;

    @media (min-width: 992px) {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 34px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    transition: color 0.2s ease-in;
  }
}

.nav-list__submenu .nav-list__item {
  margin-top: 0;
  margin-bottom: 14px;
}

.nav-list__submenu .nav-list__item:last-of-type {

  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}

.nav-button {
  position: absolute;
  width: 20px;
  height: 16px;
  right: 15px;
  top: 32px;
  padding: 0;
  background-color: transparent;
  color: inherit;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover,
  &:active,
  &:focus {
    color: var(--ui-brand-color);
  }

  &__line {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: currentColor;
    transform-origin: 50% 50%;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 7px;
    }

    &:last-child {
      bottom: 0;
    }

    .header--opened &:first-child {
      transform: translateY(7px) rotate(45deg);
    }

    .header--opened &:nth-child(2) {
      opacity: 0;
    }

    .header--opened &:last-child {
      transform: translateY(-7px) rotate(-45deg);
    }
  }

  @media (min-width: 992px) {
    display: none;
  }
}
