@import "wireframe-series-2-about/src/style.css";

/* start here */

.section {

  @media (min-width: 992px) {
    padding: 75px 0 110px;
  }
}

.article {
  text-align: center;

  &__title {
    text-transform: uppercase;
    letter-spacing: 2.6px;
    position: relative;
    margin-bottom: 40px;

    &::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 3px;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      background: var(--ui-brand-color);

      @media (min-width: 768px) {
        left: 0;
        transform: translateX(0%);
      }
    }
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__subheading {
    margin-bottom: 19px;
  }

  @media (min-width: 768px) {
    padding: 0;
    max-width: 520px;
    text-align: left;
  }
}

.socials-wrapper {
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.btns-group {
  margin: 22px -15px -10px;
}

.section--center {
  .article__title {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .btns-group {
    text-align: center;
  }
}
