.section {
  min-width: 320px;
  padding: 50px 0;
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }
}

.section--state-8 .contacts:first-child {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section--state-8 .contacts:first-child .logo {
  margin-right: 0;
  margin-bottom: 30px;
}

.section--state-8 .contacts:first-child .socials {
  margin-top: 10px;
  margin-left: 0;
  justify-content: center;
}

.section--state-8 .contacts:first-child .contacts-list__item {
  &:only-child {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .section--state-8 .contacts:first-child .socials {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}

@media (min-width: 992px) {
  .section {
    padding: 75px 0;
  }
}

.section--column .section__main {
  flex-direction: column;
  align-items: center;
}

.section--column .map-wrapper {
  width: 100%;
  margin-bottom: 0;
}

.section--column .map {
  position: relative;
  margin-bottom: 50px;
  flex: auto;
}

.section--column .contacts {
  width: auto;
  padding-left: 0;
}

.section--column .socials__item {
  margin-top: 0;
}

.section--column .socials {
  text-align: center;
  margin-top: 0;
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

@media (min-width: 768px) {
  .section__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.title {
  width: 100%;
  margin-bottom: 50px;
  font-size: var(--ui-block-title-size);
  color: var(--ui-block-title-color);
  line-height: var(--ui-block-title-line-height);
  font-family: var(--ui-block-title-font-family);
  font-weight: var(--ui-block-title-font-weight);
  text-align: center;
}

.map-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    width: 100%;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .map-wrapper {
    width: 66%;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .map-wrapper {
    width: 74.4%;
  }
}

.map {
  padding-top: 58%;
}

@media (min-width: 768px) {
  .map {
    padding-top: 40%;
  }
}

.map__preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.contacts {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contacts {
    padding-left: 30px;
    width: 34%;
  }
}

@media (min-width: 992px) {
  .contacts {
    width: 25.6%;
  }
}

@media (min-width: 992px) {
  .contacts-list {
    margin-top: auto;
  }
}

.contacts-list__item {
  list-style: none;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .contacts-list__item {
    margin-bottom: 30px;
    flex: 1 1 auto;
  }
}

.contacts-list__item:last-child {
  margin-bottom: 0;
}

.contacts__title {
  font-size: calc(var(--ui-heading-size) * 0.8334);
  color: var(--ui-heading-color);
  line-height: var(--ui-heading-line-height);
  font-family: var(--ui-heading-font-family);
  font-weight: var(--ui-heading-font-weight);
}

@media (min-width: 992px) {
  .contacts__title {
    font-size: var(--ui-heading-size);
  }
}

@media (min-width: 1200px) {
  .contacts__desc {
    font-size: calc(var(--ui-text-size) * 1.25);
  }
}

.contacts__desc a {
  color: inherit;
  text-decoration: none;
  max-width: 100%;
}

.contacts__desc a:hover,
.contacts__desc a:active,
.contacts__desc a:focus {
  color: var(--ui-link-hover-color);
}

@media (min-width: 768px) {
  .contacts:first-child {
    width: 100%;
    padding-left: 0;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .contacts:first-child .logo-wrapper {
    margin-right: 40px;
  }

  .contacts:first-child .logo {
    width: 170px;
    min-height: 75px;
    margin-bottom: 0;
  }

  .contacts:first-child .contacts-list {
    display: flex;
    max-width: calc(100% - 180px);
    margin-top: 0;
    align-items: flex-start;
    justify-content: center;
  }

  .contacts:first-child .contacts-list__item {
    padding-right: 40px;
    margin-bottom: 0;
    flex: 1 1 auto;
    width: 265px;
  }

  .contacts:first-child .contacts-list__item:nth-last-child(2):first-child,
  .contacts:first-child .contacts-list__item:nth-last-child(2):first-child ~ .contacts-list__item {
    flex-basis: auto;
  }

  .contacts:first-child .contacts-list__item:first-child:last-child {
    text-align: center;
  }

  .contacts:first-child .socials {
    margin-top: 0;
    max-width: 140px;
  }

  .contacts:first-child .socials__item {
    margin-top: 0;
  }
}

.logo-wrapper {
  display: none;
  margin-bottom: 30px;
}

.logo {
  display: flex;
  width: 100%;
  max-width: 270px;
  min-height: 120px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: center;
  color: var(--ui-text-color);
  text-decoration: none;
  background-color: var(--ui-media-bg);

  img {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .logo-wrapper {
    display: flex;
  }

  .contacts:first-child .contacts-list {
    max-width: calc(100% - 390px);
  }
}

.logo__pic {
  height: auto;
  max-width: 100%;
}

.logo__title {
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
  max-width: 100%;
}

.socials {
  flex-shrink: 0;
  margin-top: 30px;
  margin-bottom: -15px;
  font-size: 0;
}

.socials__item {
  margin-top: 30px;
  margin-right: 15px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 50%;
  background-color: var(--ui-icon-color);
}

.socials__link:hover,
.socials__link:active,
.socials__link:focus {
  background-color: var(--ui-link-hover-color);
}

.socials__icon {
  max-width: 100%;
  max-height: 100%;
  fill: var(--ui-light-shade-color);
}

.top-icon {
  width: 20px;
}
