@import "wireframe-series-3-cta/src/style.css";

/* start here */
.title {
  position: relative;
  margin: -24px 0 36px;
  font-weight: 600;

  &::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 5px;
    bottom: -16px;
    left: 50%;
    transform: skewX(-25deg);
    margin-left: -26.5px;
    background: linear-gradient(
      to right,
      var(--ui-light-accent-color ) 0%,
      var(--ui-light-accent-color ) 60%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0) 70%,
      var(--ui-light-accent-color ) 70%,
      var(--ui-light-accent-color ) 80%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0) 90%,
      var(--ui-light-accent-color ) 90%,
      var(--ui-light-accent-color ) 100%
    );
  }
}

.form {

  @media (min-width: 768px) {
    max-width: 470px;
    margin: 40px auto 0;
  }

  &__field {
    text-transform: uppercase;

    &::placeholder {
      color: currentColor;
    }
  }
}
