@import "wireframe-zapdos-services/src/style.css";

/* start here */

.section {
  &__header {
    margin-bottom: 20px;
  }
}

.article {
  text-align: center;
  margin-bottom: 20px;

  &__picture {
    padding-top: 100%;
  }

  &__text {
    padding: 0 15px;
  }
}

.btns-group {
  padding-top: 0;
}
