@import "wireframe-series-4-contacts/src/style.css";

/* start here */

.section {

  @media (min-width: 992px) {
    padding-top: 87px;
    padding-bottom: 98px;
  }
}

.contacts {

  @media (min-width: 992px) {
    max-width: 36.8%;
  }

  &-list {
    margin-top: 39px;
  }
}

.contacts__desc {
  font-size: calc(var(--ui-text-size) * 0.9375);
  text-decoration: none;

  a,
  a > span {
    color: var(--ui-text-color);
    text-decoration: none;
  }
}

.title {
  margin-bottom: 9px;
}

.subtitle {
  margin-top: 0;
}

.form {

  @media (min-width: 992px) {
    padding: 55px 0 0;
  }
  padding: 25px 0 0;

  textarea {
    min-height: 120px;
    resize: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__wrapper {

    @media (min-width: 992px) {
      max-width: 40.5%;
      margin-left: 22.8%;
    }
  }

  &__item {
    margin-bottom: 15px;

    > span {
      display: block;
      height: 0;
      font-size: 0;
    }

    > input {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__field {

    margin-bottom: 20px;
    font-size: calc(var(--ui-text-size) * 0.8125);
    border-radius: 0;

    > input,
    > textarea {
      margin-top: 0;
      background-color: #fff;
      border: solid 1px #e9e9e9;
    }
  }

  &__button {
    margin-top: 16px;
  }
}

