@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  width: 100%;
  margin-bottom: 41px;
  text-align: center;
}

.articles-wrapper {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}

@media (--ui-medium-devices) {
  .articles-wrapper {
    justify-content: center;
  }
}

.fake {
  display: none;
  width: 25%;
  height: 0;
  padding: 0 15px;
  flex: 1;
  font-size: 0;
}

@media (--ui-tablet-devices) {
  .fake {
    display: block;
  }
}

.article {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: stretch;
}

@media (--ui-tablet-devices) {
  .article {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (--ui-medium-devices) {
  .article {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

.article:nth-last-of-type(2):first-child ~ .fake {
  display: none;
}

.article:nth-last-of-type(1):first-child ~ .fake {
  display: none;
}

.article:nth-last-of-type(3):first-child ~ .fake {
  display: none;
}

@media (--ui-tablet-devices) {
  .article:nth-last-of-type(1):first-child,
  .article:nth-last-of-type(2):first-child ~ .article,
  .article:nth-last-of-type(2):first-child,
  .article:nth-last-of-type(4):first-child ~ .article,
  .article:nth-last-of-type(4):first-child {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (--ui-medium-devices) {
  .article:nth-last-of-type(3):first-child,
  .article:nth-last-of-type(3):first-child ~ .article {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

@media (--ui-medium-devices) {
  .article:nth-last-of-type(1):first-child {
    text-align: center;
  }
}

.article__picture {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 57%;
  background-color: var(--ui-media-bg);
}

.article__picture-wrapper {
  display: block;
  color: inherit;
  margin-bottom: 20px;
}

.article__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.article__text {
  margin-bottom: 15px;
}

.article__meta {
  display: block;
  margin-bottom: 16px;
}

.article__category {
  display: inline-block;
  max-width: 100%;
  padding-right: 10px;

  &:only-child {
    padding-right: 0;
  }
}

.article__date {
  display: inline-block;
  max-width: 100%;
  position: relative;
  padding-left: 10px;

  &:only-child {
    padding-left: 0;
  }
}

.article__category + .article__date::after {
  content: "|";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.article__title {
  margin-bottom: 10px;
}

.article__title a {
  text-decoration: none;
  color: inherit;
}

.article__title a:hover,
.article__title a:active,
.article__title a:focus {
  color: var(--ui-link-hover-color);
}

.btns-group {
  text-align: center;
  padding-top: 10px;
}

.link {
  color: var(--ui-link-color);
  font-size: var(--ui-text-size);
  font-family: var(--ui-text-font-family);
  transition: color 0.2s ease-out;
}

.link:hover,
.link:active,
.link:focus {
  color: var(--ui-link-hover-color);
}

.button {
  width: 100%;
}

@media (--ui-phone-devices) {
  .button {
    width: auto;
    margin-right: 30px;
  }

  .button:last-of-type {
    margin-right: 0;
  }
}

.top-icon {
  width: 20px;
}

.article__header {
  position: relative;
}

.subtitle {
  text-align: center;
}
