@import "media.css";

.header {
  position: relative;
  min-width: 320px;
  text-align: center;
  word-wrap: break-word;

  &--hide-all-modifications {
    .nav-button {
      top: 20px;
    }
  }

  &__top-line {
    padding: 7px 20px 30px;

    @media (--ui-medium-devices) {
      padding-bottom: 10px;
    }

    &-inner {
      display: flex;
      margin: 0 auto;
      flex-direction: column;

      @media (--ui-tablet-devices) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }

  &__text {
    max-width: 100%;
    margin-bottom: 10px;

    @media (--ui-tablet-devices) {
      width: 0;
      max-width: calc(100% - 350px);
      margin-bottom: 0;
      text-align: left;
      flex: 1;
    }
  }

  &__main {
    display: flex;
    position: relative;
    padding: 30px 0 20px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    order: -1;

    @media (--ui-medium-devices) {
      padding: 30px 20px;
      order: 1;
    }
  }

  &__main--logo-hidden {
    .nav {
      max-width: 100%;

      &--left {
        margin-left: 0;

        .nav__item:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &__socials {
    max-width: 100%;

    @media (--ui-tablet-devices) {
      display: flex;
      max-width: 350px;
      flex-basis: 350px;
      margin-left: auto;
      text-align: right;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }
}

.header__inner {
  display: flex;
  max-width: var(--ui-content-container);
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.header__inner--fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  transition: opacity 200ms ease;
  overflow-y: auto;

  .header:not(.header--opened) & {
    opacity: 0;
    pointer-events: none;
  }

  @media (--ui-medium-devices) {
    display: none;
  }

  .header__main {
    display: flex;
    min-height: 1px;
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
  }

  .nav {
    display: block;
    width: 100%;
    min-height: 1px;
    padding-bottom: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    &__list {
      padding-bottom: 20px;
    }

    &__item {
      line-height: var(--ui-text-line-height);
    }
  }

  .logo {
    &-wrapper {
      display: block;
      flex-shrink: 0;
    }
  }

  .header__top-line {
    padding-top: 10px;
    padding-bottom: 30px;
    flex-shrink: 0;
  }
}

.nav {
  display: none;
  padding: 40px 20px 50px;

  @media (--ui-tablet-devices) {
    padding-top: 13px;
  }

  @media (--ui-medium-devices) {
    display: flex;
    position: relative;
    padding: 0;
    flex: 1;
    align-items: center;

    &--right {
      margin-left: auto;
      justify-content: flex-end;

      .nav__list {
        justify-content: flex-end;
      }
    }

    &--center {
      margin: 0 auto;
      justify-content: center;

      .nav__list {
        justify-content: center;
      }
    }

    &--left {
      margin-left: 30px;
      margin-right: auto;
      justify-content: flex-start;

      .nav__list {
        justify-content: flex-start;
      }

      .nav__item {

        @media (--ui-medium-devices) {
          margin-left: 0;
          margin-right: 30px;
        }
      }
    }

    &__list {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: block;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (--ui-medium-devices) {
      margin-top: 10px;
      margin-left: 30px;
      margin-bottom: 0;
      text-align: right;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-family: var(--ui-text-font-family);
    font-size: var(--ui-text-size);
    text-decoration: none;
  }
}

.nav__submenu .nav__item {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: left;

  &:last-of-type {
    margin-bottom: 16px;

    @media (--ui-medium-devices) {
      margin-bottom: 0;
    }
  }
}

.nav-button {
  position: absolute;
  width: 30px;
  height: 25px;
  top: 32px;
  left: 20px;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  border: 0;
  transition: color 0.2s ease-in-out;

  &:hover,
  &:active,
  :global .focus-visible {
    color: var(--ui-brand-color);
  }

  &__line {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 5px;
    background-color: currentColor;
    transform-origin: 50% 50%;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &:first-child {
      top: 5px;
    }

    &:nth-child(2) {
      top: 11px;
    }

    &:last-child {
      bottom: 6px;
    }

    .header--opened &:first-child {
      transform: translateY(6px) rotate(45deg);
    }

    .header--opened &:nth-child(2) {
      opacity: 0;
    }

    .header--opened &:last-child {
      transform: translateY(-6px) rotate(-45deg);
    }
  }

  @media (--ui-tablet-devices) {
    left: 17px;
  }

  @media (--ui-medium-devices) {
    display: none;
  }
}

.logo {
  display: block;
  max-width: 100%;
  text-decoration: none;

  @media (--ui-medium-devices) {
    display: flex;
    align-items: center;
    flex-basis: auto;
  }

  &-wrapper {
    display: block;
    max-width: calc(100% - 120px);
    margin: 0 auto;

    @media (--ui-phone-devices) {
      min-width: 100px;
      max-width: 275px;
    }

    @media (--ui-medium-devices) {
      display: flex;
      margin-right: 30px;
      flex-basis: auto;
      text-align: left;
    }
  }

  &__title {

    @media (--ui-tablet-devices) {
      font-size: calc(var(--ui-block-title-size) * 0.625);
    }

    @media (--ui-medium-devices) {
      max-width: 100%;
      align-self: flex-start;
      text-align: left;
    }
  }

  img {
    max-width: 100%;
  }
}

.socials {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  @media (--ui-tablet-devices) {
    justify-content: flex-end;
  }

  a {
    padding: 2.5px;
  }
}
