@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  text-align: center;
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }

  &--no-icon {
    word-wrap: break-word;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }

  &__header {
    margin-bottom: 30px;
  }
}

.title {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subtitle {
  max-width: 620px;
  margin: 0 auto;
}

@media (--ui-medium-devices) {
  .subtitle {
    max-width: 770px;
  }
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  padding: 20px;
  flex-grow: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

@media (--ui-tablet-devices) {
  .item {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (--ui-medium-devices) {
  .item {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (--ui-medium-devices) {
  .item:nth-last-of-type(4):first-child,
  .item:nth-last-of-type(4):first-child ~ .item {
    flex-basis: 25%;
    max-width: 25%;
  }
}

@media (--ui-medium-devices) {
  .item:nth-last-of-type(7):first-child,
  .item:nth-last-of-type(7):first-child ~ .item {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.item__top-element {
  width: 50px;
  height: 50px;
  margin: 0 auto 23px;
  color: var(--ui-icon-color);

  @media (--ui-tablet-devices) {
    width: 100px;
    height: 100px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.item__title {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.item__desc {
  word-wrap: break-word;
}

.btns-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px -10px -10px;
}

.button {
  width: 100%;
  min-width: 1px;
  margin: 10px;
}

@media (--ui-phone-devices) {
  .button {
    width: auto;
    margin-right: 20px;
  }
}

.item__icon-text {
  color: var(--ui-brand-color);
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.text-wrapper {
  height: auto;
}

.item__icon-picture {
  display: block;
  min-height: 200px;
  height: 100%;
  padding-top: 70%;
  order: -1;
  background-color: var(--ui-media-bg);
}

.item__icon-picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.top-icon {
  width: 20px;
}
