@import "wireframe-zapdos-events/src/style.css";

/* start here */
.section {

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.top-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 53px;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: var(--ui-light-shade-color);
  border-radius: 50%;
  box-shadow: 0 2px 12px 0 rgba(33, 67, 71, 0.08);

  > svg {
    max-width: 20px;
    max-height: 20px;
  }
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.subtitle {
  text-align: center;
  margin: 0 auto;
  max-width: 770px;
}

.articles-wrapper {

  @media (min-width: 992px) {
    margin-top: 62px;
  }
}

.article {
  box-shadow: 0 2px 12px 0 rgba(33, 67, 71, 0.08);

  @media (min-width: 992px) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: transparent;
  }

  &__picutre {

    @media (min-width: 992px) {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  .article__badge {
    background-color: var(--ui-brand-color);
    max-width: 125px;
    left: 30px;
    top: 30px;
    padding-top: 9px;
    padding-right: 13.5px;
    padding-bottom: 8px;
    padding-left: 13.5px;
    border-radius: 3px;
    color: var(--ui-light-shade-color);
    z-index: 3;

    &::after {
      content: none;
    }
  }

  &__info {
    background-color: var(--ui-light-shade-color);
    border: 0;

    @media (min-width: 992px) {
      padding-top: 24px;
      padding-bottom: 27px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__top {
    margin-bottom: 0;
  }

  .article__date {
    color: var(--ui-brand-color);
    font-weight: bold;
    font-size: calc(var(--ui-text-size) * 0.75);
    margin-bottom: 0;
  }

  &__time {
    font-weight: bold;
    font-size: calc(var(--ui-text-size) * 0.75);
  }

  &__title {

    @media (min-width: 992px) {
      margin-top: 19px;
      margin-bottom: 19px;
    }
  }

  &__cta {
    &:only-child {
      max-width: 100%;
      width: 100%;
    }
  }

  &__location {
    &:only-child {
      max-width: 100%;
      width: 100%;
    }
  }
}

.btns-group {

  @media (min-width: 992px) {
    margin-top: 40px;
  }
}

.article__picture {
  padding-top: 73%;
}
