@import "media.css";

.header {
  min-width: 320px;
  padding-top: 25px;
  padding-bottom: 25px;
  word-wrap: break-word;

  @media (--ui-medium-devices) {
    padding: 40px 20px 35px;
  }
}

.header__inner {
  display: flex;
  max-width: var(--ui-content-container);
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header__inner--fixed {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: opacity 200ms ease;

  .header:not(.header--opened) & {
    opacity: 0;
    pointer-events: none;
  }

  @media (max-width: 992px) {
    overflow-y: auto;
  }

  @media (--ui-medium-devices) {
    display: none;
  }

  .logo {
    align-self: center;
  }
}

.header__company-info {
  position: relative;
  min-height: 20px;

  @media (max-width: 991px) {
    position: relative;
    max-width: 100%;
    padding: 0 20px 20px;

    .header__inner:not(.header__inner--fixed) & {
      display: none;
    }
  }

  @media (--ui-medium-devices) {
    display: flex;
    justify-content: space-between;
  }
}

.header__slogan {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 50px;
  }

  @media (--ui-tablet-devices) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (--ui-medium-devices) {
    position: relative;
    min-width: 1px;
    max-width: 270px;
    top: -40px;
    left: 10px;
    margin-bottom: 0;
    flex-shrink: 1;
  }
}

.header__email {
  text-decoration: none;
  margin-bottom: 50px;

  @media (--ui-medium-devices) {
    position: relative;
    min-width: 1px;
    max-width: 270px;
    top: -40px;
    right: 10px;
    margin-bottom: 0;
    flex-shrink: 1;
  }
}

.nav {
  width: 100%;
  top: 100%;
  padding-top: 32px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

  @media (--ui-tablet-devices) {
    padding-top: 13px;
  }

  @media (--ui-medium-devices) {
    display: flex;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
    order: 1;

    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__list + &__slogan,
  &__list + &__email {
    margin-top: 50px;

    @media (--ui-medium-devices) {
      margin-top: 0;
    }
  }

  &__item {
    display: block;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: 991px) {
      line-height: 25px;
    }

    @media (--ui-medium-devices) {
      margin-top: 10px;
      margin-right: 30px;
      margin-bottom: 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-family: var(--ui-text-font-family);
    text-decoration: none;
  }

  @media (max-width: 991px) {
    .header__inner:not(.header__inner--fixed) & {
      display: none;
    }
  }
}

.nav__submenu .nav__item {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 16px;
}

.nav__submenu .nav__item:last-of-type {

  @media (--ui-medium-devices) {
    margin-bottom: 0;
  }
}

.nav-button {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 53px;
  left: 20px;
  margin: auto;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  border: 0;
  outline: none;
  transition: color 0.2s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: var(--ui-brand-color);
  }

  &__line {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: currentColor;
    transform-origin: 50% 50%;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 6px;
    }

    &:last-child {
      bottom: 0;
    }

    .header--opened &:first-child {
      transform: translateY(6px) rotate(45deg);
    }

    .header--opened &:nth-child(2) {
      opacity: 0;
    }

    .header--opened &:last-child {
      transform: translateY(-6px) rotate(-45deg);
    }
  }

  @media (--ui-tablet-devices) {
    left: 17px;
  }

  @media (--ui-medium-devices) {
    display: none;
  }
}

.logo {
  display: flex;
  height: auto;
  min-width: 100px;
  max-width: calc(100% - (50px * 2));
  min-height: 70px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  @media (--ui-phone-devices) {
    min-width: 300px;
  }

  @media (--ui-medium-devices) {
    max-width: 340px;
  }
}
