@import "media.css";

.header {
  min-width: 320px;
  padding-top: 15px;
  padding-bottom: 25px;
  word-wrap: break-word;

  &__inner {
    max-width: 100%;
    min-height: 50px;
    padding: var(--ui-content-gutter);
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    @media (--ui-medium-devices) {
      display: flex;
      max-width: calc(100% - 30px);
      min-height: 65px;
      justify-content: flex-end;
    }

    @media (--ui-large-devices) {
      max-width: 1200px;
    }

    &--fixed {
      position: fixed;
      max-width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0;
      z-index: 5000;
      flex-direction: column;
      align-items: normal;
      transition: opacity 200ms ease;
      overflow-y: auto;

      .header:not(.header--opened) & {
        opacity: 0;
        pointer-events: none;

        @media (--ui-medium-devices) {
          opacity: 1;
        }
      }

      @media (--ui-medium-devices) {
        margin: 0;
        transform: translateX(-100%);
        transition: transform 200ms ease-in-out;
        flex-direction: row;
        justify-content: flex-start;
        opacity: 1;
        overflow: hidden;

        .header--opened & {
          transform: translateX(0);
        }
      }

      .sidebar-menu {
        padding: 15px 50px;

        @media (--ui-medium-devices) {
          position: absolute;
          width: 335px;
          top: 0;
          bottom: 0;
          overflow-y: auto;
        }
      }

      .outside {

        @media (--ui-medium-devices) {
          position: absolute;
          width: calc(100% - 350px);
          top: 0;
          bottom: 0;
          left: 350px;
          opacity: 0;
        }
      }

      .logo {
        max-width: calc(100% - 30px);
        align-self: flex-start;

        @media (--ui-medium-devices) {
          display: none;
        }
      }

      .nav {
        width: 100%;

        &-list {
          min-width: 1px;
        }
      }

      .subtitle {

        @media (--ui-medium-devices) {
          display: none;
        }
      }

      .header__socials {
        display: block;

        @media (--ui-medium-devices) {
          display: none;
        }
      }
    }
  }

  &__wrapper {

    @media (--ui-medium-devices) {
      display: flex;
      max-width: 50%;
      flex-basis: 50%;
      align-items: center;
    }
  }

  &__socials {
    display: none;
    max-width: 100%;

    @media (--ui-medium-devices) {
      display: flex;
      max-width: 150px;
      flex-basis: 150px;
      margin-left: auto;
      text-align: right;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }
}

.subtitle {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.company-info {

  @media (--ui-medium-devices) {
    max-width: calc(100% - 150px);
    transform: translateX(-50%);
    flex-basis: calc(100% - 150px);
  }

  .header__inner--fixed & {

    @media (--ui-medium-devices) {
      display: none;
    }
  }
}

.logo {
  display: flex;
  min-width: 200px;
  max-width: calc(100% - 100px);
  min-height: 46px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-align: center;

  @media (min-width: 992px) {
    max-width: 100%;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    align-self: center;
  }
}

.nav {
  display: flex;
  align-items: center;

  @media (min-width: 992px) {
    padding: 100px 0;
    justify-content: center;
  }

  @media (max-width: 991px) {
    flex-direction: column;
    margin-top: 30px;
  }

  .header__inner:not(.header__inner--fixed) & {
    display: none;
  }
}

.nav-list {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  font-size: var(--ui-text-size);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  font-family: var(--ui-text-font-family);

  @media (min-width: 992px) {
    display: block;
    width: auto;
  }

  &__item {
    max-width: 100%;
    margin-bottom: 22px;

    @media (min-width: 992px) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  &__link {
    text-decoration: none;
    transition: color 0.2s ease-in;
  }
}

.nav-list__submenu .nav-list__item {
  margin-top: 0;
  margin-bottom: 14px;
}

.nav-list__submenu .nav-list__item:last-of-type {

  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}

.nav-button {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 32px;
  left: 15px;
  padding: 0;
  background-color: transparent;
  color: var(--ui-brand-color);
  border: 0;
  outline: none;
  cursor: pointer;
  z-index: 1;

  &__line {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: currentColor;
    transform-origin: 50% 50%;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 7px;
    }

    &:last-child {
      bottom: 0;
    }

    .header--opened &:first-child {
      transform: translateY(7px) rotate(45deg);
    }

    .header--opened &:nth-child(2) {
      opacity: 0;
    }

    .header--opened &:last-child {
      transform: translateY(-7px) rotate(-45deg);
    }
  }
}

.socials {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  @media (--ui-medium-devices) {
    justify-content: flex-end;
  }

  a {
    padding: 2.5px;
  }
}