@import "wireframe-zapdos-careers/src/style.css";

.title {
  font-size: var(--ui-block-title-size);
  line-height: var(--ui-block-title-line-height);
  font-family: var(--ui-block-title-font-family);
  font-weight: 600;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.subtitle {
  color: #909090;
  line-height: 28px;
  letter-spacing: 1.2px;
  font-family: var(--ui-subtitle-font-family);
  font-weight: var(--ui-subtitle-font-weight);
  font-size: calc(var(--ui-subtitle-size) * 0.8);
  margin-top: 20px;
}

.media-wrap {
  margin-right: 0;
  margin-left: 0;
}

.media {
  padding-top: 0;
}

.content__text {
  font-size: var(--ui-text-size);
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
  line-height: 28px;
  letter-spacing: 1.4px;
  color: #909090;
  max-width: inherit;
  text-align: center;
}

.list__item-icon {
  margin-right: 0;
  background: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__item-text {
  font-size: var(--ui-text-size);
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
  line-height: 28px;
  letter-spacing: 1.4px;
  color: #909090;
}

.list__item {
  margin-top: 39px;
}

.button {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3.2px;
  position: relative;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 2px;
  background-color: var(--ui-dark-shade-color);
}

.button::after {
  right: 0;
}

.button::before {
  left: 0;
}

@media (min-width: 768px) {
  .list__item-icon {
    margin-right: 40px;
  }
}

@media (min-width: 992px) {
  .media {
    min-height: 470px;
  }

  .content__text {
    max-width: 540px;
    text-align: left;
  }

  .media-wrap {
    margin-right: 60px;
  }
}