@import "wireframe-zapdos-process/src/style.css";

.section {
  &--only-icon {
    .article {
      &__content {
        padding-top: 0;

        &::before {
          width: auto;
          height: auto;
          padding: 0;
          line-height: 1;
        }
      }
    }
  }
}

.subtitle {
  margin-top: 48px;
}

.articles-wrapper {
  margin-top: 28.5px;
}

.article {
  margin-top: 7.5px;
  margin-bottom: 7.5px;

  &__content {
    padding-left: 0;
    padding-top: 105px;
    text-align: center;

    &::before {
      height: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: transparent;
      font-size: var(--ui-hero-title-size);
      font-weight: var(--ui-hero-title-font-weight);
      letter-spacing: -1.6px;
      padding: 27px 0 0;
      color: inherit;
    }

    &--icon-none {
      padding-top: 0;

      .article__title::after {
        content: none;
      }
    }
  }

  &__title {
    position: relative;
    letter-spacing: -0.3px;
    margin-bottom: 16px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 3px;
      background-color: var(--ui-brand-color);
    }
  }
}

.btns-group {
  margin-top: 25.5px;
}
