@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;
}

@media (--ui-tablet-devices) {
  .section {
    padding: 60px 0;
  }
}

@media (--ui-medium-devices) {
  .section {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  width: 100%;
  text-align: center;
}

.subtitle {
  max-width: 688px;
  margin: 15px auto 0;
  text-align: center;
}

@media (--ui-medium-devices) {
  .subtitle {
    max-width: 770px;
  }
}

.items-wrapper {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (--ui-medium-devices) {
  .items-wrapper {
    justify-content: center;
  }
}

.item {
  display: flex;
  width: 100%;
  padding: 0 15px;
  margin-top: 30px;
  flex-direction: column;
  align-items: stretch;
}

.item:first-of-type {
  margin-top: 40px;
}

@media (--ui-tablet-devices) {
  .item {
    flex-basis: 50%;
    max-width: 50%;
    margin-top: 30px;
  }

  .item:first-of-type {
    margin-top: 30px;
  }
}

@media (--ui-medium-devices) {
  .item {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

@media (--ui-tablet-devices) {
  .item:nth-last-of-type(4):first-child,
  .item:nth-last-of-type(4):first-child ~ .item,
  .item:nth-last-of-type(7):first-child,
  .item:nth-last-of-type(7):first-child ~ .item {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (--ui-medium-devices) {
  .item:nth-last-of-type(4):first-child,
  .item:nth-last-of-type(4):first-child ~ .item,
  .item:nth-last-of-type(7):first-child,
  .item:nth-last-of-type(7):first-child ~ .item {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.item__picture {
  display: block;
  width: 100%;
  padding-top: 60%;
  background-color: var(--ui-media-bg);
}

.item__picture-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 21px;
}

.item__picture-wrapper:only-child {
  margin-bottom: 0;
}

.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.item .item__title {
  text-align: center;

  /* font-size: calc(var(--ui-heading-size) * 0.8333); */
}

.btns-group {
  text-align: center;
  margin-top: 40px;
}

.button {
  width: 100%;
}

@media (--ui-phone-devices) {
  .button {
    width: auto;
  }
}

.top-icon {
  width: 20px;
}
