@import "wireframe-series-2-cta/src/style.css";

/* start here */

.section {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  } 

  @media (min-width: 992px) {
    padding-top: 75px;
    padding-bottom: 75px;
  }  

  &__inner {
    max-width: 950px;
    background-color: transparent;
    padding: 0 15px;
  }

  &__header {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: -1.6px;
  }
}

.title {
  font-weight: 400;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    font-size: calc(var(--ui-block-title-size) * 2.35);
  }
}

.subtitle {
  font-size: var(--ui-subtitle-size);
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;
}

.form {
  padding: 0;

  &__field {
    /* stylelint-disable */
    border: 0 !important;
    /* stylelint-enable */
    padding-top: 18px;
    padding-bottom: 18px;
    height: 49px;
    background-color: transparent;
    color: var(--ui-text-color);
    font-size: var(--ui-text-size);
    text-align: center;

    &::placeholder {
      color: var(--ui-text-color);
      font-size: var(--ui-text-size);
    }

    &:-moz-ui-invalid:not(output) {
      box-shadow: none;
    }
  }

  &__item {
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--ui-text-color);
      opacity: 0.2;
    }
  }

  &__button {
    margin-top: 30px;
    width: auto;
  }
}
