@import "wireframe-zapdos-why/src/style.css";

.title {
  margin-bottom: 45px;
}

.item {
  &__title {
    font-size: calc(var(--ui-heading-size) * 0.77);
  }

  &__top-element {
    margin-bottom: 30px;
    width: 56px;
    height: 56px;
  }
}

.btns-group {
  margin-top: 50px;
}
