@import "media.css";

.section {
  min-width: 320px;
  padding: 30px 0 50px;
  text-align: center;
  word-wrap: break-word;
}

@media (--ui-tablet-devices) {
  .section {
    padding: 40px 0;
  }
}

@media (--ui-medium-devices) {
  .section {
    padding: 55px 0;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.subtitle {
  width: 100%;
  max-width: 770px;
  margin: 15px auto 0;
}

@media (--ui-tablet-devices) {
  .subtitle {
    font-size: calc(var(--ui-subtitle-size) * 1.6);
    color: var(--ui-heading-color);
  }
}

.items-wrapper {
  position: relative;
  max-width: 1200px;

  :global {

    /* styles for default arrows */
    .slick-arrow-default {
      position: absolute;
      width: 23px;
      height: 40px;
      top: 100%;
      padding: 0;
      z-index: 1;
      border: 0;
      background-color: transparent;
      color: var(--ui-brand-color);
      cursor: pointer;
      transition: opacity .2s ease-in;
    }

    .slick-prev-default {
      left: 50%;
      transform: translateX(-200%);

      @media (--ui-tablet-devices) {
        left: 50px;
      }
    }

    .slick-next-default {
      right: 50%;
      transform: translateX(200%);

      @media (--ui-tablet-devices) {
        right: 50px;
      }
    }

    .slick-prev-default,
    .slick-next-default {

      @media (--ui-tablet-devices) {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    /* styles for custom arrows */
    .slick-arrow {
      width: 17px;
      color: var(--ui-brand-color);
    }

    .slick-prev {
      transform: translateX(-200%);
    }

    .slick-next {
      transform: translateY(200%);
    }

    .slick-prev,
    .slick-next {

      @media (--ui-tablet-devices) {
        transform: translateY(-50%);
      }
    }
  }
}

@media (--ui-tablet-devices) {
  .items-wrapper {
    margin-bottom: 0;
  }
}

.item {
  margin: 0;
  padding: 0 5px;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (--ui-tablet-devices) {
  .item {
    padding: 0 15px;
  }
}

.item__inner {
  display: flex;
  max-width: 100%;
  min-height: 310px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

@media (--ui-tablet-devices) {
  .item__inner {
    min-height: 500px;
    padding: 0 48px;
  }
}

@media (--ui-medium-devices) {
  .item__inner {
    max-width: 860px;
    padding: 0 32px;
  }
}

/* .item__title {
  font-size: calc(var(--ui-hero-title-size) * .8);
}

@media (--ui-tablet-devices) {
  .item__title {
    font-size: var(--ui-hero-title-size);
  }
} */

.slider-dots {
  position: static;
  margin-top: auto;
  font-size: 0;

  /* stylelint-disable */
  :global {
    li.slick-active button {
      background-color: var(--ui-brand-color);
    }
  }
  /* stylelint-enable */
}

.slider-dots li {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  cursor: default;
  display: inline-block;
  margin-right: 9px;

  &:last-child {
    margin-right: 0;
  }

  @media (--ui-tablet-devices) {
    margin-right: 16px;
  }
}

.slider-dots li button {
  width: 14px;
  height: 14px;
  padding: 0;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  background-color: var(--ui-light-shade-color);
  transition: background-color .2s ease-in;
  cursor: pointer;

  &::before {
    display: none;
  }

  @media (--ui-tablet-devices) {
    width: 20px;
    height: 20px;
  }
}

.btns-group {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -10px;
  margin-top: 50px;
}

.button {
  width: calc(100% - 30px);

  @media (--ui-phone-devices) {
    width: auto;
  }
}

.button,
.link {
  max-width: calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}