@import "wireframe-zapdos-cover/src/style.css";

/* start here */

.section {
  &--left {
    .title {
      &::before {
        right: auto;
        left: 10px;
      }
    }
  }

  &--right {
    .title {
      &::before {
        content: none;
      }
    }
  }

  &--center {
    .title {
      &::before {
        content: none;
      }
    }
  }

  .title {
    font-size: calc(var(--ui-hero-title-size) * 0.8);

    @media (min-width: 768px) {
      padding: 0 100px;
      font-size: var(--ui-hero-title-size);
    }
  }
}

.title {
  position: relative;
  letter-spacing: -1.6px;

  &::before {
    content: none;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: var(--ui-hero-title-color);

    @media (min-width: 768px) {
      content: "";
    }
  }
}

.subtitle {
  opacity: 0.5;
  font-size: var(--ui-subtitle-size);
}
