@import "wireframe-zapdos-gallery/src/style.css";

.section {

  @media (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__inner {

    @media (min-width: 768px) {
      max-width: 100%;
    }
  }
}

.item {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: 768px) {
    max-width: 49%;
    flex-basis: 49%;
    margin-bottom: 15px;

    &:nth-child(3n+2) {
      margin-left: 0;
      margin-right: 0;
    }

    &:nth-child(odd) {
      margin-right: 15px;
    }
  }

  @media (min-width: 992px) {
    flex-basis: 32.3%;

    &:nth-child(odd) {
      margin-right: 0;
    }

    &:nth-child(3n+2) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  @media (min-width: 1200px) {
    max-width: 32.4%;
    flex-basis: 32.4%;
  }

  &__picture {

    @media (min-width: 768px) {
      padding-top: 62%;
    }
  }
}

.items-wrapper {
  margin-bottom: -15px;
}
