.button {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  text-align: center;
  font-family: var(--ui-text-font-family);
  cursor: pointer;
  transition: color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
  word-wrap: break-word;

  width: 100%;
}

.button--primary {
  background-color: var(--ui-btn-primary-bg);
  color: var(--ui-btn-primary-color);
  border: var(--ui-btn-primary-border-width) var(--ui-btn-primary-border-style) var(--ui-btn-primary-border-color);
  box-shadow: var(--ui-btn-primary-shadow-x) var(--ui-btn-primary-shadow-y) var(--ui-btn-primary-shadow-blur) var(--ui-btn-primary-shadow-spread) var(--ui-btn-primary-shadow-color);
}

.button--primary:hover,
.button--primary:focus {
  background-color: var(--ui-btn-primary-hover-bg);
  color: var(--ui-btn-primary-hover-color);
  border: var(--ui-btn-primary-hover-border-width) var(--ui-btn-primary-hover-border-style) var(--ui-btn-primary-hover-border-color);
  box-shadow: var(--ui-btn-primary-hover-shadow-x) var(--ui-btn-primary-hover-shadow-y) var(--ui-btn-primary-hover-shadow-blur) var(--ui-btn-primary-hover-shadow-spread) var(--ui-btn-primary-hover-shadow-color);
}

.button--primary:active {
  background-color: var(--ui-btn-primary-active-bg);
  color: var(--ui-btn-primary-active-color);
  border: var(--ui-btn-primary-active-border-width) var(--ui-btn-primary-active-border-style) var(--ui-btn-primary-active-border-color);
  box-shadow: var(--ui-btn-primary-active-shadow-x) var(--ui-btn-primary-active-shadow-y) var(--ui-btn-primary-active-shadow-blur) var(--ui-btn-primary-active-shadow-spread) var(--ui-btn-primary-active-shadow-color);
}

.button--primary-alt {
  background-color: var(--ui-alt-btn-primary-bg);
  color: var(--ui-alt-btn-primary-color);
  border: var(--ui-alt-btn-primary-border-width) var(--ui-alt-btn-primary-border-style) var(--ui-alt-btn-primary-border-color);
  box-shadow: var(--ui-alt-btn-primary-shadow-x) var(--ui-alt-btn-primary-shadow-y) var(--ui-alt-btn-primary-shadow-blur) var(--ui-alt-btn-primary-shadow-spread) var(--ui-alt-btn-primary-shadow-color);
}

.button--primary-alt:hover,
.button--primary-alt:focus {
  background-color: var(--ui-alt-btn-primary-hover-bg);
  color: var(--ui-alt-btn-primary-hover-color);
  border: var(--ui-alt-btn-primary-hover-border-width) var(--ui-alt-btn-primary-hover-border-style) var(--ui-alt-btn-primary-hover-border-color);
  box-shadow: var(--ui-alt-btn-primary-hover-shadow-x) var(--ui-alt-btn-primary-hover-shadow-y) var(--ui-alt-btn-primary-hover-shadow-blur) var(--ui-alt-btn-primary-hover-shadow-spread) var(--ui-alt-btn-primary-hover-shadow-color);
}

.button--primary-alt:active {
  background-color: var(--ui-alt-btn-primary-active-bg);
  color: var(--ui-alt-btn-primary-active-color);
  border: var(--ui-alt-btn-primary-active-border-width) var(--ui-alt-btn-primary-active-border-style) var(--ui-alt-btn-primary-active-border-color);
  box-shadow: var(--ui-alt-btn-primary-active-shadow-x) var(--ui-alt-btn-primary-active-shadow-y) var(--ui-alt-btn-primary-active-shadow-blur) var(--ui-alt-btn-primary-active-shadow-spread) var(--ui-alt-btn-primary-active-shadow-color);
}

.button--secondary {
  background-color: var(--ui-btn-secondary-bg);
  color: var(--ui-btn-secondary-color);
  border: var(--ui-btn-secondary-border-width) var(--ui-btn-secondary-border-style) var(--ui-btn-secondary-border-color);
  box-shadow: var(--ui-btn-secondary-shadow-x) var(--ui-btn-secondary-shadow-y) var(--ui-btn-secondary-shadow-blur) var(--ui-btn-secondary-shadow-spread) var(--ui-btn-secondary-shadow-color);
}

.button--secondary:hover,
.button--secondary:focus {
  background-color: var(--ui-btn-secondary-hover-bg);
  color: var(--ui-btn-secondary-hover-color);
  border: var(--ui-btn-secondary-hover-border-width) var(--ui-btn-secondary-hover-border-style) var(--ui-btn-secondary-hover-border-color);
  box-shadow: var(--ui-btn-secondary-hover-shadow-x) var(--ui-btn-secondary-hover-shadow-y) var(--ui-btn-secondary-hover-shadow-blur) var(--ui-btn-secondary-hover-shadow-spread) var(--ui-btn-secondary-hover-shadow-color);
}

.button--secondary:active {
  background-color: var(--ui-btn-secondary-active-bg);
  color: var(--ui-btn-secondary-active-color);
  border: var(--ui-btn-secondary-active-border-width) var(--ui-btn-secondary-active-border-style) var(--ui-btn-secondary-active-border-color);
  box-shadow: var(--ui-btn-secondary-active-shadow-x) var(--ui-btn-secondary-active-shadow-y) var(--ui-btn-secondary-active-shadow-blur) var(--ui-btn-secondary-active-shadow-spread) var(--ui-btn-secondary-active-shadow-color);
}

.button--secondary-alt {
  background-color: var(--ui-alt-btn-secondary-bg);
  color: var(--ui-alt-btn-secondary-color);
  border: var(--ui-alt-btn-secondary-border-width) var(--ui-alt-btn-secondary-border-style) var(--ui-alt-btn-secondary-border-color);
  box-shadow: var(--ui-alt-btn-secondary-shadow-x) var(--ui-alt-btn-secondary-shadow-y) var(--ui-alt-btn-secondary-shadow-blur) var(--ui-alt-btn-secondary-shadow-spread) var(--ui-alt-btn-secondary-shadow-color);
}

.button--secondary-alt:hover,
.button--secondary-alt:focus {
  background-color: var(--ui-alt-btn-secondary-hover-bg);
  color: var(--ui-alt-btn-secondary-hover-color);
  border: var(--ui-alt-btn-secondary-hover-border-width) var(--ui-alt-btn-secondary-hover-border-style) var(--ui-alt-btn-secondary-hover-border-color);
  box-shadow: var(--ui-alt-btn-secondary-hover-shadow-x) var(--ui-alt-btn-secondary-hover-shadow-y) var(--ui-alt-btn-secondary-hover-shadow-blur) var(--ui-alt-btn-secondary-hover-shadow-spread) var(--ui-alt-btn-secondary-hover-shadow-color);
}

.button--secondary-alt:active {
  background-color: var(--ui-alt-btn-secondary-active-bg);
  color: var(--ui-alt-btn-secondary-active-color);
  border: var(--ui-alt-btn-secondary-active-border-width) var(--ui-alt-btn-secondary-active-border-style) var(--ui-alt-btn-secondary-active-border-color);
  box-shadow: var(--ui-alt-btn-secondary-active-shadow-x) var(--ui-alt-btn-secondary-active-shadow-y) var(--ui-alt-btn-secondary-active-shadow-blur) var(--ui-alt-btn-secondary-active-shadow-spread) var(--ui-alt-btn-secondary-active-shadow-color);
}

.button--size-sm {
  padding: var(--ui-btn-sm-padding);
  border-radius: var(--ui-btn-sm-border-radius);
  font-size: var(--ui-btn-sm-size);
}

.button--size-md {
  padding: var(--ui-btn-md-padding);
  border-radius: var(--ui-btn-md-border-radius);
  font-size: var(--ui-btn-md-size);
}

.button--size-lg {
  padding: var(--ui-btn-lg-padding);
  font-size: var(--ui-btn-lg-size);
  border-radius: var(--ui-btn-lg-border-radius);
}

.section {
  min-width: 320px;
  padding: 50px 0;
  font-size: var(--ui-text-size);
  font-family: var(--ui-text-font-family);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  word-wrap: break-word;
  
  @media (min-width: 768px) {
    padding: 60px 0;
  }
}

@media (min-width: 992px) {
  .section {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  text-align: center;
  font-family: var(--ui-block-title-font-family);
  font-size: var(--ui-block-title-size);
  font-weight: var(--ui-block-title-font-weight);
  line-height: var(--ui-block-title-line-height);
  color: var(--ui-block-title-color);
}

.subtitle {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: var(--ui-subtitle-font-family);
  font-size: var(--ui-subtitle-size);
  font-weight: var(--ui-subtitle-font-weight);
  line-height: var(--ui-subtitle-line-height);
  color: var(--ui-subtitle-color);
}

@media (min-width: 768px) {
  .subtitle {
    max-width: 688px;
  }
}

@media (min-width: 992px) {
  .subtitle {
    max-width: 770px;
  }
}

.content {
  padding-top: 40px;
}

@media (min-width: 768px) {
  .content {
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .content {
    display: flex;
    max-width: none;
  }
}

.content__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .content__main {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.content__main:nth-last-child(1):first-child {
  max-width: 770px;
  flex-basis: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .content__main:nth-last-child(1):first-child .content__text {
    text-align: center;
  }
}

.content__main:nth-last-child(1):first-child .list__item {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.media-wrap {
  display: block;
  position: relative;
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 768px) {
  .media-wrap {
    margin-left: 0;
    margin-right: 0;
  }
}

.media {
  display: block;
  min-height: 300px;
  height: 100%;
  padding-top: 30%;
  background-color: var(--ui-media-bg);
}

@media (min-width: 992px) {
  .media-wrap {
    margin-bottom: 0;
    margin-right: 30px;
    flex-basis: 50%;
    max-width: 50%;
  }

  .media {
    min-height: 480px;
  }
}

.media__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  text-align: center;
}

.list {
  counter-reset: list;
}

.list__item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  min-height: 70px;
}

@media (min-width: 768px) {
  .list__item {
    max-width: 500px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .list__item {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.list__item-icon {
  width: 70px;
  height: 70px;
  padding: 0 10px;
  flex-shrink: 0;
  margin-bottom: 20px;
  color: var(--ui-icon-color);
  background-color: var(--ui-media-bg);
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;

  &::before {
    counter-increment: list;
    content: counter(list);
  }

  &--counter-none {
    &::before {
      content: "";
    }
  }
}

@media (min-width: 768px) {
  .list__item-icon {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.list__item .list__item-icon + .list__item-text {
  display: inline-block;
  width: auto;
}

@media (min-width: 768px) {
  .list__item .list__item-icon + .list__item-text {
    text-align: left;
    max-width: calc(100% - 90px);
  }
}

.list__item-text {
  display: block;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: calc(var(--ui-heading-size) * 0.8333);
  font-family: var(--ui-heading-font-family);
  color: var(--ui-heading-color);
  line-height: var(--ui-heading-line-height);
  font-weight: var(--ui-heading-font-weight);
}

@media (min-width: 768px) {
  .list__item-text {
    text-align: center;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .list__item-text {
    text-align: left;
  }
}

.list:nth-last-child(1):first-child .list__item:first-child {
  margin-top: 0;
}

.btns-group {
  text-align: center;
  margin-top: 40px;
}

@media (min-width: 992px) {
  .btns-group {
    margin-top: 60px;
  }
}

.link {
  color: var(--ui-link-color);
  transition: color 0.2s ease-out;
}

.link:hover,
.link:active,
.link:focus {
  color: var(--ui-link-hover-color);
}

@media (min-width: 480px) {
  .button {
    width: auto;
    margin-right: 30px;
  }
}

.button:last-child {
  margin-top: 25px;
}

@media (min-width: 480px) {
  .button:last-child {
    margin-top: 0;
    margin-right: 0;
  }
}

.top-icon {
  width: 20px;
}

.media__decorator {
  position: absolute;
  color: red;
  width: 100%;
  transform: translate(20px, 20px);
}
