.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 992px) {
    padding: 75px 0;
  }
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

.title {
  margin-bottom: 15px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.subtitle {
  max-width: 620px;
  margin: 0 auto 15px;
  text-align: center;

  @media (min-width: 992px) {
    max-width: 770px;
  }
}

.items-wrapper {
  margin: 35px -15px 0;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.item {
  display: flex;
  width: 100%;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    max-width: calc(50% - 30px);
    margin: 0 15px 15px;
    flex-basis: calc(50% - 30px);
  }

  @media (min-width: 992px) {
    max-width: calc(33% - 30px);
    flex-basis: calc(33% - 30px);

    &:hover {
      .item__description {
        opacity: 1;
      }
    }
  }

  &__inner {
    display: flex;
    position: relative;
    min-height: 400px;
    justify-content: center;
    align-items: center;
  }

  &__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    display: flex;
    position: relative;
    min-width: 1px;
    margin: 30px;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &__heading {
    max-width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }

  &__description {
    max-width: 100%;

    @media(min-width: 992px) {
      opacity: 0;
      transition: opacity .2s ease-in;
    }
  }
}

.item:nth-last-of-type(4n):first-of-type,
.item:nth-last-of-type(4n):first-of-type ~ .item,
.item:nth-last-of-type(7):first-of-type,
.item:nth-last-of-type(7):first-of-type ~ .item {

  @media(min-width: 992px) {
    max-width: 25%;
    flex-basis: 25%;
  }
}

.btns-group {
  text-align: center;
  padding-top: 25px;
  margin-bottom: -10px;

  @media(min-width: 992px) {
    padding-top: 45px;
  }

  &__button,
  &__link {
    width: 100%;
    margin-bottom: 10px;

    @media (min-width: 480px) {
      width: auto;
      margin-right: 15px;
    }
  }
}
