@import "wireframe-zapdos-numbers/src/style.css";

.section {
  position: relative;
  background-color: transparent;

  &--without-button {
    padding-bottom: 50px;

    @media (min-width: 768px) {
      padding-bottom: 60px;
    }

    @media (min-width: 992px) {
      padding-bottom: 75px;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.items-wrapper {
  margin-bottom: -40px;

  @media (min-width: 768px) {
    margin-top: -25px;
    margin-bottom: -25px;
  }
}

.item {
  &__content {
    flex-direction: column;
  }

  &__number {
    max-width: 100%;
    margin-right: 0;
    font-size: var(--ui-block-title-size);
    line-height: var(--ui-block-title-line-height);
    font-family: var(--ui-block-title-font-family);
    font-weight: 700;
  }

  &__text {
    font-size: calc(var(--ui-text-size)*1.125);
    line-height: calc(var(--ui-block-title-line-height) * 1.364);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .item:nth-child(3) .item__content,
  .item:nth-child(4) .item__content {
    margin-right: 20px;
  }

  .item:nth-last-of-type(4):first-child,
  .item:nth-last-of-type(4):first-child ~ .item {
    flex-basis: calc(25% - 15px);
    max-width: calc(25% - 15px);
  }
}

@media (min-width: 768px) {
  .item {
    flex-basis: calc(25% - 15px);
    max-width: calc(25% - 15px);
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
