@import "wireframe-zapdos-testimonials/src/style.css";

/* start here */

.subtitle {
  margin: 37px auto 0;
  max-width: 848px;
}

.items-wrapper {
  :global {

    /* styles for custom arrows */
    .slick-arrow {
      color: var(--ui-light-shade-color);
      width: 25px;
      height: 25px;
      z-index: 1;
      transition: color .2s ease-in;

      &:hover,
      &:active,
      &:focus {
        color: var(--ui-brand-color);
      }
    }

    .slick-prev {
      top: calc(100% + 10px);
      left: 50%;
      transform: translateX(-200%);

      @media (min-width: 768px) {
        top: 125px;
        transform: translateX(-170px);
      }
    }

    .slick-next {
      right: 50%;
      top: calc(100% + 10px);
      transform: translateX(200%);

      @media (min-width: 768px) {
        top: 125px;
        transform: translateX(170px);
      }
    }

    .slick-prev::before,
    .slick-next::before {
      content: none;
    }
  }

  &--image-none {
    .item {
      &__title::after {
        content: none;
      }

      &__contacts {
        margin-top: 0;
      }
    }

    :global {
      .slick-prev {

        @media (min-width: 768px) {
          top: 25px;
        }
      }

      .slick-next {

        @media (min-width: 768px) {
          top: 25px;
        }
      }
    }
  }
}

.item {
  &__title {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background: var(--ui-light-accent-color);
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: -5px;
    }
  }

  &__pic-wrapper {
    display: block;

    @media (min-width: 768px) {
      padding-bottom: 50px;
    }
  }

  &__pic {
    width: 170px;
    height: 170px;
    margin-top: 20px;
    position: relative;
  }

  &__img {
    border-radius: 50%;
  }

  &__desc {
    color: #9d9e9f;
  }

  &__position {
    margin-top: 12px;
    text-transform: uppercase;
  }
}

@media (min-width: 480px) {
  .button {
    width: auto;
  }
}

@media (min-width: 768px) {
  .item__contacts {
    margin-bottom: 0;
    margin-top: 60px;
  }

  .item {
    &__title {
      &::after {
        top: -25px;
      }
    }
  }
}
