@import "wireframe-series-2-footer/src/style.css";

/* start here */
.footer {

  @media (min-width: 768px) {
    padding-top: 80px;
  }

  &__part {
    &--center {
      opacity: 0.6;

      @media (min-width: 992px) {
        flex-basis: 50%;
        padding-left: 35px;
      }
    }

    &--last {

      @media (min-width: 992px) {
        margin-left: unset;
      }
    }
  }

  &__text {

    @media (min-width: 768px) {
      font-size: calc(var(--ui-text-size) * 0.875);
      width: 270px;
    }
  }

  &__bottom {
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      top: 0;
      background-color: var(--ui-light-shade-color);
      opacity: 0.3;
    }

    &::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: var(--ui-light-shade-color);
      opacity: 0.6;
    }

    @media (min-width: 768px) {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-top: 70px;
    }
  }
}

.logo {
  max-width: 174px;

  a,
  picture {
    display: block;
  }

  @media (min-width: 768px) {
    margin-bottom: 35px;
  }
}

.socials {
  &__title {

    @media (min-width: 768px) {
      margin-bottom: 25px;
    }
  }

  @media (min-width: 768px) {
    align-items: center;
    margin-bottom: 0;
  }

  @media (min-width: 992px) {
    align-items: flex-start;
    margin-top: 0;
    text-align: left;
  }

  &__icons {

    @media (min-width: 992px) {
      text-align: left;
    }
  }
}
