@import "wireframe-zapdos-numbers/src/style.css";

/* start here */

.section {

  @media (min-width: 992px) {
    padding: 140px 0;
  }
}

.top-icon {
  display: flex;
  position: relative;
  margin: 0 auto 30px;
  width: 60px;
  height: 60px;
  padding: 20px;
  color: var(--ui-brand-color);

  > svg {
    max-width: 100%;
    max-height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--ui-dark-accent-color);
    opacity: 0.05;
  }
}

.title {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    text-align: center;
    margin-bottom: 40px;
  }
}

.item {
  box-shadow: 0 2px 12px 0 rgba(33, 67, 71, 0.08);
  flex-direction: column;
  padding: 52px 15px;
  margin: 0 15px 30px;

  @media (min-width: 768px) {
    margin: 1%;
    flex-basis: 31.3333%;
    max-width: 31.3333%;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--ui-caption-font-family);
    margin-top: 25px;
  }

  &__content {
    flex-direction: column;
  }

  &__number {
    font-size: var(--ui-block-title-size);
    font-weight: var(--ui-heading-font-weight);
    margin-right: 0;
  }

  &__text {
    text-align: center;
  }
}

.items-wrapper {
  justify-content: center;
}

@media (min-width: 992px) {
  .item:nth-last-of-type(4):first-child,
  .item:nth-last-of-type(4):first-child ~ .item {
    flex-basis: 48%;
    max-width: 48%;
  }
}
