@import "media.css";

.section {
  min-width: 320px;
  padding: 50px 0;
  word-wrap: break-word;

  @media (--ui-tablet-devices) {
    padding: 60px 0;
  }

  @media (--ui-medium-devices) {
    padding: 75px 0;
  }
}

.section--state-8 .contacts:first-child {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-right: 0;
}

.section--state-8 .contacts:first-child .logo-wrapper {
  display: block;
  max-width: 100%;
  margin-right: 0;
}

.section--state-8 .contacts:first-child .logo {
  width: auto;
  margin-right: 0;
  margin-bottom: 0;
}

.section--state-8 .contacts:first-child .socials {
  max-width: 100%;
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
  justify-content: center;
}

.section--state-8 .contacts:first-child .contacts-list__item {
  &:only-child {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (--ui-tablet-devices) {
  .section--state-8 .contacts:first-child .socials {
    margin-top: 40px;
  }
}

.section--column .section__main {
  flex-direction: column;
  align-items: center;
}

.section--state-11 {
  .map-wrapper {

    @media (--ui-tablet-devices) {
      order: 1;
    }
  }

  .contacts {

    @media (--ui-tablet-devices) {
      padding-left: 0;
      padding-right: 30px;
    }
  }

  &.section--state-3 .contacts {

    @media (--ui-tablet-devices) {
      padding-right: 0;
    }
  }
}

.section--column .map-wrapper {
  width: 100%;
  margin-bottom: 0;
}

.section--column .logo-wrapper {
  justify-content: center;
}

.section--column .map {
  position: relative;
  margin-bottom: 50px;
  flex: auto;
}

.section--column .contacts {
  width: auto;
  padding-left: 0;
  padding-right: 0;
  order: 2;
}

.section--column .socials__item {
  margin-top: 0;
}

.section--column .socials {
  display: block;
  text-align: center;
  margin-top: 0;
}

.section__inner {
  max-width: var(--ui-content-container);
  margin: 0 auto;
  padding: var(--ui-content-gutter);
}

@media (--ui-tablet-devices) {
  .section__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.title {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.map-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    width: 100%;
    margin-bottom: 0;
  }
}

@media (--ui-tablet-devices) {
  .map-wrapper {
    width: 66%;
    margin-bottom: 0;
  }
}

@media (--ui-medium-devices) {
  .map-wrapper {
    width: 74.4%;
  }
}

.map {
  padding-top: 58%;
}

@media (--ui-tablet-devices) {
  .map {
    padding-top: 40%;
  }
}

.map__preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.contacts {
  display: flex;
  flex-direction: column;

  @media (--ui-tablet-devices) {
    width: 34%;
    padding-left: 30px;
  }

  @media (--ui-medium-devices) {
    width: 25.6%;
  }
}

.contacts-list {

  @media (--ui-medium-devices) {
    margin-top: auto;
  }

  &__item {
    list-style: none;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (--ui-tablet-devices) {
    margin-bottom: 0;
    flex: 1 1 auto;
  }
}

.contacts__title {

  /* font-size: calc(var(--ui-heading-size) * 0.8334); */
}

/* @media (--ui-medium-devices) {
  .contacts__title {
    font-size: var(--ui-heading-size);
  }
} */

@media (--ui-large-devices) {
  .contacts__desc {

    @media (--ui-tablet-devices) {
      font-size: calc(var(--ui-text-size) * 1.25);
    }
  }
}

.contacts__desc a {
  max-width: 100%;
}

@media (--ui-tablet-devices) {
  .contacts:first-child {
    width: 100%;
    padding-left: 0;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .contacts:first-child .logo-wrapper {
    margin-right: 40px;
  }

  .contacts:first-child .logo {
    min-height: 75px;
    margin-bottom: 0;
  }

  .contacts:first-child .contacts-list {
    display: flex;

    /* width: 100%;
    max-width: calc(100% - 180px); */
    margin-top: 0;
    align-items: flex-start;
    justify-content: center;
  }

  .contacts:first-child .contacts-list__item {

    /* width: 265px;
    padding-right: 40px; */
    max-width: 33%;
    margin-bottom: 0;
    flex: 1 1 auto;
    flex-basis: 33%;

    &:only-child {
      max-width: 100%;
      padding-right: 0;
      flex-basis: 100%;
    }
  }

  .contacts:first-child .contacts-list__item:first-child:last-child {
    text-align: center;
  }

  .contacts:first-child .socials {
    margin-top: 0;
  }

  .contacts:first-child .socials__item {
    margin-top: 0;
  }
}

.section--state-3 {

  @media (--ui-tablet-devices) {
    .contacts .contacts-list {
      max-width: 80%;
      margin: 0 -20px;
      flex-basis: 80%;
    }

    .contacts .contacts-list__item {
      padding: 0 20px;
    }

    .contacts-list__item:nth-last-of-type(2):first-of-type,
    .contacts-list__item:nth-last-of-type(2):first-of-type ~ .contacts-list__item {
      max-width: 40%;
      flex-basis: 40%;
    }

    .contacts .socials {
      max-width: 20%;
      margin-left: auto;
      padding-left: 15px;
    }
  }

  @media (--ui-medium-devices) {
    .contacts .contacts-list {
      max-width: 70%;
      flex-basis: 70%;
    }
  }
}

.section--state-4 {

  @media (--ui-tablet-devices) {
    .contacts .contacts-list {
      display: flex;
      max-width: 100%;
      margin: 0 -20px;
      flex-basis: 100%;
    }

    .contacts-list__item {
      max-width: 33%;
      padding: 0 20px;
      flex-basis: 33%;
    }

    .contacts-list__item:only-child {
      max-width: 100%;
      flex-basis: 100%;
      text-align: center;
    }
  }

  @media (--ui-medium-devices) {
    .contacts .contacts-list {
      max-width: calc(100% - 270px);
    }

    .contacts .logo {
      width: auto;
    }
  }
}

.section--state-8 .contacts .contacts-list {
  display: block;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.logo-wrapper {
  display: none;
  margin-bottom: 30px;

  @media (--ui-medium-devices) {
    display: flex;
    flex-shrink: 0;
  }
}

.logo {
  display: flex;
  width: 100%;
  max-width: 270px;
  min-height: 120px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  picture {
    max-width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
  }

  img {
    max-width: 100%;
  }
}

.logo__pic {
  height: auto;
  max-width: 100%;
  background-color: var(--ui-media-bg);
}

.logo__title {
  min-width: 1px;
  max-width: 100%;
  font-size: var(--ui-text-size);
  line-height: var(--ui-text-line-height);
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
}

.socials {
  margin-top: 30px;
  font-size: 0;
}

.top-icon {
  width: 20px;
}

.subtitle {
  text-align: center;
}
