@import "wireframe-zapdos-text/src/style.css";

/* start here */
.section {
  &--left {
    .title {
      &::before {
        left: 0;
        right: auto;
        transform: translateX(0);
      }
    }
  }

  &--right {
    .title {
      &::before {
        left: auto;
        right: 0;
        transform: translateX(0);
      }
    }
  }
}

.section__inner {
  max-width: 1170px;
}

.title {
  position: relative;
  margin-bottom: 30px;

  &::before {
    display: block;
    content: "";
    width: 45px;
    height: 2px;
    background-color: var(--ui-brand-color);
    position: absolute;
    left: 50%;
    right: auto;
    top: 100%;
    transform: translateX(-50%);
    margin-top: 17px;
  }
}

.subtitle {
  margin-bottom: 53px;
}

.text {
  text-align: center;
  max-width: 100%;

  @media (min-width: 768px) {
    font-size: calc(var(--ui-text-size) * 1.5);
  }
}
